
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000106.jpg" title="#lakemichigan never disappoints. #fatbike #fatbikefriday #bikepackingbags #pogies #lovestarbicyclebags #cycling #bicycle #bikewinter " rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#lakemichigan never disappoints. #fatbike #fatbikefriday #bikepackingbags #pogies #lovestarbicyclebags #cycling #bicycle #bikewinter </small>
                           </div>
                           <img src="../lsphotos/image000106_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000107.jpg" title="#fatbikefriday ride exploring some new trails. #fatbike #pogies #bikepackingbags #lovestarbicyclebags " rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#fatbikefriday ride exploring some new trails. #fatbike #pogies #bikepackingbags #lovestarbicyclebags </small>
                           </div>
                           <img src="../lsphotos/image000107_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000108.jpg" title="Commute. #bikewinter #fatbike #pogies #bikepackingbags #lovestarbicyclebags #bikecommute " rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Commute. #bikewinter #fatbike #pogies #bikepackingbags #lovestarbicyclebags #bikecommute </small>
                           </div>
                           <img src="../lsphotos/image000108_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000109.jpg" title="It may have been a coincidence...but I was the only one not running studded tire's tonight...and I was the only one who crashed twice before even getting to the trailhead. Sitting at home looking at studded tire's online...#fatbike #bikewinter #bikepackingbags #bikepacking #pogies #lovestarbicyclebags " rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>It may have been a coincidence...but I was the only one not running studded tire's tonight...and I was the only one who crashed twice before even getting to the trailhead. Sitting at home looking at studded tire's online...#fatbike #bikewinter #bikepackingbags #bikepacking #pogies #lovestarbicyclebags </small>
                           </div>
                           <img src="../lsphotos/image000109_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000110.jpg" title="Testing begins... #pogies #handmade #lovestarbicyclebags #fatbike #bikewinter #SewRad " rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Testing begins... #pogies #handmade #lovestarbicyclebags #fatbike #bikewinter #SewRad </small>
                           </div>
                           <img src="../lsphotos/image000110_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000111.jpg" title="Couldn't resist a Daddy / Daughter #pogies shot. #handmade #bikewinter #fatbike #lovestarbicyclebags #SewRad " rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Couldn't resist a Daddy / Daughter #pogies shot. #handmade #bikewinter #fatbike #lovestarbicyclebags #SewRad </small>
                           </div>
                           <img src="../lsphotos/image000111_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000112.jpg" title="Finished these up Just in time for some wicked cold temps today. #lovestarbicyclebags #pogies #fatbike #bikewinter #handmade #SewRad " rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Finished these up Just in time for some wicked cold temps today. #lovestarbicyclebags #pogies #fatbike #bikewinter #handmade #SewRad </small>
                           </div>
                           <img src="../lsphotos/image000112_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000113.jpg" title="Another angle. #fatbike #pogies #lovestarbicyclebags #bikepackingbags #SewRad " rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Another angle. #fatbike #pogies #lovestarbicyclebags #bikepackingbags #SewRad </small>
                           </div>
                           <img src="../lsphotos/image000113_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000114.jpg" title="1st full sized pogie done. Fit seems pretty solid, time to assemble #2. #handmade #pogies #bikepackingbags #fatbike #lovestarbicyclebags #SewRad " rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>1st full sized pogie done. Fit seems pretty solid, time to assemble #2. #handmade #pogies #bikepackingbags #fatbike #lovestarbicyclebags #SewRad </small>
                           </div>
                           <img src="../lsphotos/image000114_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000115.jpg" title="#babySNUB 's micro-pogies worked out so well, I started cutting fabric today to make my own pair...we'll see how it goes #lovestarbicyclebags #handmade #bikewinter #pogies #cycling #bikepacking #bikepackingbags #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#babySNUB 's micro-pogies worked out so well, I started cutting fabric today to make my own pair...we'll see how it goes #lovestarbicyclebags #handmade #bikewinter #pogies #cycling #bikepacking #bikepackingbags #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000115_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000617.jpg" title="#lovestarfactoryteam Rollin' fat into the coffee shop. #fatbike #bikewinter #cycling #2fat2furious #stupidcarruinedmypicture " rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#lovestarfactoryteam Rollin' fat into the coffee shop. #fatbike #bikewinter #cycling #2fat2furious #stupidcarruinedmypicture </small>
                           </div>
                           <img src="../lsphotos/image000617_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000618.jpg" title="Cold maiden voyage for a teammate's fatbike this morning. #2fat2furious #fatbike #lovestarfactoryteam #bikewinter #cycling " rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Cold maiden voyage for a teammate's fatbike this morning. #2fat2furious #fatbike #lovestarfactoryteam #bikewinter #cycling </small>
                           </div>
                           <img src="../lsphotos/image000618_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000619.jpg" title="Winter bike bonanza! #lsb #lovestarfactoryteam #itsnotthatcold" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>ddave12000</h4>
                              <small>Winter bike bonanza! #lsb #lovestarfactoryteam #itsnotthatcold</small>
                           </div>
                           <img src="../lsphotos/image000619_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000116.jpg" title="Ravines = Illinois elevation. #fatbike #bikewinter #lovestarbicyclebags #bikepackingbags #bikepacking " rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Ravines = Illinois elevation. #fatbike #bikewinter #lovestarbicyclebags #bikepackingbags #bikepacking </small>
                           </div>
                           <img src="../lsphotos/image000116_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000117.jpg" title="Powder & negative temps for this morning's commute. #fatbike #bikewinter #lovestarbicyclebags #bikepackingbags #bikepacking " rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Powder & negative temps for this morning's commute. #fatbike #bikewinter #lovestarbicyclebags #bikepackingbags #bikepacking </small>
                           </div>
                           <img src="../lsphotos/image000117_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000118.jpg" title="Cold, dark & powder. #fatbike #nightride #lovestarbicyclebags #cycling #bikewinter " rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Cold, dark & powder. #fatbike #nightride #lovestarbicyclebags #cycling #bikewinter </small>
                           </div>
                           <img src="../lsphotos/image000118_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000119.jpg" title="Toasty in her micro-pogies! #babySNUB #lovestarbicyclebags #pogies #fatbike #clearybikes #adventuredad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Toasty in her micro-pogies! #babySNUB #lovestarbicyclebags #pogies #fatbike #clearybikes #adventuredad</small>
                           </div>
                           <img src="../lsphotos/image000119_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000120.jpg" title="More awesome custom gear!  So cool! #clearygecko #clearybikes #Repost @elliotlovestarbicycles with @repostapp.
・・・
Finished up a set of micro-pogies for a #clearybikes Gecko. Hard to appreciate the scale of these from the photo, but they are adorbs. #lovestarbicyclebags #bikepacking #fatbike #pogies #bikewinter #futurecyclist #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>clearybikes</h4>
                              <small>More awesome custom gear!  So cool! #clearygecko #clearybikes #Repost @elliotlovestarbicycles with @repostapp.
・・・
Finished up a set of micro-pogies for a #clearybikes Gecko. Hard to appreciate the scale of these from the photo, but they are adorbs. #lovestarbicyclebags #bikepacking #fatbike #pogies #bikewinter #futurecyclist #cycling</small>
                           </div>
                           <img src="../lsphotos/image000120_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000121.jpg" title="Finished up a set of micro-pogies for a #clearybikes Gecko. Hard to appreciate the scale of these from the photo, but they are adorbs. #lovestarbicyclebags #bikepacking #fatbike #pogies #bikewinter #futurecyclist #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Finished up a set of micro-pogies for a #clearybikes Gecko. Hard to appreciate the scale of these from the photo, but they are adorbs. #lovestarbicyclebags #bikepacking #fatbike #pogies #bikewinter #futurecyclist #cycling</small>
                           </div>
                           <img src="../lsphotos/image000121_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000122.jpg" title="Fresh snow! After the first mile or so on the #northbranchtrail the conditions were so perfect, I turned off all of my lights and rode in darkness. As my eyes adjusted I could see everything, and it was so quiet with the fresh snow...It was beautiful beyond description. #fatbike #lovestarbicyclebags #bikepackingbags #bikepacking #cycling #nightride" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Fresh snow! After the first mile or so on the #northbranchtrail the conditions were so perfect, I turned off all of my lights and rode in darkness. As my eyes adjusted I could see everything, and it was so quiet with the fresh snow...It was beautiful beyond description. #fatbike #lovestarbicyclebags #bikepackingbags #bikepacking #cycling #nightride</small>
                           </div>
                           <img src="../lsphotos/image000122_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram14.html" class="next">Next Page</a></center>