
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000500.jpg" title="Got an early morning ride with my dad this morning! #cycling #bicycle #bikechi #evanston #lovestarraceclub #adventuredad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Got an early morning ride with my dad this morning! #cycling #bicycle #bikechi #evanston #lovestarraceclub #adventuredad</small>
                           </div>
                           <img src="../lsphotos/image000500_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000501.jpg" title="First ride post adventure....phew, my legs are still tired. 🚲😳 #cycling #bicycle #LovestarRaceClub" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>First ride post adventure....phew, my legs are still tired. 🚲😳 #cycling #bicycle #LovestarRaceClub</small>
                           </div>
                           <img src="../lsphotos/image000501_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000502.jpg" title="Definitely cleared that barrier! #lovestarraceclub #cxrelay #crossishere" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>ddave12000</h4>
                              <small>Definitely cleared that barrier! #lovestarraceclub #cxrelay #crossishere</small>
                           </div>
                           <img src="../lsphotos/image000502_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000503.jpg" title="Somebody is loving his new bike! #jnbs #lovestarraceclub" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>ddave12000</h4>
                              <small>Somebody is loving his new bike! #jnbs #lovestarraceclub</small>
                           </div>
                           <img src="../lsphotos/image000503_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000504.jpg" title="Great recovery ride with the Harriff Boyz. Even got to ride through The Funnel. #lovestarraceclub #funnel" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>agonz21</h4>
                              <small>Great recovery ride with the Harriff Boyz. Even got to ride through The Funnel. #lovestarraceclub #funnel</small>
                           </div>
                           <img src="../lsphotos/image000504_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000505.jpg" title="Beautiful morning with the #lovestarraceclub" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>theandyhudson</h4>
                              <small>Beautiful morning with the #lovestarraceclub</small>
                           </div>
                           <img src="../lsphotos/image000505_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000022.jpg" title="Celebratory Alfredo Mac & bombers in the shadow of the mountain. #mthood #bikepacking #lovestarbicyclebags #bikecamping" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Celebratory Alfredo Mac & bombers in the shadow of the mountain. #mthood #bikepacking #lovestarbicyclebags #bikecamping</small>
                           </div>
                           <img src="../lsphotos/image000022_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000023.jpg" title="Lolo Pass Hut. #mthood #bikepacking #bikecamping #lovestarbicyclebags #fatbike #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Lolo Pass Hut. #mthood #bikepacking #bikecamping #lovestarbicyclebags #fatbike #cycling</small>
                           </div>
                           <img src="../lsphotos/image000023_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000024.jpg" title="Always be strava-ing #bikepacking #bikecamping #mthood #lovestarbicyclebags #strava #kom" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Always be strava-ing #bikepacking #bikecamping #mthood #lovestarbicyclebags #strava #kom</small>
                           </div>
                           <img src="../lsphotos/image000024_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000025.jpg" title="Day 4. @elliotlovestarbicycles Mt. Hood adventure. Trillium Lake. #bikepacking #bikecamping #mthood #fatbike #lovestarbicyclebags ##custombikebags #lovestarraceclub #adventurebike #lovestarfactoryteam #iamsoproudofmyson" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Day 4. @elliotlovestarbicycles Mt. Hood adventure. Trillium Lake. #bikepacking #bikecamping #mthood #fatbike #lovestarbicyclebags ##custombikebags #lovestarraceclub #adventurebike #lovestarfactoryteam #iamsoproudofmyson</small>
                           </div>
                           <img src="../lsphotos/image000025_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000026.jpg" title="Day 3. @elliotlovestarbicycles Mt. Hood adventure. @agonz21 climbing away... averaging 5000+ feet of climbing a day! #bikepacking #bikecamping #mthood #cycling #lovestarbicyclebags #fatbike #custombikebags #lovestarraceclub #adventurebike #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Day 3. @elliotlovestarbicycles Mt. Hood adventure. @agonz21 climbing away... averaging 5000+ feet of climbing a day! #bikepacking #bikecamping #mthood #cycling #lovestarbicyclebags #fatbike #custombikebags #lovestarraceclub #adventurebike #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000026_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000027.jpg" title="Trillium Lake #mtb #fatbike #bikepacking #bikecanping #mthood #trilliumlake #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Trillium Lake #mtb #fatbike #bikepacking #bikecanping #mthood #trilliumlake #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000027_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000506.jpg" title="Day 3, Mt Hood loop. Taking some time to chill and enjoy the scenery. Such a beautiful place... #lovestarraceclub #trilliumlake" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>agonz21</h4>
                              <small>Day 3, Mt Hood loop. Taking some time to chill and enjoy the scenery. Such a beautiful place... #lovestarraceclub #trilliumlake</small>
                           </div>
                           <img src="../lsphotos/image000506_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000507.jpg" title="Why drive when you can ride? #lovestarraceclub #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>theandyhudson</h4>
                              <small>Why drive when you can ride? #lovestarraceclub #cycling</small>
                           </div>
                           <img src="../lsphotos/image000507_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000028.jpg" title="Day 2. @elliotlovestarbicycles Mt. Hood bike packing adventure. View from Surveyors Ridge. #bikecamping #bikepacking #mthood #fatbike #adventurebike #lovestarbicyclebags #custombikebags #lovestarraceclub #lovestarbicyclebags #cycling #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Day 2. @elliotlovestarbicycles Mt. Hood bike packing adventure. View from Surveyors Ridge. #bikecamping #bikepacking #mthood #fatbike #adventurebike #lovestarbicyclebags #custombikebags #lovestarraceclub #lovestarbicyclebags #cycling #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000028_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000029.jpg" title="Day 2 @elliotlovestarbicycles Mt. Hood adventure. Rode 28 miles and climbed 5700 feet. #bikepacking #bikecamping #mthood #fatbike #adventurebike #lovestarfactoryteam #elliotlovestarbicycles#cycling #lovestarbicyclebags #adventure #custombikebags #lovestarraceclub" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Day 2 @elliotlovestarbicycles Mt. Hood adventure. Rode 28 miles and climbed 5700 feet. #bikepacking #bikecamping #mthood #fatbike #adventurebike #lovestarfactoryteam #elliotlovestarbicycles#cycling #lovestarbicyclebags #adventure #custombikebags #lovestarraceclub</small>
                           </div>
                           <img src="../lsphotos/image000029_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000030.jpg" title="Mount Hood. #bikepacking #bikecamping #mthood #fatbike #bicycle #adventurebike #cycling #mtb #handmade #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Mount Hood. #bikepacking #bikecamping #mthood #fatbike #bicycle #adventurebike #cycling #mtb #handmade #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000030_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000031.jpg" title="Day 1 in the back country and things are already getting a bit Lord of the Flies out here. #lovestarbicyclebags #bicycle #mthood #fatbike #cycling #bikepacking #bikecamping" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Day 1 in the back country and things are already getting a bit Lord of the Flies out here. #lovestarbicyclebags #bicycle #mthood #fatbike #cycling #bikepacking #bikecamping</small>
                           </div>
                           <img src="../lsphotos/image000031_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000032.jpg" title="28 miles, 5700 feet of climbing. #cascadehuts #bikepacking #bikecamping #cycling #bicycle #mthood #lovestarbicyclebags #fatbike" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>28 miles, 5700 feet of climbing. #cascadehuts #bikepacking #bikecamping #cycling #bicycle #mthood #lovestarbicyclebags #fatbike</small>
                           </div>
                           <img src="../lsphotos/image000032_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000033.jpg" title="Day 1....Gear shakedown. Dinner Sleep. Wake up. Ride....trail time begins!!! #bikepacking #bikecamping #mthood #cycling #lovestarraceclub #lovestarbicyclebags #adventures #elliotlovestarbicycle" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Day 1....Gear shakedown. Dinner Sleep. Wake up. Ride....trail time begins!!! #bikepacking #bikecamping #mthood #cycling #lovestarraceclub #lovestarbicyclebags #adventures #elliotlovestarbicycle</small>
                           </div>
                           <img src="../lsphotos/image000033_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram4.html" class="next">Next Page</a></center>