
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000377.jpg" title="Everyone has their own per-race rituals...mine starts the night before a race, Laying out everything I plan on takin' with me. See y'all out at Relay CX tomorrow! #cyclocross #cx #moots #lovestarbicyclebags #bikechi #CCCX" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Everyone has their own per-race rituals...mine starts the night before a race, Laying out everything I plan on takin' with me. See y'all out at Relay CX tomorrow! #cyclocross #cx #moots #lovestarbicyclebags #bikechi #CCCX</small>
                           </div>
                           <img src="../lsphotos/image000377_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000378.jpg" title="Finished up a custom Saddle Pack. Hard to do justice to these colors in a picture...the pink, orange, white & sky blue look pretty sweet together. #handmade #lovestarbicyclebags #cycling #bikepacking #custom" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Finished up a custom Saddle Pack. Hard to do justice to these colors in a picture...the pink, orange, white & sky blue look pretty sweet together. #handmade #lovestarbicyclebags #cycling #bikepacking #custom</small>
                           </div>
                           <img src="../lsphotos/image000378_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000379.jpg" title="And a close-up. #lovestarbicyclebags #bikebag #bikechi #handmade #bikepacking" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>And a close-up. #lovestarbicyclebags #bikebag #bikechi #handmade #bikepacking</small>
                           </div>
                           <img src="../lsphotos/image000379_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000380.jpg" title="Finished up a custom Fuel Bag for a customer today. Black and red looked so good I had to use my own bike for the photoshoot. #custom #handmade #madeinchicago #bikechi #bikepacking #cycling #bikebag #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Finished up a custom Fuel Bag for a customer today. Black and red looked so good I had to use my own bike for the photoshoot. #custom #handmade #madeinchicago #bikechi #bikepacking #cycling #bikebag #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000380_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000381.jpg" title="The Lovestar Factory Team is gonna look sharp this year. #championsystems #customkit #cyclocross #cycling #cxiscoming #bikechi #chicagocrosscup #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>The Lovestar Factory Team is gonna look sharp this year. #championsystems #customkit #cyclocross #cycling #cxiscoming #bikechi #chicagocrosscup #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000381_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000382.jpg" title="The arrival. #customkit #cycling #cyclocross #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>The arrival. #customkit #cycling #cyclocross #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000382_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000383.jpg" title="Finished up this set of SaddlePacks today. Clean bold colors makes for a nice group photo. #lovestarbicyclebags #handmade #madeinchicago #cycling #bikepacking #bikebag" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Finished up this set of SaddlePacks today. Clean bold colors makes for a nice group photo. #lovestarbicyclebags #handmade #madeinchicago #cycling #bikepacking #bikebag</small>
                           </div>
                           <img src="../lsphotos/image000383_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000384.jpg" title="Lovestar Saddle Pack out on the road. #lovestarbicyclebags #custom #handmade #bikechi #madeinchicago #cycling #bicycle" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Lovestar Saddle Pack out on the road. #lovestarbicyclebags #custom #handmade #bikechi #madeinchicago #cycling #bicycle</small>
                           </div>
                           <img src="../lsphotos/image000384_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000385.jpg" title="More Lovestar Saddle Packs. Had some time off for some big life things...now time to get caught up on orders! #lovestarbicyclebags #cycling #bikechi #bikepacking #handmade #custom #sewawesome" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>More Lovestar Saddle Packs. Had some time off for some big life things...now time to get caught up on orders! #lovestarbicyclebags #cycling #bikechi #bikepacking #handmade #custom #sewawesome</small>
                           </div>
                           <img src="../lsphotos/image000385_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000386.jpg" title="Finished up this slick Saddle Pack tonight. Shipping out to Germany tomorrow! Grey with blaze orange turned out really well, still one of my favorite color combos #lovestarbicyclebags #handmade #bicycle #cycling #bikepacking #custom" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Finished up this slick Saddle Pack tonight. Shipping out to Germany tomorrow! Grey with blaze orange turned out really well, still one of my favorite color combos #lovestarbicyclebags #handmade #bicycle #cycling #bikepacking #custom</small>
                           </div>
                           <img src="../lsphotos/image000386_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000387.jpg" title="Lots of Saddle Packs in the works this weekend. #lovestarbicyclebags #handmade #cycling #bikechi #bikepacking #custom" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Lots of Saddle Packs in the works this weekend. #lovestarbicyclebags #handmade #cycling #bikechi #bikepacking #custom</small>
                           </div>
                           <img src="../lsphotos/image000387_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000388.jpg" title="Started accessorizing to my new team kit...both my helmet and shoes came in this week. They are both &quot;hit-you-in-the-face&quot; bright. #lovestarbicyclebags #nofilter lazersport #giro #orangeyougladididntsaybanana" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Started accessorizing to my new team kit...both my helmet and shoes came in this week. They are both "hit-you-in-the-face" bright. #lovestarbicyclebags #nofilter lazersport #giro #orangeyougladididntsaybanana</small>
                           </div>
                           <img src="../lsphotos/image000388_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000389.jpg" title="Hey Lovestar Teammates! Looking for some sweet bike kicks to go with our new team kit? Check out these Bont Vaypors on EBay. You wear these with some blue socks... #nextlevel #cycling #lovestarbicyclebags #cyclingstyle @casadewaggoner @agonz21" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Hey Lovestar Teammates! Looking for some sweet bike kicks to go with our new team kit? Check out these Bont Vaypors on EBay. You wear these with some blue socks... #nextlevel #cycling #lovestarbicyclebags #cyclingstyle @casadewaggoner @agonz21</small>
                           </div>
                           <img src="../lsphotos/image000389_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000390.jpg" title="My personal Lovestar Saddle Pack ride kit. #cycling #bikechi #bicycle #lovestarbicyclebags #fixitsticks @fixitsticks #essentials" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>My personal Lovestar Saddle Pack ride kit. #cycling #bikechi #bicycle #lovestarbicyclebags #fixitsticks @fixitsticks #essentials</small>
                           </div>
                           <img src="../lsphotos/image000390_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000391.jpg" title="First real ride in about a week. Legs felt alright, still was hacking with some lingering rasping in my lungs, but I think I'm over the hump with this illness. Lots of nice trails today, and happened upon a criterium mid-ride! #recoveryride #backinthesaddleagain #cycling #bikechi #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>First real ride in about a week. Legs felt alright, still was hacking with some lingering rasping in my lungs, but I think I'm over the hump with this illness. Lots of nice trails today, and happened upon a criterium mid-ride! #recoveryride #backinthesaddleagain #cycling #bikechi #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000391_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000392.jpg" title="A batch of Lovestar Factory Team saddle packs. two interior color options...both of them rad. #cycling #bikechi #bicycle #lovestarbicyclebags #handmade #bikepacking" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>A batch of Lovestar Factory Team saddle packs. two interior color options...both of them rad. #cycling #bikechi #bicycle #lovestarbicyclebags #handmade #bikepacking</small>
                           </div>
                           <img src="../lsphotos/image000392_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000393.jpg" title="Finished up this official Lovestar Factory Team saddle pack this morning. Really pleased with how it turned out. #handmade #cycling #bikechi #bicyclebag #bikepacking #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Finished up this official Lovestar Factory Team saddle pack this morning. Really pleased with how it turned out. #handmade #cycling #bikechi #bicyclebag #bikepacking #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000393_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000394.jpg" title="Next level cycling style...matching your saddle pack to your team kit.  #nextlevel #cycling #lovestarbicyclebags #bikechi #handmade #bikepacking" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Next level cycling style...matching your saddle pack to your team kit.  #nextlevel #cycling #lovestarbicyclebags #bikechi #handmade #bikepacking</small>
                           </div>
                           <img src="../lsphotos/image000394_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000395.jpg" title="Orange and Dark Grey custom Lovestar framebag for a Novara mountain bike.  #lovestarbicyclebags #bicycle #bikechi #bicyclebag #bikepacking #bikecamping #cycling #handmade" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Orange and Dark Grey custom Lovestar framebag for a Novara mountain bike.  #lovestarbicyclebags #bicycle #bikechi #bicyclebag #bikepacking #bikecamping #cycling #handmade</small>
                           </div>
                           <img src="../lsphotos/image000395_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000396.jpg" title="Finished with fabrication for this custom framebag... Time to begin construction! #handmade #cycling  #lovestarbicyclebags #bicyclebag #bikechi #bikepacking #bikecamping" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Finished with fabrication for this custom framebag... Time to begin construction! #handmade #cycling  #lovestarbicyclebags #bicyclebag #bikechi #bikepacking #bikecamping</small>
                           </div>
                           <img src="../lsphotos/image000396_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram34.html" class="next">Next Page</a></center>