
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000397.jpg" title="Custom Lovestar framebag in the works...lots of orange! #handmade #bicycle #cycling #bikechi #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Custom Lovestar framebag in the works...lots of orange! #handmade #bicycle #cycling #bikechi #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000397_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000398.jpg" title="Set up a temporary workspace on vacation. Cranked out this lime-green & black Saddle Pack tonight. #lovestarbicyclebags #cycling #handmade #bicycle #bikechi #singersewingmachines #vacationprojects" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Set up a temporary workspace on vacation. Cranked out this lime-green & black Saddle Pack tonight. #lovestarbicyclebags #cycling #handmade #bicycle #bikechi #singersewingmachines #vacationprojects</small>
                           </div>
                           <img src="../lsphotos/image000398_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000399.jpg" title="There's more than one way to prove how much you've been riding. #cycling #bikechi #lovestarbicyclebags #coffeerides" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>There's more than one way to prove how much you've been riding. #cycling #bikechi #lovestarbicyclebags #coffeerides</small>
                           </div>
                           <img src="../lsphotos/image000399_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000400.jpg" title="Coming soon to the streets of Chicagoland. #bikechi #cycling #championsystems #lovestarbicyclebags #customkit #styles4miles" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Coming soon to the streets of Chicagoland. #bikechi #cycling #championsystems #lovestarbicyclebags #customkit #styles4miles</small>
                           </div>
                           <img src="../lsphotos/image000400_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000401.jpg" title="Judson to cemetery, solo to Illinois Beach State Park & then on to the in-laws in Winthrop Harbor. #lakemichigan #cycling #bikechi #lovestarbicyclebags #bmc #slx01 #lazer #smithoptics #illinoisbeachstatepark" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Judson to cemetery, solo to Illinois Beach State Park & then on to the in-laws in Winthrop Harbor. #lakemichigan #cycling #bikechi #lovestarbicyclebags #bmc #slx01 #lazer #smithoptics #illinoisbeachstatepark</small>
                           </div>
                           <img src="../lsphotos/image000401_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000402.jpg" title="So much good in this post ride picture. #belgian #waffles #moots #springflowers #bikechi #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>So much good in this post ride picture. #belgian #waffles #moots #springflowers #bikechi #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000402_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000403.jpg" title="Sunset group ride. #bikechi #velosmith #cycling #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Sunset group ride. #bikechi #velosmith #cycling #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000403_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000404.jpg" title="Trying to finish up one more Saddle Pack for a customer before heading out to #Denver tomorrow... #lovestarbicyclebags #handmade #bikechi #bikepacking #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Trying to finish up one more Saddle Pack for a customer before heading out to #Denver tomorrow... #lovestarbicyclebags #handmade #bikechi #bikepacking #cycling</small>
                           </div>
                           <img src="../lsphotos/image000404_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000405.jpg" title="Putting some finishing touches on a set of Lovestar bags for a customer. Grey & Black with yellow interiors, this saddle pack / fuel bag combo makes a great do-anything bag combo. #handmade #cycling #bikechi #lovestarbicyclebags #bikepacking" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Putting some finishing touches on a set of Lovestar bags for a customer. Grey & Black with yellow interiors, this saddle pack / fuel bag combo makes a great do-anything bag combo. #handmade #cycling #bikechi #lovestarbicyclebags #bikepacking</small>
                           </div>
                           <img src="../lsphotos/image000405_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000406.jpg" title="Lovestar Saddle Pack & Fuel Bag combo in progress for a customer. The Grey with black trim & yellow interior is really poppin' #lovestarbicyclebags #cycling #bikepacking #bikechi #handmade" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Lovestar Saddle Pack & Fuel Bag combo in progress for a customer. The Grey with black trim & yellow interior is really poppin' #lovestarbicyclebags #cycling #bikepacking #bikechi #handmade</small>
                           </div>
                           <img src="../lsphotos/image000406_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000407.jpg" title="Long daddy/daughter ride today. He worn her pink jersey and had a post ride biscotti. #giro #futurecyclist #cycling #bikechi #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Long daddy/daughter ride today. He worn her pink jersey and had a post ride biscotti. #giro #futurecyclist #cycling #bikechi #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000407_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000408.jpg" title="Worked at Bike the Drive this morning. My day stared around 2:30am...saw a beautiful sunrise over Lake Michigan, got to ride a small section of a car-free Lake Shore Drive, saw some killer fat bikes from @wisemanframeworks and helped a lot of people get out on bikes today. All in all not a bad way to spend a day. #bikethedrive #bikechi #cycling #lovestarbicyclebags #chicago #lakeshoredrive #carfree" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Worked at Bike the Drive this morning. My day stared around 2:30am...saw a beautiful sunrise over Lake Michigan, got to ride a small section of a car-free Lake Shore Drive, saw some killer fat bikes from @wisemanframeworks and helped a lot of people get out on bikes today. All in all not a bad way to spend a day. #bikethedrive #bikechi #cycling #lovestarbicyclebags #chicago #lakeshoredrive #carfree</small>
                           </div>
                           <img src="../lsphotos/image000408_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000409.jpg" title="Found some virgin bike trail pavement today. #bikechi #cycling #lovestarbicyclebags #summer #mcclorypath" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Found some virgin bike trail pavement today. #bikechi #cycling #lovestarbicyclebags #summer #mcclorypath</small>
                           </div>
                           <img src="../lsphotos/image000409_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000410.jpg" title="Daddy / daughter recovery ride today. #bikechi #cycling #futurecyclist #lovestarbicyclebags #moots #psyhlox" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Daddy / daughter recovery ride today. #bikechi #cycling #futurecyclist #lovestarbicyclebags #moots #psyhlox</small>
                           </div>
                           <img src="../lsphotos/image000410_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000411.jpg" title="Almanzo 100 2014. We came, we saw, we crushed gravel. #almanzorv #almanzo100 #fixitsticks #racedots #gravelgrinder #gravel #lovestarbicyclebags #moots" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Almanzo 100 2014. We came, we saw, we crushed gravel. #almanzorv #almanzo100 #fixitsticks #racedots #gravelgrinder #gravel #lovestarbicyclebags #moots</small>
                           </div>
                           <img src="../lsphotos/image000411_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000412.jpg" title="Successful Almanzo 100! #almanzorv #almanzo100 #gravel #gravelgrinder #lovestarbicyclebags #cycling #moots" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Successful Almanzo 100! #almanzorv #almanzo100 #gravel #gravelgrinder #lovestarbicyclebags #cycling #moots</small>
                           </div>
                           <img src="../lsphotos/image000412_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000413.jpg" title="Blue & white Lovestar Saddle Pack for a team mate. #handmade #lovestarbicyclebags #cycling #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Blue & white Lovestar Saddle Pack for a team mate. #handmade #lovestarbicyclebags #cycling #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000413_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000414.jpg" title="Chilly rides deserve warm drinks. #lovestarbicyclebags #airattack #cycling #bikechi #espresso" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Chilly rides deserve warm drinks. #lovestarbicyclebags #airattack #cycling #bikechi #espresso</small>
                           </div>
                           <img src="../lsphotos/image000414_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000415.jpg" title="Flower power...meet pedal power. #lovestarbicyclebags #bikechi #cycling #moots" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Flower power...meet pedal power. #lovestarbicyclebags #bikechi #cycling #moots</small>
                           </div>
                           <img src="../lsphotos/image000415_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000416.jpg" title="Pink & Neon Lime racing stripes on a black XPac Lovestar Saddle Pack. Neon Lime interior #lovestarbicyclebags #handmade #bikechi #cycling #racingstripesmakeyoufaster" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Pink & Neon Lime racing stripes on a black XPac Lovestar Saddle Pack. Neon Lime interior #lovestarbicyclebags #handmade #bikechi #cycling #racingstripesmakeyoufaster</small>
                           </div>
                           <img src="../lsphotos/image000416_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram35.html" class="next">Next Page</a></center>