
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000591.jpg" title="I guess deep down, I kept hoping them at the forecasts for snow and freezing rain were all a big April fools gag. #cycling #bikechi #bicycle #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>I guess deep down, I kept hoping them at the forecasts for snow and freezing rain were all a big April fools gag. #cycling #bikechi #bicycle #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000591_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000592.jpg" title="Sometimes the group ride is just as fun when it's just two peeps.  #lovestarfactoryteam #myparlee #bagelart #lsbbc" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>agonz21</h4>
                              <small>Sometimes the group ride is just as fun when it's just two peeps.  #lovestarfactoryteam #myparlee #bagelart #lsbbc</small>
                           </div>
                           <img src="../lsphotos/image000592_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000073.jpg" title="Today's ride pace. #bicycle #cycling #clearybikes #lovestarbicyclebags #optoutside #outsideisfree #futurecyclist #babySNUB" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Today's ride pace. #bicycle #cycling #clearybikes #lovestarbicyclebags #optoutside #outsideisfree #futurecyclist #babySNUB</small>
                           </div>
                           <img src="../lsphotos/image000073_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000593.jpg" title="#tbt to @casadewaggoner leading the #lovestarfactoryteam across the finish line at last year's #Almanzo 100" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>theandyhudson</h4>
                              <small>#tbt to @casadewaggoner leading the #lovestarfactoryteam across the finish line at last year's #Almanzo 100</small>
                           </div>
                           <img src="../lsphotos/image000593_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000594.jpg" title="Mud stud. #lovestarfactoryteam #gravelgrinder #dprt #cycling #bicycle #gravel" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Mud stud. #lovestarfactoryteam #gravelgrinder #dprt #cycling #bicycle #gravel</small>
                           </div>
                           <img src="../lsphotos/image000594_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000595.jpg" title="DPRT with this guy. #lovestarfactoryteam #cycling #gravelgrinder" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>DPRT with this guy. #lovestarfactoryteam #cycling #gravelgrinder</small>
                           </div>
                           <img src="../lsphotos/image000595_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000074.jpg" title="Resistance training. #adventuredad #cycling #fatbike #thulechariot #lovestarbicyclebags #therobertaxleproject" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Resistance training. #adventuredad #cycling #fatbike #thulechariot #lovestarbicyclebags #therobertaxleproject</small>
                           </div>
                           <img src="../lsphotos/image000074_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000596.jpg" title="Got a quick ride in during the kids nap today...finished it off by playing around on my neighborhood pirate trails. #cycling #cyclocross #cyclocross365 #moots #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Got a quick ride in during the kids nap today...finished it off by playing around on my neighborhood pirate trails. #cycling #cyclocross #cyclocross365 #moots #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000596_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000075.jpg" title="#babyARC was up most of last night feeling sick & sad. After a tough morning, I just bundled him up and we went for a ride, he passed out after the first 100 feet...so we rode around for an hour until he woke up. Fresh air and sunshine are good medicine. #outsideisfree #optoutside #cycling #fatbike #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#babyARC was up most of last night feeling sick & sad. After a tough morning, I just bundled him up and we went for a ride, he passed out after the first 100 feet...so we rode around for an hour until he woke up. Fresh air and sunshine are good medicine. #outsideisfree #optoutside #cycling #fatbike #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000075_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000076.jpg" title="Nothing says Spring like a fresh dusting of snow. #cycling #bikechi #moots #psychloX #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Nothing says Spring like a fresh dusting of snow. #cycling #bikechi #moots #psychloX #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000076_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000077.jpg" title="Good Friday sunrise ride. #cycling #bikechi #moots #psychloX #cannondale #superX #lovestarfactoryteam #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Good Friday sunrise ride. #cycling #bikechi #moots #psychloX #cannondale #superX #lovestarfactoryteam #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000077_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000078.jpg" title="Spring is supposedly here in #Chicago...complete with sleet, snow & freezing rain. Had to mount up some mudguards for tomorrow's ride... #cycling #bikechi #moots #psychloX #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Spring is supposedly here in #Chicago...complete with sleet, snow & freezing rain. Had to mount up some mudguards for tomorrow's ride... #cycling #bikechi #moots #psychloX #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000078_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000079.jpg" title="Chicagoland landmarks. #bikechi #moots #psychloX #bicycle #cycling #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Chicagoland landmarks. #bikechi #moots #psychloX #bicycle #cycling #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000079_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000597.jpg" title="Beautiful day for a recovery ride to the Fort. #lovestarfactoryteam #myparlee" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>agonz21</h4>
                              <small>Beautiful day for a recovery ride to the Fort. #lovestarfactoryteam #myparlee</small>
                           </div>
                           <img src="../lsphotos/image000597_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000080.jpg" title="Chilly Sunny Spring ride. #cycling #lovestarbicyclebags #bicycle #moots #psychloX" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Chilly Sunny Spring ride. #cycling #lovestarbicyclebags #bicycle #moots #psychloX</small>
                           </div>
                           <img src="../lsphotos/image000080_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000598.jpg" title="The #lovestarfactoryteam in Racine, WI from yesterday's monster ride." rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>theandyhudson</h4>
                              <small>The #lovestarfactoryteam in Racine, WI from yesterday's monster ride.</small>
                           </div>
                           <img src="../lsphotos/image000598_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000599.jpg" title="Riding with great people is the best. Great job y'all #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>agonz21</h4>
                              <small>Riding with great people is the best. Great job y'all #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000599_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000600.jpg" title="Today. #cycling #parlee #scottbikes #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>theandyhudson</h4>
                              <small>Today. #cycling #parlee #scottbikes #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000600_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000601.jpg" title="#babyARC wasn't quite as sure about this cobbles thing as his sister... #cobbles #cycling #futurecyclist #thulechariot #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#babyARC wasn't quite as sure about this cobbles thing as his sister... #cobbles #cycling #futurecyclist #thulechariot #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000601_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000081.jpg" title="Not a long ride...but an important one. #vote #lovestarbicyclebags #cycling #illinoisprimary" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Not a long ride...but an important one. #vote #lovestarbicyclebags #cycling #illinoisprimary</small>
                           </div>
                           <img src="../lsphotos/image000081_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram11.html" class="next">Next Page</a></center>