
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000298.jpg" title="First computrainer class at Wheel & Sprocket in #Evanston early this morning. Great class worked me over a bit. #trainer #cycling #lovestarbicyclebags #bikechi #getfit #wheelandsprocket" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>First computrainer class at Wheel & Sprocket in #Evanston early this morning. Great class worked me over a bit. #trainer #cycling #lovestarbicyclebags #bikechi #getfit #wheelandsprocket</small>
                           </div>
                           <img src="../lsphotos/image000298_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000299.jpg" title="4 for 4. #RideEveryDay #cycling #cyclocross #cx #snowride #moots #psychloX #lovestarbicyclebags #barmitts" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>4 for 4. #RideEveryDay #cycling #cyclocross #cx #snowride #moots #psychloX #lovestarbicyclebags #barmitts</small>
                           </div>
                           <img src="../lsphotos/image000299_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000300.jpg" title="Custom Lovestar framebag. Stealthy exterior with electric blue interior. #handmade #lovestarbicyclebags #framebag #bikebag #bikepacking #custom #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Custom Lovestar framebag. Stealthy exterior with electric blue interior. #handmade #lovestarbicyclebags #framebag #bikebag #bikepacking #custom #cycling</small>
                           </div>
                           <img src="../lsphotos/image000300_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000301.jpg" title="Happy New Year! I don't know about anybody else...but I've ridden my bike to work every day this year. #cycling #moots #bikecommute #bikechi #bicycle #lovestarbicyclebags #barmitts" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Happy New Year! I don't know about anybody else...but I've ridden my bike to work every day this year. #cycling #moots #bikecommute #bikechi #bicycle #lovestarbicyclebags #barmitts</small>
                           </div>
                           <img src="../lsphotos/image000301_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000302.jpg" title="Custom Lovestar #framebag. Still have a few more things to finish up...but it's getting there quickly. #lovestarbicyclebags #bikepacking #bikebag #custom #cycling #handmade #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Custom Lovestar #framebag. Still have a few more things to finish up...but it's getting there quickly. #lovestarbicyclebags #bikepacking #bikebag #custom #cycling #handmade #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000302_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000303.jpg" title="Custom Framebag Velcro coming along... #bikepacking #lovestarbicyclebags #cycling #handmade #Bicycle #bikechi #framebag #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Custom Framebag Velcro coming along... #bikepacking #lovestarbicyclebags #cycling #handmade #Bicycle #bikechi #framebag #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000303_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000304.jpg" title="The Lovestar Shop Apron features a sewn-in magnetic disc to hold those small bits while you work. #nextlevel #SewRad #lovestarbicyclebags #handmade #cycling #Bicycle" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>The Lovestar Shop Apron features a sewn-in magnetic disc to hold those small bits while you work. #nextlevel #SewRad #lovestarbicyclebags #handmade #cycling #Bicycle</small>
                           </div>
                           <img src="../lsphotos/image000304_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000305.jpg" title="The Lovestar Shop Apron is now up on my ETSY page! More photos are available on Facebook (Lovestar Bicycle Bags) hoping to get some higher quality pics ASAP. #handmade #lovestarbicyclebags #cycling #tools #shopapron #Bicycle #mechanic #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>The Lovestar Shop Apron is now up on my ETSY page! More photos are available on Facebook (Lovestar Bicycle Bags) hoping to get some higher quality pics ASAP. #handmade #lovestarbicyclebags #cycling #tools #shopapron #Bicycle #mechanic #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000305_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000306.jpg" title="A very bicycle Christmas. Pro tools for next years #cyclocross season! #cx #bicycle #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>A very bicycle Christmas. Pro tools for next years #cyclocross season! #cx #bicycle #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000306_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000307.jpg" title="Go my first #Festive500 kilometers in today. Merry Christmas Eve!! #rapha #moots #gingerbreadcyclist #christmasride #cycling #cyclocross #bikechi #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Go my first #Festive500 kilometers in today. Merry Christmas Eve!! #rapha #moots #gingerbreadcyclist #christmasride #cycling #cyclocross #bikechi #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000307_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000308.jpg" title="My bike in adventure mode post #cyclocross season. Did just over 50 miles today. 34 degrees with freezing rain and some snow. Was able to hit the #DPRT the #GreenBayTrail an the #McClory path all in the same ride. #lovestarbicyclebags #cycling #gravelgrinder #moots #adventureisOutThere #cx" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>My bike in adventure mode post #cyclocross season. Did just over 50 miles today. 34 degrees with freezing rain and some snow. Was able to hit the #DPRT the #GreenBayTrail an the #McClory path all in the same ride. #lovestarbicyclebags #cycling #gravelgrinder #moots #adventureisOutThere #cx</small>
                           </div>
                           <img src="../lsphotos/image000308_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000309.jpg" title="Got a whole lotta zipper going into this custom framebag. #bikepacking #niner #handmade #lovestarbicyclebags #framebag #madeintheUSA  #bicycle #cycling #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Got a whole lotta zipper going into this custom framebag. #bikepacking #niner #handmade #lovestarbicyclebags #framebag #madeintheUSA  #bicycle #cycling #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000309_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000310.jpg" title="Sweet apron bro. #lovestarbicyclebags shop aprons in the works. Look for them on my ETSY page in the next couple of weeks. Custom colors will be available, more details to follow soon! #bikeshop #tools #bikemechanic #bicycle #cycling #handmade #madeintheUSA #custom" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Sweet apron bro. #lovestarbicyclebags shop aprons in the works. Look for them on my ETSY page in the next couple of weeks. Custom colors will be available, more details to follow soon! #bikeshop #tools #bikemechanic #bicycle #cycling #handmade #madeintheUSA #custom</small>
                           </div>
                           <img src="../lsphotos/image000310_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000311.jpg" title="Thanks #Jayloophotography for capturing so many great shots all season! #MontroseCX #cyclocross #cx #sandpit #cycling  #chicagocrosscup #bikechi #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Thanks #Jayloophotography for capturing so many great shots all season! #MontroseCX #cyclocross #cx #sandpit #cycling  #chicagocrosscup #bikechi #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000311_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000312.jpg" title="An exciting race to the finish! Cold. Dirt. Deep sand. Nearly dark. Wind off Lake Michigan. A perfect race day!!! Go Lovestar!!! Illinois Cyclocross Championship Montrose Harbor! #cyclocrosschicago #cycling #cyclocross #elliotlovestar #elliotlovestarbicycle #lovestar #lovestarbicyclebags #lovestarfactoryteam #bikeracing #bikechicago #bicycles" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>An exciting race to the finish! Cold. Dirt. Deep sand. Nearly dark. Wind off Lake Michigan. A perfect race day!!! Go Lovestar!!! Illinois Cyclocross Championship Montrose Harbor! #cyclocrosschicago #cycling #cyclocross #elliotlovestar #elliotlovestarbicycle #lovestar #lovestarbicyclebags #lovestarfactoryteam #bikeracing #bikechicago #bicycles</small>
                           </div>
                           <img src="../lsphotos/image000312_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000313.jpg" title="Lovestar Factory Team representing at a very sandy #MontroseCX State championship race. #cyclocross #cx #bikechi #chicrosscup #cycling #sandpits #lovestarbicyclebags #lovestarbicycles #bikerace" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Lovestar Factory Team representing at a very sandy #MontroseCX State championship race. #cyclocross #cx #bikechi #chicrosscup #cycling #sandpits #lovestarbicyclebags #lovestarbicycles #bikerace</small>
                           </div>
                           <img src="../lsphotos/image000313_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000314.jpg" title="Lovestar Factory Team @ MontroseCx Illinois State Championships! #cyclocrosschicago #cyclocross #cycling #lovestar #lovestarbicyclebags #lovestarfactoryteam #bikeracing" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Lovestar Factory Team @ MontroseCx Illinois State Championships! #cyclocrosschicago #cyclocross #cycling #lovestar #lovestarbicyclebags #lovestarfactoryteam #bikeracing</small>
                           </div>
                           <img src="../lsphotos/image000314_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000315.jpg" title="Final race of the season at Montrose Harbor. Illinois State Championships. Lovestar Factory Team finished strong! Go Lovestar!!! #montrosecx #chicagoracing #chicagocyclocross #chicagocycling #lovestar #lovestarfactoryteam #lovestarbicyclebags #cycling #cyclocrosschicago" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Final race of the season at Montrose Harbor. Illinois State Championships. Lovestar Factory Team finished strong! Go Lovestar!!! #montrosecx #chicagoracing #chicagocyclocross #chicagocycling #lovestar #lovestarfactoryteam #lovestarbicyclebags #cycling #cyclocrosschicago</small>
                           </div>
                           <img src="../lsphotos/image000315_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000316.jpg" title="Spent today's nap time cutting material for some Lovestar shop aprons. #handmade #lovestarbicyclebags #lovestarbicycles #cycling #biketools #bikechi #bikemechanic" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Spent today's nap time cutting material for some Lovestar shop aprons. #handmade #lovestarbicyclebags #lovestarbicycles #cycling #biketools #bikechi #bikemechanic</small>
                           </div>
                           <img src="../lsphotos/image000316_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000317.jpg" title="Huge thank you to @chandlersnyder for getting my #Moots dialed in and ready for #MontroseCX this weekend! Bike is prettier than the day I bought it. #cx #cyclocross #bikechi #trp #hyRd #whiteindustries #lovestarbicyclebags #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Huge thank you to @chandlersnyder for getting my #Moots dialed in and ready for #MontroseCX this weekend! Bike is prettier than the day I bought it. #cx #cyclocross #bikechi #trp #hyRd #whiteindustries #lovestarbicyclebags #cycling</small>
                           </div>
                           <img src="../lsphotos/image000317_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram30.html" class="next">Next Page</a></center>