
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000259.jpg" title="Double trouble. #lovestarbicyclebags #cycling #bicycle #bikechi #bikestyle #championsystem" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Double trouble. #lovestarbicyclebags #cycling #bicycle #bikechi #bikestyle #championsystem</small>
                           </div>
                           <img src="../lsphotos/image000259_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000260.jpg" title="Short sleeves & skinny tires. Lovestar Factory Team looking sharp & lovin' the warmer temps. #lovestarbicyclebags #championsystem #teamride #teamcolors #bikestyle #cycling #bikechi #bicycle" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Short sleeves & skinny tires. Lovestar Factory Team looking sharp & lovin' the warmer temps. #lovestarbicyclebags #championsystem #teamride #teamcolors #bikestyle #cycling #bikechi #bicycle</small>
                           </div>
                           <img src="../lsphotos/image000260_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000261.jpg" title="Creative frame designs require creative frame bags. This #lovestarbicyclebags custom framebag was made for a customers frankenbike. #framebagFriday #custom #handmade #bikepacking #cycling #bikechi #bicycle #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Creative frame designs require creative frame bags. This #lovestarbicyclebags custom framebag was made for a customers frankenbike. #framebagFriday #custom #handmade #bikepacking #cycling #bikechi #bicycle #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000261_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000262.jpg" title="Batch of #Lovestarbicyclebags SaddlePacks in the works. Racing stripes all around! #handmade #custom #cycling #bicycle #bikebag #bikepacking #bikechi #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Batch of #Lovestarbicyclebags SaddlePacks in the works. Racing stripes all around! #handmade #custom #cycling #bicycle #bikebag #bikepacking #bikechi #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000262_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000738.jpg" title="Sunshine and glory. #LSB #LoveStarFactoryTeam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>theandyhudson</h4>
                              <small>Sunshine and glory. #LSB #LoveStarFactoryTeam</small>
                           </div>
                           <img src="../lsphotos/image000738_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000263.jpg" title="Custom #lovestarbicyclebags SaddlePack in progress. this one has some killer stripes to match the customer's bicycle. #handmade #bikepacking #bicyclebag #cycling #bicycle #seatbag #custom #bikechi #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Custom #lovestarbicyclebags SaddlePack in progress. this one has some killer stripes to match the customer's bicycle. #handmade #bikepacking #bicyclebag #cycling #bicycle #seatbag #custom #bikechi #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000263_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000264.jpg" title="Bag orders with racing stripes make me happy. Spent part of the afternoon cutting fabric for a Couple of sweet saddle packs...pics to follow soon! #lovestarbicyclebags #handmade #bikepacking #bikebag #bicycle #cycling #seatbag" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Bag orders with racing stripes make me happy. Spent part of the afternoon cutting fabric for a Couple of sweet saddle packs...pics to follow soon! #lovestarbicyclebags #handmade #bikepacking #bikebag #bicycle #cycling #seatbag</small>
                           </div>
                           <img src="../lsphotos/image000264_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000265.jpg" title="Racing stripes are also available in #Lovestarbicyclebags Saddle Packs. #handmade #bicycle #bikebag #bikechi #bikepacking #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Racing stripes are also available in #Lovestarbicyclebags Saddle Packs. #handmade #bicycle #bikebag #bikechi #bikepacking #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000265_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000266.jpg" title="Some recent examples of custom color #Lovestarbicyclebags Saddle Packs. More examples available on ETSY and Facebook. #handmade #cycling #bikebag #bikepacking #bicycle #bicyclebag #custom #bikechi #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Some recent examples of custom color #Lovestarbicyclebags Saddle Packs. More examples available on ETSY and Facebook. #handmade #cycling #bikebag #bikepacking #bicycle #bicyclebag #custom #bikechi #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000266_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000267.jpg" title="@agonz21 crushing ravine climbs and taking names. #lovestarbicyclebags #cycling #cyclocross #cx #bicycle #bikechi #barryroubaix" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>@agonz21 crushing ravine climbs and taking names. #lovestarbicyclebags #cycling #cyclocross #cx #bicycle #bikechi #barryroubaix</small>
                           </div>
                           <img src="../lsphotos/image000267_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000268.jpg" title="Lovestar Factory Team cramming in some hill repeats before Barry Roubaix. #lovestarbicyclebags #cycling #barryroubaix #cx #cyclocross #gravel #gravelgrinder #bicycle #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Lovestar Factory Team cramming in some hill repeats before Barry Roubaix. #lovestarbicyclebags #cycling #barryroubaix #cx #cyclocross #gravel #gravelgrinder #bicycle #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000268_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000269.jpg" title="Keeping it tight. Saddle bags shouldn't move. #lovestarbicyclebags #handmade #custom #bicyclebag #seatbag #bicycle #cycling #bikepacking #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Keeping it tight. Saddle bags shouldn't move. #lovestarbicyclebags #handmade #custom #bicyclebag #seatbag #bicycle #cycling #bikepacking #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000269_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000270.jpg" title="Finished up a snazzy black and red #Lovestarbicyclebags Saddle Pack. Shipping out to a customer this afternoon. Amazing what you can accomplish when both kids nap at the same time. #handmade #bikepacking #cycling #bicycle #bicyclebag #bikechi #dadlife #seatbag #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Finished up a snazzy black and red #Lovestarbicyclebags Saddle Pack. Shipping out to a customer this afternoon. Amazing what you can accomplish when both kids nap at the same time. #handmade #bikepacking #cycling #bicycle #bicyclebag #bikechi #dadlife #seatbag #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000270_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000271.jpg" title="Night ride gathering. #lovestarbicyclebags #cycling #nightride #neverabadTimetoRide #bicycle #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Night ride gathering. #lovestarbicyclebags #cycling #nightride #neverabadTimetoRide #bicycle #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000271_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000272.jpg" title="Lovestar Factory Team riders out putting in some night miles. #cycling #bikechi #bicycle #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Lovestar Factory Team riders out putting in some night miles. #cycling #bikechi #bicycle #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000272_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000273.jpg" title="Solo Sunday ride. In the #Chicago area, hill repeats means riding up an down the ravines towards #LakeMichigan beautiful spring day. #moots #cycling #bicycle #training #lovestarbicyclebags #SundaySolo #cx #cyclocross" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Solo Sunday ride. In the #Chicago area, hill repeats means riding up an down the ravines towards #LakeMichigan beautiful spring day. #moots #cycling #bicycle #training #lovestarbicyclebags #SundaySolo #cx #cyclocross</small>
                           </div>
                           <img src="../lsphotos/image000273_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000274.jpg" title="Lovestar Factory Team was out this morning fighting some epic coffee shop sprint battles. #cycling #bikehi #lovestarbicyclebags #championsystem #bikestyle #bicycle" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Lovestar Factory Team was out this morning fighting some epic coffee shop sprint battles. #cycling #bikehi #lovestarbicyclebags #championsystem #bikestyle #bicycle</small>
                           </div>
                           <img src="../lsphotos/image000274_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000275.jpg" title="It's always awesome when you're out for a ride and you run across a teammate! Good ride today @theandyhudson you were killin' it! #lovestarbicyclebags #bikechi #cycling #bicycle #championsystem #teamride" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>It's always awesome when you're out for a ride and you run across a teammate! Good ride today @theandyhudson you were killin' it! #lovestarbicyclebags #bikechi #cycling #bicycle #championsystem #teamride</small>
                           </div>
                           <img src="../lsphotos/image000275_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000276.jpg" title="Stealthy Black Lovestar Saddlepack with blaze orange interior. #lovestarbicyclebags #handmade #SewRad #cycling #bikebacking #bikechi #bicycle #bicyclebag" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Stealthy Black Lovestar Saddlepack with blaze orange interior. #lovestarbicyclebags #handmade #SewRad #cycling #bikebacking #bikechi #bicycle #bicyclebag</small>
                           </div>
                           <img src="../lsphotos/image000276_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000277.jpg" title="Red & black Lovestar SaddlePack. #lovestarbicyclebags #handmade #SewRad #bikebacking #cycling #bicycle #bicyclebag" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Red & black Lovestar SaddlePack. #lovestarbicyclebags #handmade #SewRad #bikebacking #cycling #bicycle #bicyclebag</small>
                           </div>
                           <img src="../lsphotos/image000277_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram28.html" class="next">Next Page</a></center>