
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000724.jpg" title="Springy sunrise ride. Last man of our group this morning riding away in the background. I love how rides grow and crescendo to the coffee shop and then slowly one by one split and fade until you solo home. #cycling #cyclist #bicycle #lovestarfactoryteam #bikechi #moots #psychloX" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Springy sunrise ride. Last man of our group this morning riding away in the background. I love how rides grow and crescendo to the coffee shop and then slowly one by one split and fade until you solo home. #cycling #cyclist #bicycle #lovestarfactoryteam #bikechi #moots #psychloX</small>
                           </div>
                           <img src="../lsphotos/image000724_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000725.jpg" title="Sunrise ride. #moots #cycling #bicycle #bikechi #lovestarfactoryteam #cyclist #psychloX" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Sunrise ride. #moots #cycling #bicycle #bikechi #lovestarfactoryteam #cyclist #psychloX</small>
                           </div>
                           <img src="../lsphotos/image000725_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000726.jpg" title="Spoils of war. #cycling #cyclist #bikechi #bicycle #thebonebell #lovestarfactoryteam #arrivadolce" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Spoils of war. #cycling #cyclist #bikechi #bicycle #thebonebell #lovestarfactoryteam #arrivadolce</small>
                           </div>
                           <img src="../lsphotos/image000726_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000727.jpg" title="Early to bed, early to shred. #cycling #bicycle #bikechi #evanston #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Early to bed, early to shred. #cycling #bicycle #bikechi #evanston #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000727_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000233.jpg" title="Boom! Subtle Grey & Black exterior...blaze orange interior. #lovestarbicyclebags #handmade #seatbag #bikepacking #bikechi #cycling #bicyclebag #bicycle #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Boom! Subtle Grey & Black exterior...blaze orange interior. #lovestarbicyclebags #handmade #seatbag #bikepacking #bikechi #cycling #bicyclebag #bicycle #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000233_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000234.jpg" title="Wrapped up another #lovestarbicyclebags SaddlePack tonight. This is still one of my favorite color combos. More pics soon! #handmade #bicyclebag #bicycle #cycling #bikechi #bicycle #seatbag #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Wrapped up another #lovestarbicyclebags SaddlePack tonight. This is still one of my favorite color combos. More pics soon! #handmade #bicyclebag #bicycle #cycling #bikechi #bicycle #seatbag #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000234_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000235.jpg" title="Finished up a #lovestarbicyclebags SaddlePack during nap time today. Black and orange really pop together! #cycling #bicycle #handmade #seatbag #bikepacking #bicyclebag #bikechi #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Finished up a #lovestarbicyclebags SaddlePack during nap time today. Black and orange really pop together! #cycling #bicycle #handmade #seatbag #bikepacking #bicyclebag #bikechi #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000235_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000236.jpg" title="Early morning miles with the Lovestar Team. Andy was so fast on his new bike, hence the blurriness. #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>agonz21</h4>
                              <small>Early morning miles with the Lovestar Team. Andy was so fast on his new bike, hence the blurriness. #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000236_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000728.jpg" title="New bikes & lots of smiles for an early AM #lovestarfactoryteam ride. #cycling #bicycle #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>New bikes & lots of smiles for an early AM #lovestarfactoryteam ride. #cycling #bicycle #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000728_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000729.jpg" title="Looking forward to my ride in the morning! #lovestarfactoryteam @pearlizumiofficial @rideshimano @icebreakernz" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>oliviabeaty</h4>
                              <small>Looking forward to my ride in the morning! #lovestarfactoryteam @pearlizumiofficial @rideshimano @icebreakernz</small>
                           </div>
                           <img src="../lsphotos/image000729_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000237.jpg" title="Inaugural ride on my new rig.  Thanks @velosmith #parleecycles #envecomposites #rideshimano #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>agonz21</h4>
                              <small>Inaugural ride on my new rig.  Thanks @velosmith #parleecycles #envecomposites #rideshimano #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000237_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000238.jpg" title="2 #lovestarbicyclebags SaddlePacks on the bench for tonight. #handmade #MUSA #cycling #bicycle #bicyclebag #bikepacking #seatbag" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>2 #lovestarbicyclebags SaddlePacks on the bench for tonight. #handmade #MUSA #cycling #bicycle #bicyclebag #bikepacking #seatbag</small>
                           </div>
                           <img src="../lsphotos/image000238_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000730.jpg" title="One sleeping. One singing at the top of her lungs. #adventuredad #cycling #cyclist #dadlife #bicycle #thulechariot #bikechi #lovestarfactoryteam #" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>One sleeping. One singing at the top of her lungs. #adventuredad #cycling #cyclist #dadlife #bicycle #thulechariot #bikechi #lovestarfactoryteam #</small>
                           </div>
                           <img src="../lsphotos/image000730_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000731.jpg" title="#LoveStarFactoryTeam @ddave12000" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>theandyhudson</h4>
                              <small>#LoveStarFactoryTeam @ddave12000</small>
                           </div>
                           <img src="../lsphotos/image000731_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000732.jpg" title="Gritty and wet today. Shoe/Sock game was strong, albeit dirty. #cycling #bicycle #bikechi #lovestarfactoryteam #nobadweather" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Gritty and wet today. Shoe/Sock game was strong, albeit dirty. #cycling #bicycle #bikechi #lovestarfactoryteam #nobadweather</small>
                           </div>
                           <img src="../lsphotos/image000732_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000733.jpg" title="Fat bike Friday! First commute on this monster. Kind of in love. #fatbike #bicycle #cycling #bikechi #lovestarfactoryteam #fatbikefriday #motobecane" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Fat bike Friday! First commute on this monster. Kind of in love. #fatbike #bicycle #cycling #bikechi #lovestarfactoryteam #fatbikefriday #motobecane</small>
                           </div>
                           <img src="../lsphotos/image000733_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000239.jpg" title="Brainstorming begins... #fatbike #bikepacking #framebag #lovestarbicyclebags #cycling #bikechi #bicycle #adventurebike" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Brainstorming begins... #fatbike #bikepacking #framebag #lovestarbicyclebags #cycling #bikechi #bicycle #adventurebike</small>
                           </div>
                           <img src="../lsphotos/image000239_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000240.jpg" title="Repost from @theandyhudson . Amazing crew out for a night ride with the #lovestarfactoryteam . Some excellent miles on quiet roads with awesome people ending with some fine brews. Look for some of these killers out at the Chicago cross cup series this fall! #lovestarbicyclebags #cycling #cyclocross #nightride #bicycle #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Repost from @theandyhudson . Amazing crew out for a night ride with the #lovestarfactoryteam . Some excellent miles on quiet roads with awesome people ending with some fine brews. Look for some of these killers out at the Chicago cross cup series this fall! #lovestarbicyclebags #cycling #cyclocross #nightride #bicycle #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000240_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000734.jpg" title="#LoveStarFactoryTeam #LSB #NightRide #KnightRider" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>theandyhudson</h4>
                              <small>#LoveStarFactoryTeam #LSB #NightRide #KnightRider</small>
                           </div>
                           <img src="../lsphotos/image000734_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000735.jpg" title="#lovestarfactoryteam #nightride @piliu7 @elliotlovestarbicycles @jobywankenoby @theandyhudson" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>oliviabeaty</h4>
                              <small>#lovestarfactoryteam #nightride @piliu7 @elliotlovestarbicycles @jobywankenoby @theandyhudson</small>
                           </div>
                           <img src="../lsphotos/image000735_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram26.html" class="next">Next Page</a></center>