
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000147.jpg" title="Finished up this blue Cordura #lovestarbicyclebags top tube bag. Part of a matching set heading out to a customer tomorrow! #bikepackingbags #handmade #bicyclebag #bikepacking #cycling #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Finished up this blue Cordura #lovestarbicyclebags top tube bag. Part of a matching set heading out to a customer tomorrow! #bikepackingbags #handmade #bicyclebag #bikepacking #cycling #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000147_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000148.jpg" title="XPac & Cordura #lovestarbicyclebags Saddlepack in a sharp looking black and grey. #handmade #bicyclebag #bikepackingbags #bikepacking #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>XPac & Cordura #lovestarbicyclebags Saddlepack in a sharp looking black and grey. #handmade #bicyclebag #bikepackingbags #bikepacking #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000148_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000149.jpg" title="Stunner of a racing stripe on this #lovestarbicyclebags Saddlepack. A little flash of color-matched stitching makes for a pretty awesome finish. #handmade #bicyclebag #bikepackingbags #bikepacking #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Stunner of a racing stripe on this #lovestarbicyclebags Saddlepack. A little flash of color-matched stitching makes for a pretty awesome finish. #handmade #bicyclebag #bikepackingbags #bikepacking #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000149_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000150.jpg" title="Finished up a classy looking #lovestarbicyclebags SaddlePack. #handmade #cycling #bicyclebag #bikepackingbags #bikepacking #Cordura #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Finished up a classy looking #lovestarbicyclebags SaddlePack. #handmade #cycling #bicyclebag #bikepackingbags #bikepacking #Cordura #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000150_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000151.jpg" title="A very wet and muddy #optoutside ride today. #fatbike #bikepackingbags #cycling #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>A very wet and muddy #optoutside ride today. #fatbike #bikepackingbags #cycling #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000151_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000152.jpg" title="Rainy morning project. #lovestarbicyclebags #handmade #cycling #bikepackingbags #bikepacking #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Rainy morning project. #lovestarbicyclebags #handmade #cycling #bikepackingbags #bikepacking #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000152_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000632.jpg" title="Maiden voyage on the new Motobecane today. Considering I bought this bike as a cost-effective (relatively speaking of course!) straight from the internet all weather/commuter bike, I'm pleasantly surprised at how solid it is. Major kudos to @elliotlovestarbicycles for helping me assemble, lube, and adjust all the critical stuff. A few tweaks and upgrades and this will be a killer winter machine!! #lovestarfactoryteam #motobecane" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>ddave12000</h4>
                              <small>Maiden voyage on the new Motobecane today. Considering I bought this bike as a cost-effective (relatively speaking of course!) straight from the internet all weather/commuter bike, I'm pleasantly surprised at how solid it is. Major kudos to @elliotlovestarbicycles for helping me assemble, lube, and adjust all the critical stuff. A few tweaks and upgrades and this will be a killer winter machine!! #lovestarfactoryteam #motobecane</small>
                           </div>
                           <img src="../lsphotos/image000632_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000633.jpg" title="Fat biking in the snow is Seriously blowing my mind as I re-discover all my local trails... #fatbike #lovestarfactoryteam #bikepackingbags #bikepacking #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Fat biking in the snow is Seriously blowing my mind as I re-discover all my local trails... #fatbike #lovestarfactoryteam #bikepackingbags #bikepacking #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000633_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000153.jpg" title="Re-post from @elliotlovestarbicycles What a determined little cutie...won't be long now! #elliotlovestarbicycle #elliotlovestar #lovestarfactoryteam #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Re-post from @elliotlovestarbicycles What a determined little cutie...won't be long now! #elliotlovestarbicycle #elliotlovestar #lovestarfactoryteam #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000153_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000154.jpg" title="Awesome race @mariannebennetttattoo!!!!! Tough course, great ride. Way to push through!! Geat shot today @elliotlovestarbicycles  #cyclocrosschicago #cyclocross #cycling #lovestarfactoryteam #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Awesome race @mariannebennetttattoo!!!!! Tough course, great ride. Way to push through!! Geat shot today @elliotlovestarbicycles  #cyclocrosschicago #cyclocross #cycling #lovestarfactoryteam #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000154_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000634.jpg" title="#babysnub wanted to get in on the sand pit action. #ILRcx #cyclocross #cx #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#babysnub wanted to get in on the sand pit action. #ILRcx #cyclocross #cx #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000634_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000635.jpg" title="Droppin into the sand. #ILRcx #cyclocross #cx #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Droppin into the sand. #ILRcx #cyclocross #cx #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000635_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000636.jpg" title="@mariannebennetttattoo lookin' pro in the sand at #ILRcx #cyclocross #cx #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>@mariannebennetttattoo lookin' pro in the sand at #ILRcx #cyclocross #cx #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000636_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000637.jpg" title="Hustle & flow. #cyclocross #cx #ILRcx #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Hustle & flow. #cyclocross #cx #ILRcx #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000637_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000638.jpg" title="Out on the #ILRcx Course for my second race today. Lots of sand... #cyclocross #cx #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Out on the #ILRcx Course for my second race today. Lots of sand... #cyclocross #cx #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000638_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000639.jpg" title="@elliotlovestarbicycles rocking in the single speed category. #ILRcx #lsb #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>ddave12000</h4>
                              <small>@elliotlovestarbicycles rocking in the single speed category. #ILRcx #lsb #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000639_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000640.jpg" title="Tried my First single speed race today...feeling some n+1 vibes already. 🙄#ILRcx #cylist #cyclocross #cx #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Tried my First single speed race today...feeling some n+1 vibes already. 🙄#ILRcx #cylist #cyclocross #cx #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000640_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000641.jpg" title="@ddave12000 rocking his first Masters race today. #lovestarfactoryteam #cyclocross #cylist #cycling #cx #ILRcx" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>@ddave12000 rocking his first Masters race today. #lovestarfactoryteam #cyclocross #cylist #cycling #cx #ILRcx</small>
                           </div>
                           <img src="../lsphotos/image000641_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000642.jpg" title="Tried my hand at the Master 35+ category today. These guys are good! Had a brutal first lap which included crashing at the barriers. #lovestarfactoryteam #lsb #IRLcx" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>ddave12000</h4>
                              <small>Tried my hand at the Master 35+ category today. These guys are good! Had a brutal first lap which included crashing at the barriers. #lovestarfactoryteam #lsb #IRLcx</small>
                           </div>
                           <img src="../lsphotos/image000642_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000643.jpg" title="Sunrise team ride. #lovestarfactoryteam #cycling #bicycle #cylist" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Sunrise team ride. #lovestarfactoryteam #cycling #bicycle #cylist</small>
                           </div>
                           <img src="../lsphotos/image000643_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram17.html" class="next">Next Page</a></center>