
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000485.jpg" title="Sometimes getting dropped means you have time to stop and take a picture... #cycling #bikechi #lakemichigan #ridecannondale #LovestarRaceClub" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Sometimes getting dropped means you have time to stop and take a picture... #cycling #bikechi #lakemichigan #ridecannondale #LovestarRaceClub</small>
                           </div>
                           <img src="../lsphotos/image000485_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000486.jpg" title="#cycling #bicycle #ridecannondale #LovestarRaceClub" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#cycling #bicycle #ridecannondale #LovestarRaceClub</small>
                           </div>
                           <img src="../lsphotos/image000486_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000487.jpg" title="@theandyhudson looking like he got a workout this morning 🚲😅 #cycling #bicycle #LovestarRaceClub" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>@theandyhudson looking like he got a workout this morning 🚲😅 #cycling #bicycle #LovestarRaceClub</small>
                           </div>
                           <img src="../lsphotos/image000487_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000488.jpg" title="Thanks to @theandyhudson @ddave12000 & Ben M. For keeping me motivated when getting up to ride in the dark gets hard. And here's a picture of my bike...because it's new and I'm obsessed with it. #cycling #bicycle #ridecannondale #LovestarRaceClub" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Thanks to @theandyhudson @ddave12000 & Ben M. For keeping me motivated when getting up to ride in the dark gets hard. And here's a picture of my bike...because it's new and I'm obsessed with it. #cycling #bicycle #ridecannondale #LovestarRaceClub</small>
                           </div>
                           <img src="../lsphotos/image000488_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000489.jpg" title="Good morning to you, too, #shelfcloud #sudzon #lovestarraceclub #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>oliviabeaty</h4>
                              <small>Good morning to you, too, #shelfcloud #sudzon #lovestarraceclub #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000489_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000490.jpg" title="Storm vibes at the end of this morning's ride. #LovestarRaceClub" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>theandyhudson</h4>
                              <small>Storm vibes at the end of this morning's ride. #LovestarRaceClub</small>
                           </div>
                           <img src="../lsphotos/image000490_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000491.jpg" title="New bike day!!! Glorious sunrise ride this morning. Thanks to @ponylou and the rest of my Pony Shop peeps for putting up with my decision making process 🚲🙌 #newbikeday #cycling #superX #ridecannondale #lovestarraceclub #baaw #bicycle" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>New bike day!!! Glorious sunrise ride this morning. Thanks to @ponylou and the rest of my Pony Shop peeps for putting up with my decision making process 🚲🙌 #newbikeday #cycling #superX #ridecannondale #lovestarraceclub #baaw #bicycle</small>
                           </div>
                           <img src="../lsphotos/image000491_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000492.jpg" title="First time at @backlotcoffee first nitro! #yum #lovestarraceclub" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>oliviabeaty</h4>
                              <small>First time at @backlotcoffee first nitro! #yum #lovestarraceclub</small>
                           </div>
                           <img src="../lsphotos/image000492_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000524.jpg" title="From Sunday, a stylized @agonz21 crushing a turn at #chicrosscup. #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>jim_ftw</h4>
                              <small>From Sunday, a stylized @agonz21 crushing a turn at #chicrosscup. #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000524_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000018.jpg" title="Because black goes with everything. #lovestarbicyclebags #handmade #bicycle #cycling #bicyclebag #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Because black goes with everything. #lovestarbicyclebags #handmade #bicycle #cycling #bicyclebag #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000018_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000493.jpg" title="Can't/Won't (stop) #LovestarRaceClub" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>theandyhudson</h4>
                              <small>Can't/Won't (stop) #LovestarRaceClub</small>
                           </div>
                           <img src="../lsphotos/image000493_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000494.jpg" title="Before and After of our captain getting heckled by an 11 yr old and coming out all smiles during #labaghcx today. CX is fun #lovestarraceclub" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>agonz21</h4>
                              <small>Before and After of our captain getting heckled by an 11 yr old and coming out all smiles during #labaghcx today. CX is fun #lovestarraceclub</small>
                           </div>
                           <img src="../lsphotos/image000494_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000019.jpg" title="Thank you @elliotlovestarbicycles for rebuilding @dustinbennettproducer bike! What an awesome job!!!! You'd never know that bike is 20+ years old. The custom Lovestar bag is the perfect finishing touch!! #custombikes #custombikebags #lovestarbicycles #cycling #bikes #lovestarbicyclebags #lovestar #elliotlovestarbicycle #brothers #bestsonsever #bestbuddies" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Thank you @elliotlovestarbicycles for rebuilding @dustinbennettproducer bike! What an awesome job!!!! You'd never know that bike is 20+ years old. The custom Lovestar bag is the perfect finishing touch!! #custombikes #custombikebags #lovestarbicycles #cycling #bikes #lovestarbicyclebags #lovestar #elliotlovestarbicycle #brothers #bestsonsever #bestbuddies</small>
                           </div>
                           <img src="../lsphotos/image000019_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000020.jpg" title="Flashy blaze orange interior. #lovestarbicyclebags #handmade #cycling #bicyclebag #bicycle #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Flashy blaze orange interior. #lovestarbicyclebags #handmade #cycling #bicyclebag #bicycle #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000020_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000021.jpg" title="Grey & Black #LovestarBicycleBags SaddlePack finished up and headed to Florida tomorrow. #handmade #bicyclebag #bicycle #cycling #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Grey & Black #LovestarBicycleBags SaddlePack finished up and headed to Florida tomorrow. #handmade #bicyclebag #bicycle #cycling #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000021_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000495.jpg" title="Waking up in the dark to ride everyday can be tough...but I never get tired of sunrises over the Lake #bikechi #lakemichigan #bicycle #cycling #bike #lovestarraceclub" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Waking up in the dark to ride everyday can be tough...but I never get tired of sunrises over the Lake #bikechi #lakemichigan #bicycle #cycling #bike #lovestarraceclub</small>
                           </div>
                           <img src="../lsphotos/image000495_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000496.jpg" title="Stunning sunrise ride with the #lovestarraceclub this morning. Great snap by @theandyhudson #cycling #bicycle #bike #bikechi #clubride" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Stunning sunrise ride with the #lovestarraceclub this morning. Great snap by @theandyhudson #cycling #bicycle #bike #bikechi #clubride</small>
                           </div>
                           <img src="../lsphotos/image000496_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000497.jpg" title="The man who started it all, and to whom I owe a great deal. The man, the myth, the legend, @elliotlovestarbicycles #lovestarraceclub #laborday #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>theandyhudson</h4>
                              <small>The man who started it all, and to whom I owe a great deal. The man, the myth, the legend, @elliotlovestarbicycles #lovestarraceclub #laborday #cycling</small>
                           </div>
                           <img src="../lsphotos/image000497_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000498.jpg" title="Great group this morning for a ride in perfect weather. #LovestarRaceClub #SmileLikeYouMeanIt #Cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>theandyhudson</h4>
                              <small>Great group this morning for a ride in perfect weather. #LovestarRaceClub #SmileLikeYouMeanIt #Cycling</small>
                           </div>
                           <img src="../lsphotos/image000498_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000499.jpg" title="Mini cyclocross practice on a beautiful summer evening. #bicycle #cycling #cyclocross #crossiscoming #cx #adventuredad #lovestarraceclub" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Mini cyclocross practice on a beautiful summer evening. #bicycle #cycling #cyclocross #crossiscoming #cx #adventuredad #lovestarraceclub</small>
                           </div>
                           <img src="../lsphotos/image000499_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram3.html" class="next">Next Page</a></center>