
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000644.jpg" title="Another great day of racing. We are getting so spoiled with these beautiful Sundays. 9th place today. #PSIcx #lsb #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>ddave12000</h4>
                              <small>Another great day of racing. We are getting so spoiled with these beautiful Sundays. 9th place today. #PSIcx #lsb #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000644_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000645.jpg" title="Sigh...winter kit came out today. #cycling #lovestarfactoryteam #championsystem #bicycle #cylist" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Sigh...winter kit came out today. #cycling #lovestarfactoryteam #championsystem #bicycle #cylist</small>
                           </div>
                           <img src="../lsphotos/image000645_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000646.jpg" title="Chilly, but all smiles this morning. #lovestarfactoryteam #cycling #bicycle #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Chilly, but all smiles this morning. #lovestarfactoryteam #cycling #bicycle #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000646_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000647.jpg" title="Sunrise ride with the crew this morning. #lovestarfactoryteam #cycling #cylist #bicycle #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Sunrise ride with the crew this morning. #lovestarfactoryteam #cycling #cylist #bicycle #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000647_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000155.jpg" title="Shortcut. #fatbike #cycling #bikepacking #bikebag #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Shortcut. #fatbike #cycling #bikepacking #bikebag #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000155_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000648.jpg" title="Thanks to @lt250rrcr45 for catching this great shot at #camptonCX this past weekend. #cyclocross #cx #cycling #championsystem #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Thanks to @lt250rrcr45 for catching this great shot at #camptonCX this past weekend. #cyclocross #cx #cycling #championsystem #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000648_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000649.jpg" title="Breaking away after a barrier for the final long sprint. #lovestarfactoryteam #camptonCX #cyclocross #cx #moots #psychloX" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Breaking away after a barrier for the final long sprint. #lovestarfactoryteam #camptonCX #cyclocross #cx #moots #psychloX</small>
                           </div>
                           <img src="../lsphotos/image000649_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000650.jpg" title="Sunset Race today at #camptonCX great course with lots of fun technical sections. #lovestarfactoryteam #cyclocross #cx" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Sunset Race today at #camptonCX great course with lots of fun technical sections. #lovestarfactoryteam #cyclocross #cx</small>
                           </div>
                           <img src="../lsphotos/image000650_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000651.jpg" title="Great race today at #CamptonCX. On the way to 9th place in the 4/5 race. #lovestarfactoryteam #lsb" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>ddave12000</h4>
                              <small>Great race today at #CamptonCX. On the way to 9th place in the 4/5 race. #lovestarfactoryteam #lsb</small>
                           </div>
                           <img src="../lsphotos/image000651_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000652.jpg" title="Had a great crew out at #camptonCX today. Two top 10 finishes for #lovestarfactoryteam riders! #cyclocross #cx #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Had a great crew out at #camptonCX today. Two top 10 finishes for #lovestarfactoryteam riders! #cyclocross #cx #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000652_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000156.jpg" title="Concentrating hard to crush those barriers!!! : ) #lovestarfactoryteam #lovestarbicyclebags #cycling #cyclocrosschicago #firstrace #youngestontheteam #determinedlikenoother" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Concentrating hard to crush those barriers!!! : ) #lovestarfactoryteam #lovestarbicyclebags #cycling #cyclocrosschicago #firstrace #youngestontheteam #determinedlikenoother</small>
                           </div>
                           <img src="../lsphotos/image000156_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000157.jpg" title="Exciting race. Tough conditions. #lovestarfactoryteam #lovestarbicyclebags #cyclocrosschicago #cycling #cyclinginthemidwest" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Exciting race. Tough conditions. #lovestarfactoryteam #lovestarbicyclebags #cyclocrosschicago #cycling #cyclinginthemidwest</small>
                           </div>
                           <img src="../lsphotos/image000157_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000158.jpg" title="First race, great ride! #cyclocrosschicago #cyclocross #cycling #lovestarfactoryteam #lovestarbicyclebags #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>First race, great ride! #cyclocrosschicago #cyclocross #cycling #lovestarfactoryteam #lovestarbicyclebags #cycling</small>
                           </div>
                           <img src="../lsphotos/image000158_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000159.jpg" title="Lining up for that steep downhill switchback turn!!! And deep mud... #lovestarfactoryteam #lovestarbicyclebags #greatriding #greatrace #cyclocrosschicago #cyclocross #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Lining up for that steep downhill switchback turn!!! And deep mud... #lovestarfactoryteam #lovestarbicyclebags #greatriding #greatrace #cyclocrosschicago #cyclocross #cycling</small>
                           </div>
                           <img src="../lsphotos/image000159_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000160.jpg" title="First medal : ) #lovestarfactoryteam #lovestarbicyclebags #cycling #youngestontheteam #firstrace #cyclocrosschicago" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>First medal : ) #lovestarfactoryteam #lovestarbicyclebags #cycling #youngestontheteam #firstrace #cyclocrosschicago</small>
                           </div>
                           <img src="../lsphotos/image000160_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000161.jpg" title="Pushing through on a tough course! #cyclocrosschicago #lovestarfactoryteam #lovestarbicyclebags #cycling #cyclocrossinthemidwest" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Pushing through on a tough course! #cyclocrosschicago #lovestarfactoryteam #lovestarbicyclebags #cycling #cyclocrossinthemidwest</small>
                           </div>
                           <img src="../lsphotos/image000161_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000162.jpg" title="Congratulations to Dave of Lovestar Factory Team for making it to the podium today! Tough race, great ride!! #cyclocrosschicago #lovestarfactoryteam #lovestarbicyclebags #cylcocrossinthemidwest" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Congratulations to Dave of Lovestar Factory Team for making it to the podium today! Tough race, great ride!! #cyclocrosschicago #lovestarfactoryteam #lovestarbicyclebags #cylcocrossinthemidwest</small>
                           </div>
                           <img src="../lsphotos/image000162_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000653.jpg" title="Good times at the Rhythm and blues CX review in Evanston #lovestarfactoryteam #lsb photo credit to @theandyhudson" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>ddave12000</h4>
                              <small>Good times at the Rhythm and blues CX review in Evanston #lovestarfactoryteam #lsb photo credit to @theandyhudson</small>
                           </div>
                           <img src="../lsphotos/image000653_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000654.jpg" title="Managed my first podium finish today - in the rain and mud no less. Great times with #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>ddave12000</h4>
                              <small>Managed my first podium finish today - in the rain and mud no less. Great times with #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000654_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000655.jpg" title="#lovestarfactoryteam on the podium! Congrats to @ddave12000 on his huge effort today! #cyclocross #cx" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#lovestarfactoryteam on the podium! Congrats to @ddave12000 on his huge effort today! #cyclocross #cx</small>
                           </div>
                           <img src="../lsphotos/image000655_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram18.html" class="next">Next Page</a></center>