
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000220.jpg" title="Foggy commute for #fatbikefriday sure doesn't feel like it's almost July. #bikechi #framebag #lovestarbicyclebags #handmade #fatbike #bicycle #cycling #bicyclebag #bikepacking #bikecommute #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Foggy commute for #fatbikefriday sure doesn't feel like it's almost July. #bikechi #framebag #lovestarbicyclebags #handmade #fatbike #bicycle #cycling #bicyclebag #bikepacking #bikecommute #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000220_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000717.jpg" title="#VSCOcam #lovestarfactoryteam @theandyhudson @piliu7" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>oliviabeaty</h4>
                              <small>#VSCOcam #lovestarfactoryteam @theandyhudson @piliu7</small>
                           </div>
                           <img src="../lsphotos/image000717_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000221.jpg" title="#lovestarbicyclebags is moving to a new top secret location! Build out process has begun...excited to have some next level work space for me and the family!" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#lovestarbicyclebags is moving to a new top secret location! Build out process has begun...excited to have some next level work space for me and the family!</small>
                           </div>
                           <img src="../lsphotos/image000221_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000222.jpg" title="#Repost @elliotlovestarbicycles with @repostapp.
・・・
#lovestarfactoryteam colors add some flash to the matching jumbo sized #lovestarbicyclebags SaddlePack. #bikepacking #bicyclebag #handmade #cycling #fatbike #bicycle #framebag #bikechi #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>fatbikee</h4>
                              <small>#Repost @elliotlovestarbicycles with @repostapp.
・・・
#lovestarfactoryteam colors add some flash to the matching jumbo sized #lovestarbicyclebags SaddlePack. #bikepacking #bicyclebag #handmade #cycling #fatbike #bicycle #framebag #bikechi #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000222_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000223.jpg" title="#lovestarfactoryteam colors add some flash to the matching jumbo sized #lovestarbicyclebags SaddlePack. #bikepacking #bicyclebag #handmade #cycling #fatbike #bicycle #framebag #bikechi #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#lovestarfactoryteam colors add some flash to the matching jumbo sized #lovestarbicyclebags SaddlePack. #bikepacking #bicyclebag #handmade #cycling #fatbike #bicycle #framebag #bikechi #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000223_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000224.jpg" title="Close up of the stitching...orange for days. #lovestarbicyclebags #handmade #framebag #bikepacking #bicycle #fatbike #bicyclebag #cycling #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Close up of the stitching...orange for days. #lovestarbicyclebags #handmade #framebag #bikepacking #bicycle #fatbike #bicyclebag #cycling #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000224_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000225.jpg" title="Still have some interior finishing to do, but this custom #lovestarbicyclebags frame bag is just about done. Color matched contrast stitching really makes for a nice tie in to the frame. #handmade #cycling #bicyclebag #bikepacking #fatbike #bicycle #bikechi #framebag #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Still have some interior finishing to do, but this custom #lovestarbicyclebags frame bag is just about done. Color matched contrast stitching really makes for a nice tie in to the frame. #handmade #cycling #bicyclebag #bikepacking #fatbike #bicycle #bikechi #framebag #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000225_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000718.jpg" title="Ah...the McClory path. Every time I ride it I want to find the city planners who designed it and say: &quot;whelp, I'm proud of you for trying.&quot; #fatbike #bikechi #bikecommute #cycling #cyclist #gravelgrinder #bicycle #bicyclebag #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Ah...the McClory path. Every time I ride it I want to find the city planners who designed it and say: "whelp, I'm proud of you for trying." #fatbike #bikechi #bikecommute #cycling #cyclist #gravelgrinder #bicycle #bicyclebag #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000718_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000719.jpg" title="Beautiful morning for a bike ride! #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>oliviabeaty</h4>
                              <small>Beautiful morning for a bike ride! #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000719_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000720.jpg" title="A couple of #lovestarfactoryteam riders doing some grass hill repeats at the local park. #cycling #cyclocross #cx #bikechi #bicycle #striderbikes #fatbike #adventuredad #futurecyclist #babyGnar #babysnub" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>A couple of #lovestarfactoryteam riders doing some grass hill repeats at the local park. #cycling #cyclocross #cx #bikechi #bicycle #striderbikes #fatbike #adventuredad #futurecyclist #babyGnar #babysnub</small>
                           </div>
                           <img src="../lsphotos/image000720_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000226.jpg" title="Color match test... #bikepacking #framebag #handmade #lovestarbicyclebags #bicyclebag #cycling #fatbike #bicycle #bikechi #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Color match test... #bikepacking #framebag #handmade #lovestarbicyclebags #bicyclebag #cycling #fatbike #bicycle #bikechi #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000226_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000227.jpg" title="#lovestarbicyclebags custom #framebag begins. It's been a while since I made anything for my own bikes...nothing like high contrast stitching to make a bag pop. #handmade #bicycle #bicyclebag #bikepacking #cycling #bikechi #fatbike #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#lovestarbicyclebags custom #framebag begins. It's been a while since I made anything for my own bikes...nothing like high contrast stitching to make a bag pop. #handmade #bicycle #bicyclebag #bikepacking #cycling #bikechi #fatbike #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000227_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000228.jpg" title="#lovestarbicyclebags feed bag prototype. Some adjustments to be made, before a beta test version will be ready, but not a bad first pass. #handmade #bikepacking #cycling #bicyclebag #bicycle #fatbike" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#lovestarbicyclebags feed bag prototype. Some adjustments to be made, before a beta test version will be ready, but not a bad first pass. #handmade #bikepacking #cycling #bicyclebag #bicycle #fatbike</small>
                           </div>
                           <img src="../lsphotos/image000228_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000229.jpg" title="Prototype #lovestarbicyclebags feed bag. Part of a larger #bikepacking set up, these little bags can be invaluable for bike adventures. This was a first draft, plenty of things to be tweaked, but hoping to have a beta test model ready soon! #handmade #bicycle #bicyclebag #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Prototype #lovestarbicyclebags feed bag. Part of a larger #bikepacking set up, these little bags can be invaluable for bike adventures. This was a first draft, plenty of things to be tweaked, but hoping to have a beta test model ready soon! #handmade #bicycle #bicyclebag #cycling</small>
                           </div>
                           <img src="../lsphotos/image000229_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000230.jpg" title="Sometimes you just *have* to ride, even in the pouring rain. Like &quot;Dad&quot; says, &quot;character building&quot; #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>agonz21</h4>
                              <small>Sometimes you just *have* to ride, even in the pouring rain. Like "Dad" says, "character building" #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000230_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000721.jpg" title="Rainy team ride this morning. #cycling #bicycle #Chicago #moots #rainride #bikechi #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Rainy team ride this morning. #cycling #bicycle #Chicago #moots #rainride #bikechi #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000721_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000231.jpg" title="Came home to a big fabric delivery! #lovestarbicyclebags #cycling #bikepacking #bicyclebag #bicycle #handmade #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Came home to a big fabric delivery! #lovestarbicyclebags #cycling #bikepacking #bicyclebag #bicycle #handmade #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000231_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000722.jpg" title="#Repost @elliotlovestarbicycles with @repostapp.
・・・
#fatbikefriday spring flowers commute, complete with showers. #cycling #bicycle #fatbike #bikechi #cyclist #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>fatbikee</h4>
                              <small>#Repost @elliotlovestarbicycles with @repostapp.
・・・
#fatbikefriday spring flowers commute, complete with showers. #cycling #bicycle #fatbike #bikechi #cyclist #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000722_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000723.jpg" title="#fatbikefriday spring flowers commute, complete with showers. #cycling #bicycle #fatbike #bikechi #cyclist #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#fatbikefriday spring flowers commute, complete with showers. #cycling #bicycle #fatbike #bikechi #cyclist #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000723_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000232.jpg" title="The whole #lovestarbicyclebags family out for a lakefront ride tonight! #adventuredad #futurecyclist #babysnub #striderbikes #bicycle #cycling #thulechariot #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>The whole #lovestarbicyclebags family out for a lakefront ride tonight! #adventuredad #futurecyclist #babysnub #striderbikes #bicycle #cycling #thulechariot #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000232_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram25.html" class="next">Next Page</a></center>