
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000065.jpg" title="So proud!!! Congratulations @elliotlovestarbicycles for an awesome showing at #barryroubaix today!!!!! Go lovestarfactoryteam!!!!! #lovestarcyclingteam #lovestarbicyclebags #lovestarfactoryteam #cyclocross #cyclocrosschicago #cyclocrossinthemidwest" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>So proud!!! Congratulations @elliotlovestarbicycles for an awesome showing at #barryroubaix today!!!!! Go lovestarfactoryteam!!!!! #lovestarcyclingteam #lovestarbicyclebags #lovestarfactoryteam #cyclocross #cyclocrosschicago #cyclocrossinthemidwest</small>
                           </div>
                           <img src="../lsphotos/image000065_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000580.jpg" title="Thanks to @theandyhudson for snapping this pic of me while we crushed 62 mi of gravel at the Barry Roubaix #lovestarfactoryteam #barryroubaix" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>agonz21</h4>
                              <small>Thanks to @theandyhudson for snapping this pic of me while we crushed 62 mi of gravel at the Barry Roubaix #lovestarfactoryteam #barryroubaix</small>
                           </div>
                           <img src="../lsphotos/image000580_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000581.jpg" title="Quick photo op at mile 50 w/ my suffer-partner @agonz21 #BarryRoubaix #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>theandyhudson</h4>
                              <small>Quick photo op at mile 50 w/ my suffer-partner @agonz21 #BarryRoubaix #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000581_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000582.jpg" title="Amazing crew at #barryroubaix today. #lovestarfactoryteam #gravelgrinder #cycling #bicycle" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Amazing crew at #barryroubaix today. #lovestarfactoryteam #gravelgrinder #cycling #bicycle</small>
                           </div>
                           <img src="../lsphotos/image000582_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000583.jpg" title="Successful #barryroubaix 2016! #lovestarfactoryteam fielded 8 riders who spend the day crushing some hot dry and dusty gravel. #gravelgrinder #moots #bicycle #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Successful #barryroubaix 2016! #lovestarfactoryteam fielded 8 riders who spend the day crushing some hot dry and dusty gravel. #gravelgrinder #moots #bicycle #cycling</small>
                           </div>
                           <img src="../lsphotos/image000583_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000584.jpg" title="Ready to rock! #barryroubaix #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>oliviabeaty</h4>
                              <small>Ready to rock! #barryroubaix #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000584_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000522.jpg" title="Hotel room gear staging for #barryroubaix tomorrow. #cycling #gravelgrinder #bicycle #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Hotel room gear staging for #barryroubaix tomorrow. #cycling #gravelgrinder #bicycle #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000522_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000585.jpg" title="Group selfie at Founders. #BarryRoubaix #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>theandyhudson</h4>
                              <small>Group selfie at Founders. #BarryRoubaix #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000585_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000586.jpg" title="#lovestarfactoryteam having lunch at @bellsbrewery en route to #BarryRoubaix" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>theandyhudson</h4>
                              <small>#lovestarfactoryteam having lunch at @bellsbrewery en route to #BarryRoubaix</small>
                           </div>
                           <img src="../lsphotos/image000586_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000066.jpg" title="Riding Kettle today gettin' my legs ripped off by @jobywankenoby #cycling #mountainbike #fatbike #bikepacking #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Riding Kettle today gettin' my legs ripped off by @jobywankenoby #cycling #mountainbike #fatbike #bikepacking #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000066_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000587.jpg" title="Mini group ride. #lovestarfactoryteam #striderbikes #clearybikes #teammates" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Mini group ride. #lovestarfactoryteam #striderbikes #clearybikes #teammates</small>
                           </div>
                           <img src="../lsphotos/image000587_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000067.jpg" title="Calm #bicycle #moots #cycling #lovestarbicyclebags #lakemichigan #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Calm #bicycle #moots #cycling #lovestarbicyclebags #lakemichigan #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000067_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000588.jpg" title="Found some local Cobbles this morning. #HellOfTheNorthShore #cycling #moots #bicycle #pave #cobbles #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Found some local Cobbles this morning. #HellOfTheNorthShore #cycling #moots #bicycle #pave #cobbles #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000588_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000068.jpg" title="Finished up a slick Black and Lime #lovestarbicyclebags SaddlePack tonight. #handmade #custom #bicyclebag #bikepackingbags #bikepacking #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Finished up a slick Black and Lime #lovestarbicyclebags SaddlePack tonight. #handmade #custom #bicyclebag #bikepackingbags #bikepacking #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000068_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000589.jpg" title="Gravel Train. #lovestarfactoryteam #cycling #cyclocross #gravelgrinder #dprt" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Gravel Train. #lovestarfactoryteam #cycling #cyclocross #gravelgrinder #dprt</small>
                           </div>
                           <img src="../lsphotos/image000589_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000590.jpg" title="Very muddy & windy ride with an awesome crew today. #lovestarfactoryteam #cycling #gravelgrinder #dprt" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Very muddy & windy ride with an awesome crew today. #lovestarfactoryteam #cycling #gravelgrinder #dprt</small>
                           </div>
                           <img src="../lsphotos/image000590_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000069.jpg" title="A nice #shoplocal kind of morning. #otherbrothercoffee #ponyshop #lovestarbicyclebags #shoplife #bikemechanic #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>A nice #shoplocal kind of morning. #otherbrothercoffee #ponyshop #lovestarbicyclebags #shoplife #bikemechanic #cycling</small>
                           </div>
                           <img src="../lsphotos/image000069_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000070.jpg" title="Lots of heavy-duty blue Cordura on the interior...#lovestarbicyclebags #handmade #bikepacking #bikepackingbags #framebag #cycling #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Lots of heavy-duty blue Cordura on the interior...#lovestarbicyclebags #handmade #bikepacking #bikepackingbags #framebag #cycling #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000070_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000071.jpg" title="Finished up a stealthy black custom frame at tonight. Just a hint of blue on the exterior. #lovestarbicyclebags #handmade #cycling #bicyclebag #bikepacking #bikepackingbags #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Finished up a stealthy black custom frame at tonight. Just a hint of blue on the exterior. #lovestarbicyclebags #handmade #cycling #bicyclebag #bikepacking #bikepackingbags #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000071_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000072.jpg" title="70 degrees yesterday. Snow flurries this morning...welcome to #Chicago . decided to use my old Almanzo 100 #lovestarbicyclebags top tube bag this morning to try and brighten up my ride a little bit. #moots #lovestarbicyclebags #cycling #bicycle" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>70 degrees yesterday. Snow flurries this morning...welcome to #Chicago . decided to use my old Almanzo 100 #lovestarbicyclebags top tube bag this morning to try and brighten up my ride a little bit. #moots #lovestarbicyclebags #cycling #bicycle</small>
                           </div>
                           <img src="../lsphotos/image000072_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram10.html" class="next">Next Page</a></center>