
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000191.jpg" title="'Murica. #fatbike #cycling #flashbackFriday #lovestarbicyclebags #bikepacking" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>'Murica. #fatbike #cycling #flashbackFriday #lovestarbicyclebags #bikepacking</small>
                           </div>
                           <img src="../lsphotos/image000191_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000192.jpg" title="Fat Commute. #fatbikefriday #fatbike #fattieshavemorefun #bikechi #cycling #bicycle #lovestarbicyclebags #lovestarfactoryteam #bikepacking #bikecommute" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Fat Commute. #fatbikefriday #fatbike #fattieshavemorefun #bikechi #cycling #bicycle #lovestarbicyclebags #lovestarfactoryteam #bikepacking #bikecommute</small>
                           </div>
                           <img src="../lsphotos/image000192_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000686.jpg" title="Water bottle drills, hill repeats, barrier practice, sprints...twilight #lovestarfactoryteam cross practice...because cross really is coming. #cx #cyclocross #crossiscoming #strava #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Water bottle drills, hill repeats, barrier practice, sprints...twilight #lovestarfactoryteam cross practice...because cross really is coming. #cx #cyclocross #crossiscoming #strava #cycling</small>
                           </div>
                           <img src="../lsphotos/image000686_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000687.jpg" title="Family ride! #adventuredad #fatbike #striderbikes #lovestarfactoryteam #cycling #bicycle #bikechi #NorthBranchTrail" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Family ride! #adventuredad #fatbike #striderbikes #lovestarfactoryteam #cycling #bicycle #bikechi #NorthBranchTrail</small>
                           </div>
                           <img src="../lsphotos/image000687_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000193.jpg" title="#Repost @elliotlovestarbicycles with @repostapp.
・・・
Suburban Gravel... #lovestarbicyclebags #cycling #fatbike #framebag #cyclist #bikechi #bicycle #gravel #gravelgrinder" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>fatbikee</h4>
                              <small>#Repost @elliotlovestarbicycles with @repostapp.
・・・
Suburban Gravel... #lovestarbicyclebags #cycling #fatbike #framebag #cyclist #bikechi #bicycle #gravel #gravelgrinder</small>
                           </div>
                           <img src="../lsphotos/image000193_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000194.jpg" title="Suburban Gravel... #lovestarbicyclebags #cycling #fatbike #framebag #cyclist #bikechi #bicycle #gravel #gravelgrinder" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Suburban Gravel... #lovestarbicyclebags #cycling #fatbike #framebag #cyclist #bikechi #bicycle #gravel #gravelgrinder</small>
                           </div>
                           <img src="../lsphotos/image000194_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000688.jpg" title="New kits! #lovestarfactoryteam #ladiesoflovestar #fleshleeches" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>oliviabeaty</h4>
                              <small>New kits! #lovestarfactoryteam #ladiesoflovestar #fleshleeches</small>
                           </div>
                           <img src="../lsphotos/image000688_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000195.jpg" title="Regram from @theandyhudson ... love seeing #lovestarbicyclebags in the wild." rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Regram from @theandyhudson ... love seeing #lovestarbicyclebags in the wild.</small>
                           </div>
                           <img src="../lsphotos/image000195_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000689.jpg" title="Sunrise ride. #lovestarfactoryteam #moots #psychloX #bikechi #cycling #cyclist" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Sunrise ride. #lovestarfactoryteam #moots #psychloX #bikechi #cycling #cyclist</small>
                           </div>
                           <img src="../lsphotos/image000689_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000690.jpg" title="#babysnub pushing limits. Big thanks to @jwild_photography for capturing this perfect moment...I don't think I'll ever post a better picture on the internets. (She rocked this hill without incident btw) #babyGnar #futurecyclist #lovestarfactoryteam #striderbikes" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#babysnub pushing limits. Big thanks to @jwild_photography for capturing this perfect moment...I don't think I'll ever post a better picture on the internets. (She rocked this hill without incident btw) #babyGnar #futurecyclist #lovestarfactoryteam #striderbikes</small>
                           </div>
                           <img src="../lsphotos/image000690_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000196.jpg" title="Bluffs of Lake Michigan. #fatbike #cycling #bikechi #bikepacking #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Bluffs of Lake Michigan. #fatbike #cycling #bikechi #bikepacking #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000196_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000691.jpg" title="Today was a rather sobering reminder that #cyclocross is really coming... #cx #moots #psychloX #cycling #bikechi #lovestarfactoryteam #HACCXE" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Today was a rather sobering reminder that #cyclocross is really coming... #cx #moots #psychloX #cycling #bikechi #lovestarfactoryteam #HACCXE</small>
                           </div>
                           <img src="../lsphotos/image000691_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000692.jpg" title="@casadewaggoner keeping it tight in the corners at the #HACCXE race today. #cyclocross #lovestarfactoryteam #cx #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>@casadewaggoner keeping it tight in the corners at the #HACCXE race today. #cyclocross #lovestarfactoryteam #cx #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000692_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000197.jpg" title="Don't ever back down... #fatbike #bikecommute #bicyclebag #cycling #cyclist #lovestarbicyclebags #bikechi #suburbangraffiti" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Don't ever back down... #fatbike #bikecommute #bicyclebag #cycling #cyclist #lovestarbicyclebags #bikechi #suburbangraffiti</small>
                           </div>
                           <img src="../lsphotos/image000197_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000693.jpg" title="Sunset Ride was a much needed mental and emotional break after the chaos of moving this past weekend. Living with two kids out of cardboard boxes in a new space required some serious big ring therapy. #cycling #cyclist #moots #psychloX #bikechi #lovestarfactoryteam #bicycle #sunset #dadlife" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Sunset Ride was a much needed mental and emotional break after the chaos of moving this past weekend. Living with two kids out of cardboard boxes in a new space required some serious big ring therapy. #cycling #cyclist #moots #psychloX #bikechi #lovestarfactoryteam #bicycle #sunset #dadlife</small>
                           </div>
                           <img src="../lsphotos/image000693_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000694.jpg" title="Great shot by @theandyhudson from the #lovestarfactoryteam ride this morning. Good miles with great people." rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Great shot by @theandyhudson from the #lovestarfactoryteam ride this morning. Good miles with great people.</small>
                           </div>
                           <img src="../lsphotos/image000694_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000695.jpg" title="Moon's out... #cycling #moot #psychloX #bicycle #bikechi #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Moon's out... #cycling #moot #psychloX #bicycle #bikechi #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000695_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000198.jpg" title="Recalling every #zombie movie ever... #fatbike #adventurebike #bikechi #bikepacking #lovestarbicyclebags #cycling #bicycle #bikecommute" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Recalling every #zombie movie ever... #fatbike #adventurebike #bikechi #bikepacking #lovestarbicyclebags #cycling #bicycle #bikecommute</small>
                           </div>
                           <img src="../lsphotos/image000198_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000199.jpg" title="Not too bad for a morning commute... #fatbike #cycling #bikechi #bikecommute #bikepacking #bicyclebag #framebag #gravelgrinder #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Not too bad for a morning commute... #fatbike #cycling #bikechi #bikecommute #bikepacking #bicyclebag #framebag #gravelgrinder #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000199_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000696.jpg" title="Sunrise vibes. #lovestarfactoryteam #cycling #cyclist #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Sunrise vibes. #lovestarfactoryteam #cycling #cyclist #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000696_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram22.html" class="next">Next Page</a></center>