
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000697.jpg" title="Been a rad summer for gravel so far...but really starting to get stoked about cross season... #crossiscoming #cyclocross #gravel #gravelgrinder #cycling #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Been a rad summer for gravel so far...but really starting to get stoked about cross season... #crossiscoming #cyclocross #gravel #gravelgrinder #cycling #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000697_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000698.jpg" title="Only had time for a quick flyby at the @velosmith Rapha Mobile Cycle Club event this morning. Still, any ride is better than no ride. Thanks to Velosmith and @rapha_tillie for the coffee and donuts! #velosmith #rapha #bikechi #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Only had time for a quick flyby at the @velosmith Rapha Mobile Cycle Club event this morning. Still, any ride is better than no ride. Thanks to Velosmith and @rapha_tillie for the coffee and donuts! #velosmith #rapha #bikechi #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000698_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000200.jpg" title="Glorious night ride home tonight. #bikechi #lovestarbicyclebags #fatbike #bikecommute #nightride #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Glorious night ride home tonight. #bikechi #lovestarbicyclebags #fatbike #bikecommute #nightride #cycling</small>
                           </div>
                           <img src="../lsphotos/image000200_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000201.jpg" title="Regram from @ddave12000 of this mornings #lovestarfactoryteam ride! Great crew, lots of fun. #Chicago #cycling #cyclist #lovestarbicyclebags #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Regram from @ddave12000 of this mornings #lovestarfactoryteam ride! Great crew, lots of fun. #Chicago #cycling #cyclist #lovestarbicyclebags #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000201_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000202.jpg" title="Great time riding today with the Lovestar Team. Here is Olivia and Priscilla crushing it at the Fort #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>agonz21</h4>
                              <small>Great time riding today with the Lovestar Team. Here is Olivia and Priscilla crushing it at the Fort #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000202_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000699.jpg" title="#ladiesoflovestar #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>oliviabeaty</h4>
                              <small>#ladiesoflovestar #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000699_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000203.jpg" title="#flashbackFriday to the Lovestar Factory Team crushing gravel and having a blast at the Almanzo 100. #lovestarfactoryteam #lovestarbicyclebags #cycling #cyclist #gravel #gravelgrinder" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#flashbackFriday to the Lovestar Factory Team crushing gravel and having a blast at the Almanzo 100. #lovestarfactoryteam #lovestarbicyclebags #cycling #cyclist #gravel #gravelgrinder</small>
                           </div>
                           <img src="../lsphotos/image000203_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000204.jpg" title="#Repost @elliotlovestarbicycles with @repostapp.
・・・
Another shot from my ride home tonight... #lovestarbicyclebags #fatbike #cycling #bikecommute #bikepacking" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>fatbikee</h4>
                              <small>#Repost @elliotlovestarbicycles with @repostapp.
・・・
Another shot from my ride home tonight... #lovestarbicyclebags #fatbike #cycling #bikecommute #bikepacking</small>
                           </div>
                           <img src="../lsphotos/image000204_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000205.jpg" title="Another shot from my ride home tonight... #lovestarbicyclebags #fatbike #cycling #bikecommute #bikepacking" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Another shot from my ride home tonight... #lovestarbicyclebags #fatbike #cycling #bikecommute #bikepacking</small>
                           </div>
                           <img src="../lsphotos/image000205_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000206.jpg" title="Bike commuting for the last 8+ years, I've developed pretty thick skin when it comes to driver road rage. But some days, it can still just set you off in a way that threatens to ruin a ride. One of the benefits of commuting via fat bike, is that you can turn off the route and explore less travelled pathways...today's exploring turned a seething road rage ride into a relaxed & scenic adventure. Life is too short to let others ruin the things you love...so here's to the road less travelled. #bikecommute #fatbike #bikechi #bicycle #cyclist #cycling #lovestarbicyclebags #lovestarfactoryteam #framebag #bikepacking #adventurebike" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Bike commuting for the last 8+ years, I've developed pretty thick skin when it comes to driver road rage. But some days, it can still just set you off in a way that threatens to ruin a ride. One of the benefits of commuting via fat bike, is that you can turn off the route and explore less travelled pathways...today's exploring turned a seething road rage ride into a relaxed & scenic adventure. Life is too short to let others ruin the things you love...so here's to the road less travelled. #bikecommute #fatbike #bikechi #bicycle #cyclist #cycling #lovestarbicyclebags #lovestarfactoryteam #framebag #bikepacking #adventurebike</small>
                           </div>
                           <img src="../lsphotos/image000206_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000207.jpg" title="Color matching on my commute today is on fleek. #ijustsaidfleek #cycling #lovestarfactoryteam #lovestarbicyclebags #fatbike #bikecommute #bikechi #bikepacking" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Color matching on my commute today is on fleek. #ijustsaidfleek #cycling #lovestarfactoryteam #lovestarbicyclebags #fatbike #bikecommute #bikechi #bikepacking</small>
                           </div>
                           <img src="../lsphotos/image000207_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000208.jpg" title="Fat bike family adventures. #fatbike #adventuredad #bikepacking #framebag #lovestarbicyclebags #thulechariot #lakemichigan #Chicago #cycling #cyclist" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Fat bike family adventures. #fatbike #adventuredad #bikepacking #framebag #lovestarbicyclebags #thulechariot #lakemichigan #Chicago #cycling #cyclist</small>
                           </div>
                           <img src="../lsphotos/image000208_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000209.jpg" title="Late night miles along Lake Michigan... #fatbike #lakemichigan #Chicago #cycling #cyclist #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Late night miles along Lake Michigan... #fatbike #lakemichigan #Chicago #cycling #cyclist #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000209_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000700.jpg" title="#cycling #ladiesoflovestar #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>oliviabeaty</h4>
                              <small>#cycling #ladiesoflovestar #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000700_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000701.jpg" title="Big mountain riding. #babysnub #babyGnar #lovestarfactoryteam #cyclist #futurecyclist #littleshredder #bigsky #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Big mountain riding. #babysnub #babyGnar #lovestarfactoryteam #cyclist #futurecyclist #littleshredder #bigsky #cycling</small>
                           </div>
                           <img src="../lsphotos/image000701_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000702.jpg" title="Some of these roads...by themselves, are worth the trip to #bigsky #lovestarfactoryteam #cycling #cyclist" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Some of these roads...by themselves, are worth the trip to #bigsky #lovestarfactoryteam #cycling #cyclist</small>
                           </div>
                           <img src="../lsphotos/image000702_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000703.jpg" title="Road bikes off road. #bigsky #moots #psychloX #cycling #cyclist #gravelgrinder #gravel #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Road bikes off road. #bigsky #moots #psychloX #cycling #cyclist #gravelgrinder #gravel #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000703_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000704.jpg" title="Morning climb... #cycling #cyclist #moots #psychloX #lovestarfactoryteam #bigsky #" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Morning climb... #cycling #cyclist #moots #psychloX #lovestarfactoryteam #bigsky #</small>
                           </div>
                           <img src="../lsphotos/image000704_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000705.jpg" title="Added some killer Giro gloves to up my #lovestarfactoryteam color match game. #cycling #lazersport #cyclist" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Added some killer Giro gloves to up my #lovestarfactoryteam color match game. #cycling #lazersport #cyclist</small>
                           </div>
                           <img src="../lsphotos/image000705_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000210.jpg" title="#lovestarbicyclebags Saddlepack in the wild." rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#lovestarbicyclebags Saddlepack in the wild.</small>
                           </div>
                           <img src="../lsphotos/image000210_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram23.html" class="next">Next Page</a></center>