
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000173.jpg" title="Two days of sick kids...it was nice to start a project again. Pockets are always exciting. #lovestarbicyclebags #handmade #custom #bicyclebag #bikepacking #sewrad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Two days of sick kids...it was nice to start a project again. Pockets are always exciting. #lovestarbicyclebags #handmade #custom #bicyclebag #bikepacking #sewrad</small>
                           </div>
                           <img src="../lsphotos/image000173_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000665.jpg" title="Flyover! #lovestarfactoryteam #cyclocross #HopkinsCX" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Flyover! #lovestarfactoryteam #cyclocross #HopkinsCX</small>
                           </div>
                           <img src="../lsphotos/image000665_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000666.jpg" title="Fighting through the corners. #lovestarfactoryteam #HopkinsCX #cyclocross #cx" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Fighting through the corners. #lovestarfactoryteam #HopkinsCX #cyclocross #cx</small>
                           </div>
                           <img src="../lsphotos/image000666_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000667.jpg" title="@ddave12000 killing it at #HopkinsCX ... #lovestarfactoryteam #cyclocross #cx #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>@ddave12000 killing it at #HopkinsCX ... #lovestarfactoryteam #cyclocross #cx #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000667_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000668.jpg" title="#HopkinsCX today. Fun and fast course! @casadewaggoner flying through and looking strong. #cyclocross #cx #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#HopkinsCX today. Fun and fast course! @casadewaggoner flying through and looking strong. #cyclocross #cx #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000668_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000174.jpg" title="#lovestarfactoryteam doing some dirt shreddin' today. #cycling #mountainbike #lovestarbicyclebags #bikechi #palos" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#lovestarfactoryteam doing some dirt shreddin' today. #cycling #mountainbike #lovestarbicyclebags #bikechi #palos</small>
                           </div>
                           <img src="../lsphotos/image000174_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000175.jpg" title="This Giant bag opens to face the rider, is waterproof, and has some little details like the upcycled bicycle tire handle to complete a very cool build. #handmade #cycling #lovestarbicyclebags #bicyclebag #bikecommute" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>This Giant bag opens to face the rider, is waterproof, and has some little details like the upcycled bicycle tire handle to complete a very cool build. #handmade #cycling #lovestarbicyclebags #bicyclebag #bikecommute</small>
                           </div>
                           <img src="../lsphotos/image000175_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000176.jpg" title="Custom #lovestarbicyclebags front basket commuter case. #handmade #bicyclebag #cycling #bikecommute #sewrad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Custom #lovestarbicyclebags front basket commuter case. #handmade #bicyclebag #cycling #bikecommute #sewrad</small>
                           </div>
                           <img src="../lsphotos/image000176_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000669.jpg" title="Our &quot;morning&quot; Hasselhoff ride. #bbc #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>agonz21</h4>
                              <small>Our "morning" Hasselhoff ride. #bbc #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000669_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000177.jpg" title="Sneak peak of some intense design work for a custom bag project. #handmade #lovestarbicyclebags #bicyclebag #cycling #sewrad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Sneak peak of some intense design work for a custom bag project. #handmade #lovestarbicyclebags #bicyclebag #cycling #sewrad</small>
                           </div>
                           <img src="../lsphotos/image000177_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000670.jpg" title="#lovestarfactoryteam juniors squad had a big day of riding. #futurecyclist #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#lovestarfactoryteam juniors squad had a big day of riding. #futurecyclist #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000670_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000671.jpg" title="#babysnub saw some BMX guys doing a bunny hop competition and decided to show off her shred skills. #babygnar #futurecyclist #cycling #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#babysnub saw some BMX guys doing a bunny hop competition and decided to show off her shred skills. #babygnar #futurecyclist #cycling #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000671_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000672.jpg" title="Family fatbiking at #biketheridge2015 #babysnub #fatbike #cycling #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Family fatbiking at #biketheridge2015 #babysnub #fatbike #cycling #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000672_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000673.jpg" title="Great crew reppin' the #lovestarfactoryteam colors this morning." rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Great crew reppin' the #lovestarfactoryteam colors this morning.</small>
                           </div>
                           <img src="../lsphotos/image000673_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000674.jpg" title="#lovestarfactoryteam Hasselhoff ride. Mornings are getting darker...sigh. #cycling #bicycle #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#lovestarfactoryteam Hasselhoff ride. Mornings are getting darker...sigh. #cycling #bicycle #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000674_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000178.jpg" title="Bridge crossing at dusk on my commute home tonight. #fatbike #bikepacking #bikecommute #framebag #lovestarbicyclebags #cycling #cyclist #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Bridge crossing at dusk on my commute home tonight. #fatbike #bikepacking #bikecommute #framebag #lovestarbicyclebags #cycling #cyclist #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000178_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000518.jpg" title="@casadewaggoner double hitting the 4 and the 4/5s races. #lovestarfactoryteam #chicagocrosscup #caldwellcx #cyclocross #cx" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>@casadewaggoner double hitting the 4 and the 4/5s races. #lovestarfactoryteam #chicagocrosscup #caldwellcx #cyclocross #cx</small>
                           </div>
                           <img src="../lsphotos/image000518_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000675.jpg" title="#lovestarfactoryteam kicking off the #chicagocrosscup at the relocated #caldwellcx race today! #cyclocross #cx #cycling #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#lovestarfactoryteam kicking off the #chicagocrosscup at the relocated #caldwellcx race today! #cyclocross #cx #cycling #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000675_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000179.jpg" title="Commuting on a sunny Saturday afternoon on one of the areas most popular bike trails has to be as close as it comes to a Cat 6 world championships. #bikecommute #fatbike #bikepacking #bicyclebag #framebag #lovestarbicyclebags #handmade #bikechi #cycling #cat6" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Commuting on a sunny Saturday afternoon on one of the areas most popular bike trails has to be as close as it comes to a Cat 6 world championships. #bikecommute #fatbike #bikepacking #bicyclebag #framebag #lovestarbicyclebags #handmade #bikechi #cycling #cat6</small>
                           </div>
                           <img src="../lsphotos/image000179_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000180.jpg" title="Went back and found the hole that Ate my fatty's fork. Glad it wasn't just adrenaline and my imagination that made it look so big. #bikecrash #fatbikefriday #bikecommute #cycling #bicycle #lovestarbicyclebags #bikepacking" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Went back and found the hole that Ate my fatty's fork. Glad it wasn't just adrenaline and my imagination that made it look so big. #bikecrash #fatbikefriday #bikecommute #cycling #bicycle #lovestarbicyclebags #bikepacking</small>
                           </div>
                           <img src="../lsphotos/image000180_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram20.html" class="next">Next Page</a></center>