
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000082.jpg" title="Pockets! #handmade #cycling #bicyclebag #lovestarbicyclebags #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Pockets! #handmade #cycling #bicyclebag #lovestarbicyclebags #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000082_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000083.jpg" title="Finished up all the strapping and riveting today. #lovestarbicyclebags #handmade #cycling #bicyclebag #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Finished up all the strapping and riveting today. #lovestarbicyclebags #handmade #cycling #bicyclebag #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000083_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000084.jpg" title="Custom #lovestarbicyclebags roll-top porteur bag shipping out today. #handmade #cycling #bicyclebag #bicycle #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Custom #lovestarbicyclebags roll-top porteur bag shipping out today. #handmade #cycling #bicyclebag #bicycle #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000084_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000602.jpg" title="That was a good ride. #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>theandyhudson</h4>
                              <small>That was a good ride. #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000602_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000603.jpg" title="Great ride, great bike, great friends. #myparlee #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>agonz21</h4>
                              <small>Great ride, great bike, great friends. #myparlee #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000603_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000604.jpg" title="Smiles for Miles with @agonz21 #cycling #lovestarfactoryteam #bicycle #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Smiles for Miles with @agonz21 #cycling #lovestarfactoryteam #bicycle #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000604_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000085.jpg" title="Enjoying a few more sunrise rides before the crushing blackness of #daylightsavingstime kicks in this weekend. #cycling #bicycle #moots #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Enjoying a few more sunrise rides before the crushing blackness of #daylightsavingstime kicks in this weekend. #cycling #bicycle #moots #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000085_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000086.jpg" title="Pre-dawn miles. #cycling #bicycle #moots #psychloX #lovestarbicyclebags #lakemichigan" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Pre-dawn miles. #cycling #bicycle #moots #psychloX #lovestarbicyclebags #lakemichigan</small>
                           </div>
                           <img src="../lsphotos/image000086_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000087.jpg" title="Gonna try getting #ontherivet with the #moots this gravel season. #gravelgrinder #gravel #bicycle #cycling #psychloX #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Gonna try getting #ontherivet with the #moots this gravel season. #gravelgrinder #gravel #bicycle #cycling #psychloX #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000087_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000088.jpg" title="Huge cargo capacity, and a flashy peacock blue interior. #handmade #lovestarbicyclebags #bicyclebag #bicycle #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Huge cargo capacity, and a flashy peacock blue interior. #handmade #lovestarbicyclebags #bicyclebag #bicycle #cycling</small>
                           </div>
                           <img src="../lsphotos/image000088_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000089.jpg" title="Finishing up a custom roll top porteur rack bag. Customer designed the bag, I had the privilege of making it. #handmade #lovestarbicyclebags #cycling #cordura #bicycle #bicyclebag" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Finishing up a custom roll top porteur rack bag. Customer designed the bag, I had the privilege of making it. #handmade #lovestarbicyclebags #cycling #cordura #bicycle #bicyclebag</small>
                           </div>
                           <img src="../lsphotos/image000089_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000090.jpg" title="Exploring. #adventuredad #futurecyclist #clearybikes #cycling #bicycle #babySNUB #babyARC #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Exploring. #adventuredad #futurecyclist #clearybikes #cycling #bicycle #babySNUB #babyARC #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000090_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000091.jpg" title="60 degrees! Bike washing marathon complete with sun drying service. #bikemechanic #lovestarbicyclebags #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>60 degrees! Bike washing marathon complete with sun drying service. #bikemechanic #lovestarbicyclebags #cycling</small>
                           </div>
                           <img src="../lsphotos/image000091_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000092.jpg" title="So proud to see my son as well as his custom bike bag company featured in the 2016 Novara Catalog!  #lovestarbicyclebags #lovestar #custombicyclebags #cyclingchicago #lovestarcyclingteam #cycling #cyclocross #cyclocrosschicago #cyclocrossinthemidwest" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>So proud to see my son as well as his custom bike bag company featured in the 2016 Novara Catalog!  #lovestarbicyclebags #lovestar #custombicyclebags #cyclingchicago #lovestarcyclingteam #cycling #cyclocross #cyclocrosschicago #cyclocrossinthemidwest</small>
                           </div>
                           <img src="../lsphotos/image000092_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000093.jpg" title="Silver Lake Highline Trail. #fatbike #cycling #lovestarbicyclebags #bikewinter #bicycle #pogies #bikepacking" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Silver Lake Highline Trail. #fatbike #cycling #lovestarbicyclebags #bikewinter #bicycle #pogies #bikepacking</small>
                           </div>
                           <img src="../lsphotos/image000093_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000094.jpg" title="Riding groomers at Silver Lake. #fatbike #cycling #bikewinter #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Riding groomers at Silver Lake. #fatbike #cycling #bikewinter #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000094_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000095.jpg" title="Shortly before I said farewell to REI, I had the opportunity to be a part of a photo shoot for the @rei 2016 Novara catalogue. They outfitted me with a bike, sent a camera crew and followed me around while I rode around the North Shore. It was a fun experience...and today I was able to snag a copy of the finished product. Some custom #lovestarbicyclebags that I had made for the bike were featured along with @otherbrothercoffee who graciously hosted me and the camera crew on the morning of the shoot. #REI #Novara #cycling #bikecommute #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Shortly before I said farewell to REI, I had the opportunity to be a part of a photo shoot for the @rei 2016 Novara catalogue. They outfitted me with a bike, sent a camera crew and followed me around while I rode around the North Shore. It was a fun experience...and today I was able to snag a copy of the finished product. Some custom #lovestarbicyclebags that I had made for the bike were featured along with @otherbrothercoffee who graciously hosted me and the camera crew on the morning of the shoot. #REI #Novara #cycling #bikecommute #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000095_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000096.jpg" title="Cold sunrise ride. #cycling #bikewinter #moots #psychloX #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Cold sunrise ride. #cycling #bikewinter #moots #psychloX #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000096_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000605.jpg" title="After today's summery February ride. #LovestarFactoryTeam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>theandyhudson</h4>
                              <small>After today's summery February ride. #LovestarFactoryTeam</small>
                           </div>
                           <img src="../lsphotos/image000605_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000606.jpg" title="The first ride each spring that I get to wear only a single layer always feels like magic. #lovestarfactoryteam #cycling #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>The first ride each spring that I get to wear only a single layer always feels like magic. #lovestarfactoryteam #cycling #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000606_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram12.html" class="next">Next Page</a></center>