
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000241.jpg" title="Getting charged for a team night ride tonight. #cycling #fatbike #bicycle #nightride #lovestarbicyclebags #lovestarfactoryteam #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Getting charged for a team night ride tonight. #cycling #fatbike #bicycle #nightride #lovestarbicyclebags #lovestarfactoryteam #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000241_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000242.jpg" title="Worked my 8th #bikethedrive this morning. Some of the SWAG matches my kit almost too well. #cycling #bikechi #lovestarbicyclebags #bicycle #bikecommute #REIvillage" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Worked my 8th #bikethedrive this morning. Some of the SWAG matches my kit almost too well. #cycling #bikechi #lovestarbicyclebags #bicycle #bikecommute #REIvillage</small>
                           </div>
                           <img src="../lsphotos/image000242_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000243.jpg" title="#lovestarfactoryteam Rollin' out to the #almanzo100 . Killer crew this year, ready to pull #baby snub to victory. #cyclocross #gravel #gravelgrinder #cycling #bikechi #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#lovestarfactoryteam Rollin' out to the #almanzo100 . Killer crew this year, ready to pull #baby snub to victory. #cyclocross #gravel #gravelgrinder #cycling #bikechi #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000243_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000244.jpg" title="I'm back! After almost a month without access, I am back on the internets...while I was out, had some great rides with the fine folks on the Lovestar Factory Team like the #almanzo100 . Woohoo! #cycling #gravel #gravelgrinder #almanzo2015 #lovestarbicyclebags #lovestarfactoryteam #cyclocross #cx" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>I'm back! After almost a month without access, I am back on the internets...while I was out, had some great rides with the fine folks on the Lovestar Factory Team like the #almanzo100 . Woohoo! #cycling #gravel #gravelgrinder #almanzo2015 #lovestarbicyclebags #lovestarfactoryteam #cyclocross #cx</small>
                           </div>
                           <img src="../lsphotos/image000244_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000736.jpg" title="#LoveStarFactoryTeam dudes before the race! #Almanzo100 #LSB" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>theandyhudson</h4>
                              <small>#LoveStarFactoryTeam dudes before the race! #Almanzo100 #LSB</small>
                           </div>
                           <img src="../lsphotos/image000736_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000245.jpg" title="Crushing gravel for 100 miles with Team Lovestar for the Almanzo 100. #lovestarbicyclebags #almanzo100" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>agonz21</h4>
                              <small>Crushing gravel for 100 miles with Team Lovestar for the Almanzo 100. #lovestarbicyclebags #almanzo100</small>
                           </div>
                           <img src="../lsphotos/image000245_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000246.jpg" title="Lovestar Factory Team on their way to the Almanzo 100 Bike Rice, Spring Valley, Minnesaota. #almanzo100bikerace #almanzo100.bike #lovestarfactoryteam #lovestarbicyclebags #elliotlovestarbicycle #elliotlovestar #elliotlovestarbicyclebags #cycling #cyclocross #bikeracing #bikechicago #cyclocrosschicago #cyclingminnesota #gravelracing #100mileride #100milerace #youguysgotthis" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Lovestar Factory Team on their way to the Almanzo 100 Bike Rice, Spring Valley, Minnesaota. #almanzo100bikerace #almanzo100.bike #lovestarfactoryteam #lovestarbicyclebags #elliotlovestarbicycle #elliotlovestar #elliotlovestarbicyclebags #cycling #cyclocross #bikeracing #bikechicago #cyclocrosschicago #cyclingminnesota #gravelracing #100mileride #100milerace #youguysgotthis</small>
                           </div>
                           <img src="../lsphotos/image000246_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000247.jpg" title="Crushing gravel on the Des Plaines River Trail, Team Lovestar style! #lovestarbicyclebags #bikechi #ijustwanttoridebikeswithyou" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>agonz21</h4>
                              <small>Crushing gravel on the Des Plaines River Trail, Team Lovestar style! #lovestarbicyclebags #bikechi #ijustwanttoridebikeswithyou</small>
                           </div>
                           <img src="../lsphotos/image000247_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000248.jpg" title="Finally was able to finish up this Grey and Black #lovestarbicyclebags SaddlePack. Subtle exterior hides a blaze orange interior. #handmade #cycling #bicycle #bicyclebag #bikechi #bikepacking #seatbag #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Finally was able to finish up this Grey and Black #lovestarbicyclebags SaddlePack. Subtle exterior hides a blaze orange interior. #handmade #cycling #bicycle #bicyclebag #bikechi #bikepacking #seatbag #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000248_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000249.jpg" title="I think Billy Idol said it best: &quot;nice day for... bike riding...&quot; Or something like that. #lovestarbicyclebags #bikechi #itsspringagain" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>agonz21</h4>
                              <small>I think Billy Idol said it best: "nice day for... bike riding..." Or something like that. #lovestarbicyclebags #bikechi #itsspringagain</small>
                           </div>
                           <img src="../lsphotos/image000249_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000250.jpg" title="Some classic grey and black for this #lovestarbicyclebags SaddlePack. Final stock project for a little while. Starting in on a big custom project. #handmade #cycling #bicycle #bikepacking #bikechi #bicyclebag #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Some classic grey and black for this #lovestarbicyclebags SaddlePack. Final stock project for a little while. Starting in on a big custom project. #handmade #cycling #bicycle #bikepacking #bikechi #bicyclebag #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000250_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000251.jpg" title="Smiles for miles. #babysnub #futurecyclist #championsystem #striderbikes #Lovestarbicyclebags #cycling #bicycle" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Smiles for miles. #babysnub #futurecyclist #championsystem #striderbikes #Lovestarbicyclebags #cycling #bicycle</small>
                           </div>
                           <img src="../lsphotos/image000251_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000252.jpg" title="The youngest member of Lovestar Factory Team dropping in on the technical section of the train station ramp. #futurecyclist #striderbikes #championsystem #evanston #cycling #Lovestarbicyclebags #lilShredder #babysnub" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>The youngest member of Lovestar Factory Team dropping in on the technical section of the train station ramp. #futurecyclist #striderbikes #championsystem #evanston #cycling #Lovestarbicyclebags #lilShredder #babysnub</small>
                           </div>
                           <img src="../lsphotos/image000252_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000253.jpg" title="Finished up a flashy #Lovestarbicyclebags SaddlePack . Made this one to match a Lovestar Factory Team rider's  framebag. #handmade #bikepacking #bicycle #bicyclebag #cycling #custom #bikechi #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Finished up a flashy #Lovestarbicyclebags SaddlePack . Made this one to match a Lovestar Factory Team rider's  framebag. #handmade #bikepacking #bicycle #bicyclebag #cycling #custom #bikechi #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000253_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000254.jpg" title="Searching through cross race photos from this past year. Came across this gem from #snowymountainphotography check him out! #lovestarbicyclebags #cyclocross #cx #barriers #moots #championsystem #bikechi #cycling #bicycle" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Searching through cross race photos from this past year. Came across this gem from #snowymountainphotography check him out! #lovestarbicyclebags #cyclocross #cx #barriers #moots #championsystem #bikechi #cycling #bicycle</small>
                           </div>
                           <img src="../lsphotos/image000254_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000255.jpg" title="Morning commute made me thankful for a high BB and waterproof bags. #lovestarbicyclebags #northbranchtrail #bikechi #moots #adventurebike #cycling #cyclocross #cx #bikecommute" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Morning commute made me thankful for a high BB and waterproof bags. #lovestarbicyclebags #northbranchtrail #bikechi #moots #adventurebike #cycling #cyclocross #cx #bikecommute</small>
                           </div>
                           <img src="../lsphotos/image000255_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000256.jpg" title="A pair of #lovestarbicyclebags on their matching bikes. #handmade #custom #bicyclebag #cycling #cyclocross #cx #bikechi #cannondale #seatbag #bikepacking" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>A pair of #lovestarbicyclebags on their matching bikes. #handmade #custom #bicyclebag #cycling #cyclocross #cx #bikechi #cannondale #seatbag #bikepacking</small>
                           </div>
                           <img src="../lsphotos/image000256_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000257.jpg" title="Finished up the sister #lovestarbicyclebags SaddlePack to yesterday's post. Two bags two bikes one lucky customer. #handmade #cycling #bicycle #bikechi #cycling #bikepacking #bicyclebag" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Finished up the sister #lovestarbicyclebags SaddlePack to yesterday's post. Two bags two bikes one lucky customer. #handmade #cycling #bicycle #bikechi #cycling #bikepacking #bicyclebag</small>
                           </div>
                           <img src="../lsphotos/image000257_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000737.jpg" title="Cemetery ride! #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>oliviabeaty</h4>
                              <small>Cemetery ride! #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000737_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000258.jpg" title="Custom #lovestarbicyclebags SaddlePack got finished up tonight. Racing stripes to match the bike. #handmade #bicycle #bikechi #bikestyle #bicyclebag #seatbg #bikepacking #cycling #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Custom #lovestarbicyclebags SaddlePack got finished up tonight. Racing stripes to match the bike. #handmade #bicycle #bikechi #bikestyle #bicyclebag #seatbg #bikepacking #cycling #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000258_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram27.html" class="next">Next Page</a></center>