
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000706.jpg" title="1 ride just surpassed my monthly average elevation in Chicago. #bigsky #cycling #cyclist #moots #psychloX #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>1 ride just surpassed my monthly average elevation in Chicago. #bigsky #cycling #cyclist #moots #psychloX #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000706_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000707.jpg" title="Dad's bike is built and ready...now it's time for the important bike. #babysnub #futurecyclist #striderbikes #cycling #babyepic #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Dad's bike is built and ready...now it's time for the important bike. #babysnub #futurecyclist #striderbikes #cycling #babyepic #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000707_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000708.jpg" title="Climbing! I apologize to all my IG followers. This flat lander is spending a week in the mountains...endless pictures are likely to follow. #cyclist #cycling #lazersport #lovestarfactoryteam #bigsky" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Climbing! I apologize to all my IG followers. This flat lander is spending a week in the mountains...endless pictures are likely to follow. #cyclist #cycling #lazersport #lovestarfactoryteam #bigsky</small>
                           </div>
                           <img src="../lsphotos/image000708_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000709.jpg" title="#bigsky Montana. Coming from #Chicago where my biggest climbs are highway overpasses...this blows my mind. #cycling #psychloX #cyclist #moots #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#bigsky Montana. Coming from #Chicago where my biggest climbs are highway overpasses...this blows my mind. #cycling #psychloX #cyclist #moots #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000709_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000710.jpg" title="Looks like the #moots survived the journey to #bigsky time to assemble and get my climb on. #cyclist #cycling #psychloX #bicycle #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Looks like the #moots survived the journey to #bigsky time to assemble and get my climb on. #cyclist #cycling #psychloX #bicycle #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000710_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000711.jpg" title="Gettin' Rad. #babyGnar #babysnub #futurecyclist #striderbikes #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Gettin' Rad. #babyGnar #babysnub #futurecyclist #striderbikes #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000711_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000211.jpg" title="I'm convinced that taking two kids on a bike ride to the local park takes almost as much planning and just as much equipment as your average #bikepacking expedition. #fatbike #cycling #bikechi #cyclist #bicycle #futurecyclist #adventuredad #lovestarbicyclebags #bicyclebag #babysnub" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>I'm convinced that taking two kids on a bike ride to the local park takes almost as much planning and just as much equipment as your average #bikepacking expedition. #fatbike #cycling #bikechi #cyclist #bicycle #futurecyclist #adventuredad #lovestarbicyclebags #bicyclebag #babysnub</small>
                           </div>
                           <img src="../lsphotos/image000211_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000212.jpg" title="Took me a while to find a transportation solution for this bike...#RockyMounts came through with their brass knuckles roof rack. Keeps the bike up top in all of its monstrous glory. #fatbike #cyclistproblems #lovestarbicyclebags #cycling #bicycle" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Took me a while to find a transportation solution for this bike...#RockyMounts came through with their brass knuckles roof rack. Keeps the bike up top in all of its monstrous glory. #fatbike #cyclistproblems #lovestarbicyclebags #cycling #bicycle</small>
                           </div>
                           <img src="../lsphotos/image000212_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000213.jpg" title="Oasis. #moots #psychloX #cycling #cyclist #bicycle #bikechi #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Oasis. #moots #psychloX #cycling #cyclist #bicycle #bikechi #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000213_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000214.jpg" title="Big bird, big tires...happy Friday! #fatbikefriday #fatbike #bicycle #cycling #lovestarfactoryteam #bikechi #lovestarbicyclebags #handmade #bikepacking #framebag #seatbag #bicyclebag" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Big bird, big tires...happy Friday! #fatbikefriday #fatbike #bicycle #cycling #lovestarfactoryteam #bikechi #lovestarbicyclebags #handmade #bikepacking #framebag #seatbag #bicyclebag</small>
                           </div>
                           <img src="../lsphotos/image000214_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000712.jpg" title="#babysnub shreddin' the bike lane. #cycling #lovestarfactoryteam #futurecyclist #bicycle #striderbikes #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#babysnub shreddin' the bike lane. #cycling #lovestarfactoryteam #futurecyclist #bicycle #striderbikes #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000712_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000215.jpg" title="#Repost @elliotlovestarbicycles with @repostapp.
・・・
Some muddy #lovestarbicyclebags product testing. #handmade #bicyclebag #fatbike #bikechi #bicycle #cycling #framebag #bikepacking #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>fatbikee</h4>
                              <small>#Repost @elliotlovestarbicycles with @repostapp.
・・・
Some muddy #lovestarbicyclebags product testing. #handmade #bicyclebag #fatbike #bikechi #bicycle #cycling #framebag #bikepacking #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000215_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000216.jpg" title="Some muddy #lovestarbicyclebags product testing. #handmade #bicyclebag #fatbike #bikechi #bicycle #cycling #framebag #bikepacking #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Some muddy #lovestarbicyclebags product testing. #handmade #bicyclebag #fatbike #bikechi #bicycle #cycling #framebag #bikepacking #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000216_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000217.jpg" title="#Repost @elliotlovestarbicycles with @repostapp.
・・・
Added a custom #lovestarbicyclebags top tube bag to this #bikepacking set up. #fatbike #cyclist #bicycle #cycling #bicyclebag #handmade #framebag #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>fatbikee</h4>
                              <small>#Repost @elliotlovestarbicycles with @repostapp.
・・・
Added a custom #lovestarbicyclebags top tube bag to this #bikepacking set up. #fatbike #cyclist #bicycle #cycling #bicyclebag #handmade #framebag #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000217_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000218.jpg" title="Up close. #lovestarbicyclebags #handmade #bikepacking #framebag #cycling #bikechi #bicycle #fatbike #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Up close. #lovestarbicyclebags #handmade #bikepacking #framebag #cycling #bikechi #bicycle #fatbike #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000218_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000219.jpg" title="Added a custom #lovestarbicyclebags top tube bag to this #bikepacking set up. #fatbike #cyclist #bicycle #cycling #bicyclebag #handmade #framebag #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Added a custom #lovestarbicyclebags top tube bag to this #bikepacking set up. #fatbike #cyclist #bicycle #cycling #bicyclebag #handmade #framebag #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000219_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000713.jpg" title="#LovestarFactoryTeam and our littlest mechanic." rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>theandyhudson</h4>
                              <small>#LovestarFactoryTeam and our littlest mechanic.</small>
                           </div>
                           <img src="../lsphotos/image000713_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000714.jpg" title="#SpeedLimit #LovestarFactoryTeam #LSB" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>theandyhudson</h4>
                              <small>#SpeedLimit #LovestarFactoryTeam #LSB</small>
                           </div>
                           <img src="../lsphotos/image000714_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000715.jpg" title="Comin' in hot. #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Comin' in hot. #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000715_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000716.jpg" title="Handsome lineup this morning. #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Handsome lineup this morning. #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000716_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram24.html" class="next">Next Page</a></center>