
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000318.jpg" title="Early morning project. Grey & Black Lovestar SaddlePack with Blaze Orange interior. Available in my Etsy shop. #lovestarbicyclebags #lovestarbicycles #handmade #madeintheusa #bikechi #cycling #bikepacking #bikebag #seatpack #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Early morning project. Grey & Black Lovestar SaddlePack with Blaze Orange interior. Available in my Etsy shop. #lovestarbicyclebags #lovestarbicycles #handmade #madeintheusa #bikechi #cycling #bikepacking #bikebag #seatpack #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000318_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000319.jpg" title="Cold ride into work for #BlackFriday . #cycling #wintercyling coldweathercycling #nobadweather #bikechi #bikecommute #layers #lovestarbicycles #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Cold ride into work for #BlackFriday . #cycling #wintercyling coldweathercycling #nobadweather #bikechi #bikecommute #layers #lovestarbicycles #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000319_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000320.jpg" title="Pre-turkey rollers. Happy Thanksgiving everyone! Earn that turkey! #turkeyride #rollers #cycling #bikechi #lovestarbicycles #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Pre-turkey rollers. Happy Thanksgiving everyone! Earn that turkey! #turkeyride #rollers #cycling #bikechi #lovestarbicycles #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000320_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000321.jpg" title="Killer shot from the sand at #MelasCX Thanks to #jayloophotography for always making me look better than I am. #cyclocross #sandpit #cx #cycling #chicagocrosscup #bikechi #bicycle #belgianstyle #mud #race #lovestarbicycles #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Killer shot from the sand at #MelasCX Thanks to #jayloophotography for always making me look better than I am. #cyclocross #sandpit #cx #cycling #chicagocrosscup #bikechi #bicycle #belgianstyle #mud #race #lovestarbicycles #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000321_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000322.jpg" title="Thanks to @pattylouwho55 for the great pic! Lovestar Factory Team looking strong in the Sand at #MelasCX #cyclocross #cx #chicagocrosscup #bikechi #sandpit #lovestarbicycles #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Thanks to @pattylouwho55 for the great pic! Lovestar Factory Team looking strong in the Sand at #MelasCX #cyclocross #cx #chicagocrosscup #bikechi #sandpit #lovestarbicycles #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000322_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000323.jpg" title="Lovestar Factory Team riders before #MelasCX . It was a very Belgian course with lots of mud, rain and sand. Killer conditions, thanks to the organizers for a great race! #cyclocross #cx #chicagocrosscup #bikechi #lovestarbicyles #lovestarbicyclebags #melascx" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Lovestar Factory Team riders before #MelasCX . It was a very Belgian course with lots of mud, rain and sand. Killer conditions, thanks to the organizers for a great race! #cyclocross #cx #chicagocrosscup #bikechi #lovestarbicyles #lovestarbicyclebags #melascx</small>
                           </div>
                           <img src="../lsphotos/image000323_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000324.jpg" title="Happy Birthday to another Lovestar Factory racer in the making! I'm sure we'll see her out on the course next season!!! #lovestarfactoryteam #lovestarbicyclebags #lovestar #elliotlovestar #cyclocrosschicago #cyclocross #cycling #bikeracing" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Happy Birthday to another Lovestar Factory racer in the making! I'm sure we'll see her out on the course next season!!! #lovestarfactoryteam #lovestarbicyclebags #lovestar #elliotlovestar #cyclocrosschicago #cyclocross #cycling #bikeracing</small>
                           </div>
                           <img src="../lsphotos/image000324_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000325.jpg" title="End of a long grueling race. Tougher the conditions, sweeter the finish! #lovestarfactoryteam #lovestarbicyclebags #lovestar #elliotlovestar #cyclocrosschicago #cyclocross #cycling #bikeracing" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>End of a long grueling race. Tougher the conditions, sweeter the finish! #lovestarfactoryteam #lovestarbicyclebags #lovestar #elliotlovestar #cyclocrosschicago #cyclocross #cycling #bikeracing</small>
                           </div>
                           <img src="../lsphotos/image000325_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000326.jpg" title="Go @elliotlovestarbicycles! Pounding through that deep wet sand. Tough course. Tough conditions. Awesome ride. Pushing through to the end! #cyclocrosschicago #cyclocross #cycling #elliotlovestar #lovestarfactoryteam #lovestarbicyclebags #lovestar #bikeracing" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Go @elliotlovestarbicycles! Pounding through that deep wet sand. Tough course. Tough conditions. Awesome ride. Pushing through to the end! #cyclocrosschicago #cyclocross #cycling #elliotlovestar #lovestarfactoryteam #lovestarbicyclebags #lovestar #bikeracing</small>
                           </div>
                           <img src="../lsphotos/image000326_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000327.jpg" title="Great race today on a grueling course with tough, cold, rain, and muddy conditions. Go Lovestar Factory team! #lovestar #lovestarfactoryteam #lovestarbicyclebags #cyclocrosschicago #cycling #cyclocross #bikeracing #elliotlovestar" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Great race today on a grueling course with tough, cold, rain, and muddy conditions. Go Lovestar Factory team! #lovestar #lovestarfactoryteam #lovestarbicyclebags #cyclocrosschicago #cycling #cyclocross #bikeracing #elliotlovestar</small>
                           </div>
                           <img src="../lsphotos/image000327_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000328.jpg" title="Another great shot from @pattylouwho55. It was a tough course today, snow and ice made for very slick conditions. #cyclocross #chicago #cx #cycling #chicagocrosscup #lovestarbicycles #lovestarbicyclebags #ILRcx" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Another great shot from @pattylouwho55. It was a tough course today, snow and ice made for very slick conditions. #cyclocross #chicago #cx #cycling #chicagocrosscup #lovestarbicycles #lovestarbicyclebags #ILRcx</small>
                           </div>
                           <img src="../lsphotos/image000328_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000329.jpg" title="Lovestar Factory Team racing in snow and icy conditions today in Indian Lakes. Great race! #lovestarfactoryteam #lovestarbicyclebags #lovestar #chicagocycling #chicagocyclocross #chicagoracing #cycling #cyclocrosschicago #cyclocross" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Lovestar Factory Team racing in snow and icy conditions today in Indian Lakes. Great race! #lovestarfactoryteam #lovestarbicyclebags #lovestar #chicagocycling #chicagocyclocross #chicagoracing #cycling #cyclocrosschicago #cyclocross</small>
                           </div>
                           <img src="../lsphotos/image000329_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000330.jpg" title="Lovestar Factory Team racing in snow and icy conditions today! Great race guys! #lovestarfactoryteam #lovestarbicyclebags #cycling #cyclocrosschicago #cyclocross #chicagocycling #elliotlovestar" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Lovestar Factory Team racing in snow and icy conditions today! Great race guys! #lovestarfactoryteam #lovestarbicyclebags #cycling #cyclocrosschicago #cyclocross #chicagocycling #elliotlovestar</small>
                           </div>
                           <img src="../lsphotos/image000330_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000331.jpg" title="Yesterday's #ILRcx course was fun & challenging with lots of sand and cold weather...today's race is looking quite snowy so it will be interesting to see how the course has changed in just 24 hours... #cyclocross #cycling #chicago #chicagocrosscup #cx #bikechi #lovestarbicycles #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Yesterday's #ILRcx course was fun & challenging with lots of sand and cold weather...today's race is looking quite snowy so it will be interesting to see how the course has changed in just 24 hours... #cyclocross #cycling #chicago #chicagocrosscup #cx #bikechi #lovestarbicycles #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000331_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000332.jpg" title="Lovestar Factory Team riders going head to head in the sandpits at #ILRcx yesterday #cyclocross #cycling #cx #sandpit #crossisboss #chicago #chicagocrosscup #bikechi #lovestarbicycles #lovestarbicyclebags #championsystem" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Lovestar Factory Team riders going head to head in the sandpits at #ILRcx yesterday #cyclocross #cycling #cx #sandpit #crossisboss #chicago #chicagocrosscup #bikechi #lovestarbicycles #lovestarbicyclebags #championsystem</small>
                           </div>
                           <img src="../lsphotos/image000332_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000333.jpg" title="One more #PSIcx pic from #jayloophotography it was a tough race (my first post injury ride) but had a good time despite the hurt #cyclocross #cx #paincave #bikechi #cycling #defeet #giroempire #lazersport #lovestarbicycles #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>One more #PSIcx pic from #jayloophotography it was a tough race (my first post injury ride) but had a good time despite the hurt #cyclocross #cx #paincave #bikechi #cycling #defeet #giroempire #lazersport #lovestarbicycles #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000333_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000334.jpg" title="Killer #PSIcx photos from @jayloophotography #cyclocross #lovestarbicyclebags #cx #bikechi #moots #lazersport #defeet #giro" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Killer #PSIcx photos from @jayloophotography #cyclocross #lovestarbicyclebags #cx #bikechi #moots #lazersport #defeet #giro</small>
                           </div>
                           <img src="../lsphotos/image000334_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000335.jpg" title="Lovestar Factory Team at the line for #PSIcx this weekend. #cyclocross #lovestarbicyclebags #lovestarbicycles #cycling #cx #chicagocx #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Lovestar Factory Team at the line for #PSIcx this weekend. #cyclocross #lovestarbicyclebags #lovestarbicycles #cycling #cx #chicagocx #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000335_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000336.jpg" title="Fixing a flat in the middle of the woods...beautiful ride on the #DPRT today with the Lovestar Factory Team #cycling #cyclocross #lovestarbicyclebags #lovestarbicycles #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Fixing a flat in the middle of the woods...beautiful ride on the #DPRT today with the Lovestar Factory Team #cycling #cyclocross #lovestarbicyclebags #lovestarbicycles #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000336_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000337.jpg" title="Nap time roller sessions. #dadlife #cycling #cyclocross #bikechi #lovestarbicyclebags #lovestarbicycles #rollers #training" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Nap time roller sessions. #dadlife #cycling #cyclocross #bikechi #lovestarbicyclebags #lovestarbicycles #rollers #training</small>
                           </div>
                           <img src="../lsphotos/image000337_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram31.html" class="next">Next Page</a></center>