
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000607.jpg" title="Today was a road whip day. #cycling #bikechi #lovestarfactoryteam #bmc" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Today was a road whip day. #cycling #bikechi #lovestarfactoryteam #bmc</small>
                           </div>
                           <img src="../lsphotos/image000607_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000608.jpg" title="45mph winds and white out blizzard conditions...time for a fat bike beach ride. #fatbike #cycling #bikewinter #bikechi #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>45mph winds and white out blizzard conditions...time for a fat bike beach ride. #fatbike #cycling #bikewinter #bikechi #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000608_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000097.jpg" title="Finished up a custom #lovestarbicyclebags shop apron in a very classy Black & Burgundy. Hanging top pocket keeps things from falling when you stoop over, small sewn-in magnet allows for quick storage of bolts and small tools while working and wide shoulder straps keeps everything comfortable and where you want it. #handmade #cycling #bikemechanic #newtoolday #bicycle #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Finished up a custom #lovestarbicyclebags shop apron in a very classy Black & Burgundy. Hanging top pocket keeps things from falling when you stoop over, small sewn-in magnet allows for quick storage of bolts and small tools while working and wide shoulder straps keeps everything comfortable and where you want it. #handmade #cycling #bikemechanic #newtoolday #bicycle #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000097_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000609.jpg" title="Good lookin crew for a #lovestarfactoryteam sunrise ride. #cycling #bicycle #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Good lookin crew for a #lovestarfactoryteam sunrise ride. #cycling #bicycle #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000609_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000610.jpg" title="Suns out guns out. #cycling #lovestarfactoryteam #theponyshop #bikecommute" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Suns out guns out. #cycling #lovestarfactoryteam #theponyshop #bikecommute</small>
                           </div>
                           <img src="../lsphotos/image000610_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000098.jpg" title="Such a stud...he didn't even need studded tire's. #dadjoke #fatbike #bikewinter #lovestarbicyclebags #lovestarfactoryteam #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Such a stud...he didn't even need studded tire's. #dadjoke #fatbike #bikewinter #lovestarbicyclebags #lovestarfactoryteam #cycling</small>
                           </div>
                           <img src="../lsphotos/image000098_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000099.jpg" title="Fresh snow this morning with @agonz21 #fatbike #bikewinter #lovestarbicyclebags #bikepacking #bikepackingbags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Fresh snow this morning with @agonz21 #fatbike #bikewinter #lovestarbicyclebags #bikepacking #bikepackingbags</small>
                           </div>
                           <img src="../lsphotos/image000099_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000100.jpg" title="Happy Valentines Day! #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Happy Valentines Day! #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000100_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000611.jpg" title="Yeah Dad #lovestarfactoryteam #cycling #focus" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>theandyhudson</h4>
                              <small>Yeah Dad #lovestarfactoryteam #cycling #focus</small>
                           </div>
                           <img src="../lsphotos/image000611_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000612.jpg" title="Frosty miles this morning. #cycling #lovestarfactoryteam #moots #psychloX" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Frosty miles this morning. #cycling #lovestarfactoryteam #moots #psychloX</small>
                           </div>
                           <img src="../lsphotos/image000612_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000101.jpg" title="Sunset. #fatbike #bikepackingbags #bikepacking #cycling #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Sunset. #fatbike #bikepackingbags #bikepacking #cycling #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000101_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000102.jpg" title="Sunshine & warmer temps today! Getting in a quick spin before the snow comes back. #cycling #bikewinter #moots #lovestarfactoryteam #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Sunshine & warmer temps today! Getting in a quick spin before the snow comes back. #cycling #bikewinter #moots #lovestarfactoryteam #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000102_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000613.jpg" title="Some very Belgian weather this afternoon. #cycling #bikewinter #moots #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Some very Belgian weather this afternoon. #cycling #bikewinter #moots #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000613_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000614.jpg" title="Today. #cycling #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>theandyhudson</h4>
                              <small>Today. #cycling #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000614_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000615.jpg" title="Putting in some miles on a gorgeous morning. #cycling #bikewinter #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Putting in some miles on a gorgeous morning. #cycling #bikewinter #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000615_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000616.jpg" title="Getting a little rad on today's Goonies ride.  #fatbike #bikewinter #lovestarfactoryteam #cycling " rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Getting a little rad on today's Goonies ride.  #fatbike #bikewinter #lovestarfactoryteam #cycling </small>
                           </div>
                           <img src="../lsphotos/image000616_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000103.jpg" title="Somebody was just a little proud of the Pogies she helped make. #babySNUB #adventuredad #bikewinter #lovestarbicyclebags #clearybikes #handmade #SewRad " rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Somebody was just a little proud of the Pogies she helped make. #babySNUB #adventuredad #bikewinter #lovestarbicyclebags #clearybikes #handmade #SewRad </small>
                           </div>
                           <img src="../lsphotos/image000103_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000104.jpg" title="#babySNUB in the workshop helping add some snaps to her Micro Pogies. #handmade #lovestarbicyclebags #bikewinter " rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#babySNUB in the workshop helping add some snaps to her Micro Pogies. #handmade #lovestarbicyclebags #bikewinter </small>
                           </div>
                           <img src="../lsphotos/image000104_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000007.jpg" title="Cold morning Ride. #lovestarfactoryteam #lovestarbicyclebags #bikewinter #cycling #moots " rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Cold morning Ride. #lovestarfactoryteam #lovestarbicyclebags #bikewinter #cycling #moots </small>
                           </div>
                           <img src="../lsphotos/image000007_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000105.jpg" title="Busted out the skinny tire's today. Kicking off spring training for a ambitious #gravelgrinder season... #BarrYRoubaix #Almanzo100 and #DirtyKanza 200 are all on the books for this year. #lovestarbicyclebags #lovestarfactoryteam " rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Busted out the skinny tire's today. Kicking off spring training for a ambitious #gravelgrinder season... #BarrYRoubaix #Almanzo100 and #DirtyKanza 200 are all on the books for this year. #lovestarbicyclebags #lovestarfactoryteam </small>
                           </div>
                           <img src="../lsphotos/image000105_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram13.html" class="next">Next Page</a></center>