
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000123.jpg" title="...then the fog rolled in. #fatbike #lovestarbicyclebags #bikepackingbags #bikepacking #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>...then the fog rolled in. #fatbike #lovestarbicyclebags #bikepackingbags #bikepacking #cycling</small>
                           </div>
                           <img src="../lsphotos/image000123_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000124.jpg" title="Wintry mix of sleet & snow & rain with temps bouncing around the freezing point everything was a muddy snowy slop fest. #fatbike #lovestarbicyclebags #bikepackingbags #bikepacking #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Wintry mix of sleet & snow & rain with temps bouncing around the freezing point everything was a muddy snowy slop fest. #fatbike #lovestarbicyclebags #bikepackingbags #bikepacking #cycling</small>
                           </div>
                           <img src="../lsphotos/image000124_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000125.jpg" title="January ride, complete with coffee & donut stop. #babySNUB #babyARC #fatbike #clearybikes #lovestarbicyclebags #bikepackingbags #bikepacking #cycling #adventuredad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>January ride, complete with coffee & donut stop. #babySNUB #babyARC #fatbike #clearybikes #lovestarbicyclebags #bikepackingbags #bikepacking #cycling #adventuredad</small>
                           </div>
                           <img src="../lsphotos/image000125_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000126.jpg" title="My mother-in-law was my hero tonight for watching the kids so I could hop out for a quick night ride on some snowy trails. #fatbike #lovestarbicyclebags #bikepacking #bikepackingbags #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>My mother-in-law was my hero tonight for watching the kids so I could hop out for a quick night ride on some snowy trails. #fatbike #lovestarbicyclebags #bikepacking #bikepackingbags #cycling</small>
                           </div>
                           <img src="../lsphotos/image000126_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000127.jpg" title="First (very icy) miles of 2016! #fatbike #fatbikefriday #cycling #bicycle #lovestarbicyclebags #bikepackingbags #bikepacking" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>First (very icy) miles of 2016! #fatbike #fatbikefriday #cycling #bicycle #lovestarbicyclebags #bikepackingbags #bikepacking</small>
                           </div>
                           <img src="../lsphotos/image000127_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000128.jpg" title="Sunset on the final ride for 2015. #fatbike #bikepacking #bikepackingbags #lovestarbicyclebags #cycling #bicycle #festive500 #raphafestive500" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Sunset on the final ride for 2015. #fatbike #bikepacking #bikepackingbags #lovestarbicyclebags #cycling #bicycle #festive500 #raphafestive500</small>
                           </div>
                           <img src="../lsphotos/image000128_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000129.jpg" title="Blue skies & fresh snow. #fatbike #lovestarbicyclebags #bikepackingbags #bikepacking #cycling #festive500 #raphafestive500" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Blue skies & fresh snow. #fatbike #lovestarbicyclebags #bikepackingbags #bikepacking #cycling #festive500 #raphafestive500</small>
                           </div>
                           <img src="../lsphotos/image000129_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000130.jpg" title="The #lakemichigan surf was gnarly this morning. Snow and sand for today's #raphafestive500 ride. Weather, time and other commitments have pretty much precluded me from finishing this years #festive500 ...but I'm gonna keep logging miles until it's done. #fatbike #lovestarbicyclebags #bikepackingbags #bikepacking #cycling #illinoisbeachstatepark" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>The #lakemichigan surf was gnarly this morning. Snow and sand for today's #raphafestive500 ride. Weather, time and other commitments have pretty much precluded me from finishing this years #festive500 ...but I'm gonna keep logging miles until it's done. #fatbike #lovestarbicyclebags #bikepackingbags #bikepacking #cycling #illinoisbeachstatepark</small>
                           </div>
                           <img src="../lsphotos/image000130_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000620.jpg" title="The warm before the storm.  Good job getting out.  @elliotlovestarbicycles with @repostapp.
・・・
Angry sky & punishing winds for today's #raphafestive500 ride. #cycling #cyclocross #cx #moots #psychloX #bicycle #lakemichigan #lovestarfactoryteam #festive500" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>mootscycles</h4>
                              <small>The warm before the storm.  Good job getting out.  @elliotlovestarbicycles with @repostapp.
・・・
Angry sky & punishing winds for today's #raphafestive500 ride. #cycling #cyclocross #cx #moots #psychloX #bicycle #lakemichigan #lovestarfactoryteam #festive500</small>
                           </div>
                           <img src="../lsphotos/image000620_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000005.jpg" title="Robert McClory Path & the Illinois/Wisconsin border. #fatbike #lovestarbicyclebags #raphafestive500 #festive500" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Robert McClory Path & the Illinois/Wisconsin border. #fatbike #lovestarbicyclebags #raphafestive500 #festive500</small>
                           </div>
                           <img src="../lsphotos/image000005_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000131.jpg" title="Finally getting some snow under these tire's! #fatbike #festive500 #cycling #lovestarbicyclebags #bikepackingbags #bikepacking #bicycle #raphafestive500" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Finally getting some snow under these tire's! #fatbike #festive500 #cycling #lovestarbicyclebags #bikepackingbags #bikepacking #bicycle #raphafestive500</small>
                           </div>
                           <img src="../lsphotos/image000131_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000132.jpg" title="Driving snow, soul crushing wind & 10psi made for a short #raphafestive500 ride today. #fatbike #cycling #bicycle #festive500 #lovestarbicyclebags #bikepackingbags #bikepacking" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Driving snow, soul crushing wind & 10psi made for a short #raphafestive500 ride today. #fatbike #cycling #bicycle #festive500 #lovestarbicyclebags #bikepackingbags #bikepacking</small>
                           </div>
                           <img src="../lsphotos/image000132_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000621.jpg" title="Angry sky & punishing winds for today's #raphafestive500 ride. #cycling #cyclocross #cx #moots #psychloX #bicycle #lakemichigan #lovestarfactoryteam #festive500" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Angry sky & punishing winds for today's #raphafestive500 ride. #cycling #cyclocross #cx #moots #psychloX #bicycle #lakemichigan #lovestarfactoryteam #festive500</small>
                           </div>
                           <img src="../lsphotos/image000621_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000133.jpg" title="Didn't think I'd see this much grass this time of year... #elniño #elninoisspanishforthenino #christmaslights #cycling #cyclocross #cx #moots #lovestarbicyclebags #raphafestive500 #festive500" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Didn't think I'd see this much grass this time of year... #elniño #elninoisspanishforthenino #christmaslights #cycling #cyclocross #cx #moots #lovestarbicyclebags #raphafestive500 #festive500</small>
                           </div>
                           <img src="../lsphotos/image000133_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000622.jpg" title="Christmas Eve ride...complete with detour to see the #HomeAlone house. #buzzyourgirlfriendwoof #cycling #moots #lovestarfactoryteam #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Christmas Eve ride...complete with detour to see the #HomeAlone house. #buzzyourgirlfriendwoof #cycling #moots #lovestarfactoryteam #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000622_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000134.jpg" title="Christmas Eve adventures. #fatbike #clearybikes #lovestarbicyclebags #bikepackingbags #bikepacking #cycling #bicycle" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Christmas Eve adventures. #fatbike #clearybikes #lovestarbicyclebags #bikepackingbags #bikepacking #cycling #bicycle</small>
                           </div>
                           <img src="../lsphotos/image000134_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000135.jpg" title="Sunset ride. #fatbike #cycling #lovestarbicyclebags #bikepackingbags #bikepacking #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Sunset ride. #fatbike #cycling #lovestarbicyclebags #bikepackingbags #bikepacking #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000135_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000001.jpg" title="So muddy. So fun. #hughjassfatbikeseries #fatbike #lovestarfactoryteam #lovestarbicyclebags #championsystem" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>So muddy. So fun. #hughjassfatbikeseries #fatbike #lovestarfactoryteam #lovestarbicyclebags #championsystem</small>
                           </div>
                           <img src="../lsphotos/image000001_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000521.jpg" title="First #fatbike race in the books. Thanks @wheelandsprocket for a great time! #lovestarfactoryteam #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>First #fatbike race in the books. Thanks @wheelandsprocket for a great time! #lovestarfactoryteam #cycling</small>
                           </div>
                           <img src="../lsphotos/image000521_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000136.jpg" title="...and I thought #Cyclocross was weird. What did I get myself into? #fatbike #wheelandsprocket #lovestarbicyclebags #bikepackingbags #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>...and I thought #Cyclocross was weird. What did I get myself into? #fatbike #wheelandsprocket #lovestarbicyclebags #bikepackingbags #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000136_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram15.html" class="next">Next Page</a></center>