
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000676.jpg" title="New brain bucket. Giro was nice enough to real ease the Synthe in two out of three of our team colors! Just gotta add a bit of blue. #girocycling #teamcolors #cycling #cyclist #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>New brain bucket. Giro was nice enough to real ease the Synthe in two out of three of our team colors! Just gotta add a bit of blue. #girocycling #teamcolors #cycling #cyclist #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000676_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000181.jpg" title="Playground adventures. #fatbike #cycling #cyclist #adventuredad #adventurebike #bikepacking #lovestarbicyclebags #striderbikes" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Playground adventures. #fatbike #cycling #cyclist #adventuredad #adventurebike #bikepacking #lovestarbicyclebags #striderbikes</small>
                           </div>
                           <img src="../lsphotos/image000181_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000182.jpg" title="Sunrise ride crew. #lovestarfactoryteam #cycling #bicycle #bikechi #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Sunrise ride crew. #lovestarfactoryteam #cycling #bicycle #bikechi #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000182_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000183.jpg" title="Out of the ashes, come upgrades...150mm carbon thru-axle upgrades to be specific. #fatbike #lovestarbicyclebags #bikepacking #framebag #cycling #bicycle #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Out of the ashes, come upgrades...150mm carbon thru-axle upgrades to be specific. #fatbike #lovestarbicyclebags #bikepacking #framebag #cycling #bicycle #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000183_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000184.jpg" title="Had some help in the shop today. #fatbike #futurecyclist #cycling #bicycle #lovestarbicyclebags #bikepacking" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Had some help in the shop today. #fatbike #futurecyclist #cycling #bicycle #lovestarbicyclebags #bikepacking</small>
                           </div>
                           <img src="../lsphotos/image000184_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000677.jpg" title="Riding with power is supposed to take your training to the next level...right? #lovestarfactoryteam #cycling #fatbike #framebag #bikepacking #cyclist #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Riding with power is supposed to take your training to the next level...right? #lovestarfactoryteam #cycling #fatbike #framebag #bikepacking #cyclist #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000677_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000678.jpg" title="One more...because the fog was just so good. #lovestarfactoryteam #cycling #roadie #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>One more...because the fog was just so good. #lovestarfactoryteam #cycling #roadie #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000678_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000679.jpg" title="Foggy Sunday morning hammer fest. #lovestarfactoryteam #roadie #cycling #cyclist #bikechi #bicycle" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Foggy Sunday morning hammer fest. #lovestarfactoryteam #roadie #cycling #cyclist #bikechi #bicycle</small>
                           </div>
                           <img src="../lsphotos/image000679_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000680.jpg" title="First ride on the whip in quite some time. It had been on long term loan to a friend whose bike had been stolen...I feel so speedy 😄 #lovestarfactoryteam #cycling #cyclist #bmc #roadie" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>First ride on the whip in quite some time. It had been on long term loan to a friend whose bike had been stolen...I feel so speedy 😄 #lovestarfactoryteam #cycling #cyclist #bmc #roadie</small>
                           </div>
                           <img src="../lsphotos/image000680_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000185.jpg" title="Family #fatbike adventures. #Babysnub #lovestarbicyclebags #cycling #adventuredad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Family #fatbike adventures. #Babysnub #lovestarbicyclebags #cycling #adventuredad</small>
                           </div>
                           <img src="../lsphotos/image000185_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000186.jpg" title="Fat bike & Flowers for my commute today. #fatbike #cycling #bikecommute #bikechi #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Fat bike & Flowers for my commute today. #fatbike #cycling #bikecommute #bikechi #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000186_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000681.jpg" title="Riding the 'goons. #fatbike #bikechi #lovestarfactoryteam #greenbaycycles" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Riding the 'goons. #fatbike #bikechi #lovestarfactoryteam #greenbaycycles</small>
                           </div>
                           <img src="../lsphotos/image000681_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000682.jpg" title="Riding bikes with big tires in the dirt with @jobywankenoby tonight... Thanks to @greenbaycycles for organizing a great ride! #cycling #mountainbike #bikechi #fatbike #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Riding bikes with big tires in the dirt with @jobywankenoby tonight... Thanks to @greenbaycycles for organizing a great ride! #cycling #mountainbike #bikechi #fatbike #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000682_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000187.jpg" title="Proud Grandma with the youngest member of the Lovestar Factory Team : )  #cyclocrosschicago #cyclocrossinthemidwest #cycling #lovestarfactoryteam #lovestarbicyclebags #cyclocross" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Proud Grandma with the youngest member of the Lovestar Factory Team : )  #cyclocrosschicago #cyclocrossinthemidwest #cycling #lovestarfactoryteam #lovestarbicyclebags #cyclocross</small>
                           </div>
                           <img src="../lsphotos/image000187_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000188.jpg" title="Finished well on a tough technical course! Great first race of the season!!! #lovestarfactoryteam #lovestarbicyclebags #cyclocrosschicago #cyclocrossinthemidwest #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Finished well on a tough technical course! Great first race of the season!!! #lovestarfactoryteam #lovestarbicyclebags #cyclocrosschicago #cyclocrossinthemidwest #cycling</small>
                           </div>
                           <img src="../lsphotos/image000188_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000189.jpg" title="A great first race of the season. Go Lovestar Factory Team!!!!! #cyclocrosschicago #cycling #cyclocrossinthemidwest #lovestarfactoryteam #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>A great first race of the season. Go Lovestar Factory Team!!!!! #cyclocrosschicago #cycling #cyclocrossinthemidwest #lovestarfactoryteam #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000189_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000683.jpg" title="Big thanks to @brittanyfaithphotography for capturing this great shot from today's #relaycx race... #lovestarfactoryteam #cyclocross #cx #bikechi #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Big thanks to @brittanyfaithphotography for capturing this great shot from today's #relaycx race... #lovestarfactoryteam #cyclocross #cx #bikechi #cycling</small>
                           </div>
                           <img src="../lsphotos/image000683_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000684.jpg" title="#lovestarfactoryteam Junior's team is more junior than your junior team...😍 #cyclocross #cx #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#lovestarfactoryteam Junior's team is more junior than your junior team...😍 #cyclocross #cx #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000684_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000190.jpg" title="#lovestarfactoryteam had a great crew out for #relaycx today! Thanks to #xXxracing for a great event. #lovestarbicyclebags #cycling #cyclocross #cx #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#lovestarfactoryteam had a great crew out for #relaycx today! Thanks to #xXxracing for a great event. #lovestarbicyclebags #cycling #cyclocross #cx #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000190_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000685.jpg" title="#lovestarfactoryteam cyclocross season kickoff today with the xXx relay #cx race! #cycling #cyclocross #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#lovestarfactoryteam cyclocross season kickoff today with the xXx relay #cx race! #cycling #cyclocross #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000685_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram21.html" class="next">Next Page</a></center>