
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000656.jpg" title="#babysnub crushin' the barriers. #cyclocross #cx #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#babysnub crushin' the barriers. #cyclocross #cx #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000656_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000657.jpg" title="Racin' #lovestarfactoryteam #cyclocross #cx" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Racin' #lovestarfactoryteam #cyclocross #cx</small>
                           </div>
                           <img src="../lsphotos/image000657_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000658.jpg" title="Muddy race today. #lovestarfactoryteam had a day with some extreme highs and lows. Several top 10 finishes from our juniors team and our full sized squad. But we had one team mate leave in an ambulance. Wishing him well and hoping for a speedy recovery. Thanks to @highergearbikes for putting on a great race! #cyclocross #cx #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Muddy race today. #lovestarfactoryteam had a day with some extreme highs and lows. Several top 10 finishes from our juniors team and our full sized squad. But we had one team mate leave in an ambulance. Wishing him well and hoping for a speedy recovery. Thanks to @highergearbikes for putting on a great race! #cyclocross #cx #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000658_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000659.jpg" title="#lovestarfactoryteam on the under-3yo podium!! #babysnub #cyclocross #cx #cylist" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#lovestarfactoryteam on the under-3yo podium!! #babysnub #cyclocross #cx #cylist</small>
                           </div>
                           <img src="../lsphotos/image000659_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000660.jpg" title="Fun times watching #evanstoncx today. Looking good @ddave12000 #lovestarfactoryteam #cx #cyclocross" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>theandyhudson</h4>
                              <small>Fun times watching #evanstoncx today. Looking good @ddave12000 #lovestarfactoryteam #cx #cyclocross</small>
                           </div>
                           <img src="../lsphotos/image000660_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000661.jpg" title="Very competitive sub-3 year old category today! #cyclocross #futurecyclist #cycling #babysnub #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Very competitive sub-3 year old category today! #cyclocross #futurecyclist #cycling #babysnub #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000661_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000163.jpg" title="#babysnub steppin' up to the line for her first #cyclocross race! Some very Belgian conditions to start her racing career. #lovestarfactoryteam #lovestarbicyclebags #cx #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#babysnub steppin' up to the line for her first #cyclocross race! Some very Belgian conditions to start her racing career. #lovestarfactoryteam #lovestarbicyclebags #cx #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000163_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000164.jpg" title="First race for the youngest member of the Lovestar Factory Team!!! Go #babysnub!!!!!! #cyclocrosschicago #cycling #lovestarfactoryteam #lovestarbicyclebags #2yearsoldandalreadyhooked" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>First race for the youngest member of the Lovestar Factory Team!!! Go #babysnub!!!!!! #cyclocrosschicago #cycling #lovestarfactoryteam #lovestarbicyclebags #2yearsoldandalreadyhooked</small>
                           </div>
                           <img src="../lsphotos/image000164_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000165.jpg" title="Treacherous conditions today on course. Go Lovestar Factory Team! Go Elliot!!! #cyclocrosschicago #cycling #cyclocrossinthemidwest #cyclocross #lovestarfactoryteam #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Treacherous conditions today on course. Go Lovestar Factory Team! Go Elliot!!! #cyclocrosschicago #cycling #cyclocrossinthemidwest #cyclocross #lovestarfactoryteam #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000165_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000166.jpg" title="Fall commute. #bikepacking #lovestarbicyclebags #cycling #fatbike #bikecommute" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Fall commute. #bikepacking #lovestarbicyclebags #cycling #fatbike #bikecommute</small>
                           </div>
                           <img src="../lsphotos/image000166_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000167.jpg" title="being a new fat-bike owner I am actually excited for winter this year...however, the last couple of days were a reminder that I have to make it through two months of 30-40 degree temps and rain first. #sigh #fatbike #lovestarbicyclebags #bikepacking #bikecommute" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>being a new fat-bike owner I am actually excited for winter this year...however, the last couple of days were a reminder that I have to make it through two months of 30-40 degree temps and rain first. #sigh #fatbike #lovestarbicyclebags #bikepacking #bikecommute</small>
                           </div>
                           <img src="../lsphotos/image000167_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000168.jpg" title="Finished up the kids #halloween costumes...rawr. #monsters #sewrad #handmade #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Finished up the kids #halloween costumes...rawr. #monsters #sewrad #handmade #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000168_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000169.jpg" title="Sneak peak of my current work-in-progress. Most of the year I handcraft bicycle bags, but October means making #halloween costumes for my kids. Trust me, a design session with a 2 year old is quite an experience. #lovestarbicyclebags #handmade #monster #sewrad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Sneak peak of my current work-in-progress. Most of the year I handcraft bicycle bags, but October means making #halloween costumes for my kids. Trust me, a design session with a 2 year old is quite an experience. #lovestarbicyclebags #handmade #monster #sewrad</small>
                           </div>
                           <img src="../lsphotos/image000169_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000170.jpg" title="Finished up the hanging stable at #lovestarbicyclebags HQ this past weekend." rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Finished up the hanging stable at #lovestarbicyclebags HQ this past weekend.</small>
                           </div>
                           <img src="../lsphotos/image000170_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000662.jpg" title="Sunrise ride with this stud. #lovestarfactoryteam #cylist #cycling #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Sunrise ride with this stud. #lovestarfactoryteam #cylist #cycling #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000662_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000171.jpg" title="Daddy / Daughter bike ride & swing adventures. #fatbike #cycling #futurecyclist #striderbike #lovestarbicyclebags #bikepacking #babysnub" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Daddy / Daughter bike ride & swing adventures. #fatbike #cycling #futurecyclist #striderbike #lovestarbicyclebags #bikepacking #babysnub</small>
                           </div>
                           <img src="../lsphotos/image000171_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000663.jpg" title="Took the road whip out today. But the day was so beautiful, I found myself coasting on the downhills, stopping to take pictures, exploring detours, and just soaking in the gorgeousness of fall. Sometimes it's best to skip a training day. #cycling #cylist #bikechi #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Took the road whip out today. But the day was so beautiful, I found myself coasting on the downhills, stopping to take pictures, exploring detours, and just soaking in the gorgeousness of fall. Sometimes it's best to skip a training day. #cycling #cylist #bikechi #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000663_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000664.jpg" title="Fall. #cycling #cylist #lovestarfactoryteam #bmc" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Fall. #cycling #cylist #lovestarfactoryteam #bmc</small>
                           </div>
                           <img src="../lsphotos/image000664_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000006.jpg" title="One more... #lovestarbicyclebags #bikepacking #cycling #handmade #sewrad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>One more... #lovestarbicyclebags #bikepacking #cycling #handmade #sewrad</small>
                           </div>
                           <img src="../lsphotos/image000006_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000172.jpg" title="Still working on this prototype feed bag...but I'm getting so stoked about it, I had to share an in-progress shot. #lovestarbicyclebags #handmade #bikepacking #cycling #fatbike #sewrad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Still working on this prototype feed bag...but I'm getting so stoked about it, I had to share an in-progress shot. #lovestarbicyclebags #handmade #bikepacking #cycling #fatbike #sewrad</small>
                           </div>
                           <img src="../lsphotos/image000172_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram19.html" class="next">Next Page</a></center>