
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000034.jpg" title="Sunset gear shakedown. Dinner...sleep...then trail time begins! #bikepacking #bicycle #bikecamping #cycling #mthood #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Sunset gear shakedown. Dinner...sleep...then trail time begins! #bikepacking #bicycle #bikecamping #cycling #mthood #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000034_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000508.jpg" title="@elliotlovestarbicycles Mt. Hood cycling adventures begin today!!! Thanks for the awesome photo @agonz21 #bikepacking #bikecamping #lovestarraceclub #elliotlovestarbicyclebags #elliotlovestarbicycles #lovestarfactoryteam #mysonisanadventurenut" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>@elliotlovestarbicycles Mt. Hood cycling adventures begin today!!! Thanks for the awesome photo @agonz21 #bikepacking #bikecamping #lovestarraceclub #elliotlovestarbicyclebags #elliotlovestarbicycles #lovestarfactoryteam #mysonisanadventurenut</small>
                           </div>
                           <img src="../lsphotos/image000508_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000509.jpg" title="Mt. Hood bike adventures begin. Snap credit to @agonz21 #bikepacking #bicycle #bikecamping #cycling #lovestarraceclub" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Mt. Hood bike adventures begin. Snap credit to @agonz21 #bikepacking #bicycle #bikecamping #cycling #lovestarraceclub</small>
                           </div>
                           <img src="../lsphotos/image000509_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000510.jpg" title="All smiles as we carb up for our epic Mt Hood ride #lovestarraceclub" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>agonz21</h4>
                              <small>All smiles as we carb up for our epic Mt Hood ride #lovestarraceclub</small>
                           </div>
                           <img src="../lsphotos/image000510_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000035.jpg" title="Handlebar Roll completes the kit. #bikepacking #fatbike #bicycle #cycling #adventurebike #bicyclebag #lovestarbicyclebags #handmade" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Handlebar Roll completes the kit. #bikepacking #fatbike #bicycle #cycling #adventurebike #bicyclebag #lovestarbicyclebags #handmade</small>
                           </div>
                           <img src="../lsphotos/image000035_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000036.jpg" title="Finished up a handlebar grab bag. The whole #bikepacking kit is starting to come together. #lovestarbicyclebags #handmade #bikechi #adventurebike #fatbike #bicyclebag #bicycle #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Finished up a handlebar grab bag. The whole #bikepacking kit is starting to come together. #lovestarbicyclebags #handmade #bikechi #adventurebike #fatbike #bicyclebag #bicycle #cycling</small>
                           </div>
                           <img src="../lsphotos/image000036_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000037.jpg" title="Had to take some pictures of my gear with some better light. #Bikepacking #bicycle #fatbike #adventurebike #bikechi #handmade #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Had to take some pictures of my gear with some better light. #Bikepacking #bicycle #fatbike #adventurebike #bikechi #handmade #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000037_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000038.jpg" title="Added a couple of top tube bags to my personal setup in preparation for Mt. Hood. #Handmade #lovestarbicyclebags #Bikepacking #bicycle #fatbike #adventurebike #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Added a couple of top tube bags to my personal setup in preparation for Mt. Hood. #Handmade #lovestarbicyclebags #Bikepacking #bicycle #fatbike #adventurebike #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000038_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000003.jpg" title="T-minus 5 days until Mt. Hood #Bikepacking Adventure...final gear layout has begun. #bicycle #fatbike #lovestarbicyclebags #adventurebike" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>T-minus 5 days until Mt. Hood #Bikepacking Adventure...final gear layout has begun. #bicycle #fatbike #lovestarbicyclebags #adventurebike</small>
                           </div>
                           <img src="../lsphotos/image000003_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000511.jpg" title="Sunrise Coffee Ride #bicycle #cycling #bikechi #LovestarRaceClub" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Sunrise Coffee Ride #bicycle #cycling #bikechi #LovestarRaceClub</small>
                           </div>
                           <img src="../lsphotos/image000511_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000525.jpg" title="#ssct #lovestarfactoryteam #lsb" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>oliviabeaty</h4>
                              <small>#ssct #lovestarfactoryteam #lsb</small>
                           </div>
                           <img src="../lsphotos/image000525_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000526.jpg" title="This morning's ride was a blast. #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>theandyhudson</h4>
                              <small>This morning's ride was a blast. #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000526_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000512.jpg" title="#crossiscoming kind of morning. #cycling #cx #cyclocross #LovestarRaceClub #bicycle #moots" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#crossiscoming kind of morning. #cycling #cx #cyclocross #LovestarRaceClub #bicycle #moots</small>
                           </div>
                           <img src="../lsphotos/image000512_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000039.jpg" title="Tubulars have started to make their annual appearances.... #crossiscoming #cx #cyclocross #moots #psychlox #bicycle #cycling #bikechi #baaw #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Tubulars have started to make their annual appearances.... #crossiscoming #cx #cyclocross #moots #psychlox #bicycle #cycling #bikechi #baaw #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000039_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000527.jpg" title="Trying some new things/upgrades on the supersix. #lovestarfactoryteam #stagespower #vittoriatires #supersixevo" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>ddave12000</h4>
                              <small>Trying some new things/upgrades on the supersix. #lovestarfactoryteam #stagespower #vittoriatires #supersixevo</small>
                           </div>
                           <img src="../lsphotos/image000527_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000528.jpg" title="Ride report: Dark...Group...FAST!...Boom...Solo...Sunrise...Coffee...friends!...ride......phew. #cycling #bicycle #bikechi #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Ride report: Dark...Group...FAST!...Boom...Solo...Sunrise...Coffee...friends!...ride......phew. #cycling #bicycle #bikechi #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000528_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000513.jpg" title="#crossiscoming skillz&drillz team rides have begun. #cycling #bicycle #cx #bikechi #LovestarRaceClub" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#crossiscoming skillz&drillz team rides have begun. #cycling #bicycle #cx #bikechi #LovestarRaceClub</small>
                           </div>
                           <img src="../lsphotos/image000513_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000529.jpg" title="Felt great to ride on my streets again this morning. #lovestarfactoryteam #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>theandyhudson</h4>
                              <small>Felt great to ride on my streets again this morning. #lovestarfactoryteam #cycling</small>
                           </div>
                           <img src="../lsphotos/image000529_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000530.jpg" title="Good Morning. #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>jim_ftw</h4>
                              <small>Good Morning. #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000530_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000531.jpg" title="Took the fatty on my first trail ride. Feel like I discovered a whole new world! #fatbike #borealis #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>ddave12000</h4>
                              <small>Took the fatty on my first trail ride. Feel like I discovered a whole new world! #fatbike #borealis #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000531_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram5.html" class="next">Next Page</a></center>