
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000137.jpg" title="#ElNino continues to impress. Shorts & T-shirt ride this morning...and it's mid-December. #fatbikefriday #fatbike #lovestarbicyclebags #bikepackingbags #bikepacking" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#ElNino continues to impress. Shorts & T-shirt ride this morning...and it's mid-December. #fatbikefriday #fatbike #lovestarbicyclebags #bikepackingbags #bikepacking</small>
                           </div>
                           <img src="../lsphotos/image000137_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000004.jpg" title="A bit unreal that today's ride was done on my road whip wearing lightweight layers. I have my first fatbike race this weekend and temps are supposed to be in he mid-fifties. Isn't it the second week of December...in Chicago!?! Crazy El Niño. #lovestarbicyclebags #cycling #Chicago #ElNino" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>A bit unreal that today's ride was done on my road whip wearing lightweight layers. I have my first fatbike race this weekend and temps are supposed to be in he mid-fifties. Isn't it the second week of December...in Chicago!?! Crazy El Niño. #lovestarbicyclebags #cycling #Chicago #ElNino</small>
                           </div>
                           <img src="../lsphotos/image000004_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000623.jpg" title="Killer afternoon hammer fest with these two. Only 363 days until #MontroseCX 2016. #cycling #bicycle #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Killer afternoon hammer fest with these two. Only 363 days until #MontroseCX 2016. #cycling #bicycle #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000623_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000138.jpg" title="Cyclocross Illinois Finals...Love Star Factory Team finished well! #cyclocross #cyclocrosschicago #lovestarfactoryteam #lovestar #lovestarbicyclebags #yesthatreallyisahottubinbackground" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Cyclocross Illinois Finals...Love Star Factory Team finished well! #cyclocross #cyclocrosschicago #lovestarfactoryteam #lovestar #lovestarbicyclebags #yesthatreallyisahottubinbackground</small>
                           </div>
                           <img src="../lsphotos/image000138_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000139.jpg" title="Great sprint through the finish! #lovestarfactoryteam #cyclocross #lovestarbicyclebags #cycling #cyclocrosschicago" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Great sprint through the finish! #lovestarfactoryteam #cyclocross #lovestarbicyclebags #cycling #cyclocrosschicago</small>
                           </div>
                           <img src="../lsphotos/image000139_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000140.jpg" title="Beautiful day for a race. Proud of Lovestar Factory Team strong finish! #cyclocross #cyclocrosschicago #lovestarfactoryteam #lovestar #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Beautiful day for a race. Proud of Lovestar Factory Team strong finish! #cyclocross #cyclocrosschicago #lovestarfactoryteam #lovestar #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000140_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000141.jpg" title="Beautiful course for the Illinois cyclocross finals! #cyclocross #lovestarfactoryteam #cycling #lovestarbicyclebags #fatbike #cyclocrosschicago" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Beautiful course for the Illinois cyclocross finals! #cyclocross #lovestarfactoryteam #cycling #lovestarbicyclebags #fatbike #cyclocrosschicago</small>
                           </div>
                           <img src="../lsphotos/image000141_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000624.jpg" title="@casadewaggoner crushing it start to finish this season. #montrosecx #lovestarfactoryteam #Cyclocross #cx" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>@casadewaggoner crushing it start to finish this season. #montrosecx #lovestarfactoryteam #Cyclocross #cx</small>
                           </div>
                           <img src="../lsphotos/image000624_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000625.jpg" title="Kudos to teammate @ddave12000 for nabbing 15th in the 4s and 6th in the 4/5s today!! #montrosecx #Cyclocross #cx #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Kudos to teammate @ddave12000 for nabbing 15th in the 4s and 6th in the 4/5s today!! #montrosecx #Cyclocross #cx #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000625_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000626.jpg" title="Great photo courtesy of @elliotlovestarbicycles #lovestarfactoryteam #montrosecx" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>ddave12000</h4>
                              <small>Great photo courtesy of @elliotlovestarbicycles #lovestarfactoryteam #montrosecx</small>
                           </div>
                           <img src="../lsphotos/image000626_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000627.jpg" title="Portable hot tub...must be a cross race. #Cyclocross #cx #lovestarfactoryteam #montrosecx #fatbike" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Portable hot tub...must be a cross race. #Cyclocross #cx #lovestarfactoryteam #montrosecx #fatbike</small>
                           </div>
                           <img src="../lsphotos/image000627_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000628.jpg" title="Big shout out to these to guys! @elliotlovestarbicycles and @casadewaggoner. Had such a blast racing CX with you guys this year!! Thanks for all the tips, encouragement, etc!  #lovestarfactoryteam #lsb" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>ddave12000</h4>
                              <small>Big shout out to these to guys! @elliotlovestarbicycles and @casadewaggoner. Had such a blast racing CX with you guys this year!! Thanks for all the tips, encouragement, etc!  #lovestarfactoryteam #lsb</small>
                           </div>
                           <img src="../lsphotos/image000628_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000629.jpg" title="Last Cross race of 2015 and it was a great one (two?)! Got upgraded to Cat4 so I did that for the first time and then did Cat4/5 after. Got 15th and 6th respectively. #savingmybestforlast #lsb #lovestarfactoryteam #montrosecx #alreadylookingforwardtonextyear" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>ddave12000</h4>
                              <small>Last Cross race of 2015 and it was a great one (two?)! Got upgraded to Cat4 so I did that for the first time and then did Cat4/5 after. Got 15th and 6th respectively. #savingmybestforlast #lsb #lovestarfactoryteam #montrosecx #alreadylookingforwardtonextyear</small>
                           </div>
                           <img src="../lsphotos/image000629_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000142.jpg" title="Congratulations Lovestar Factory Team on a fabulous race @ state finals and a great season! #lovestar #lovestarfactoryteam #lovestarbicyclebags #cyclocross #cyclocrosschicago #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Congratulations Lovestar Factory Team on a fabulous race @ state finals and a great season! #lovestar #lovestarfactoryteam #lovestarbicyclebags #cyclocross #cyclocrosschicago #cycling</small>
                           </div>
                           <img src="../lsphotos/image000142_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000143.jpg" title="Racing his heart out to finish strong while the guys in the background are hot-tubbing it...must be cyclocross! Hahaha #cyclocross #cycling #cyclocrosschicago #lovestar #lovestarfactoryteam #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Racing his heart out to finish strong while the guys in the background are hot-tubbing it...must be cyclocross! Hahaha #cyclocross #cycling #cyclocrosschicago #lovestar #lovestarfactoryteam #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000143_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000630.jpg" title="Found a place with a bite size helping of gnar right next to my house. #fatbike #globalfatbikeday #bikechi #cycling #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Found a place with a bite size helping of gnar right next to my house. #fatbike #globalfatbikeday #bikechi #cycling #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000630_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000144.jpg" title="Happy Global Fatbike Day! Here's to shorts in December! #globalfatbikeday #lovestarbicyclebags #cycling #bikechi #ElNino is Spanish for #TheNino" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Happy Global Fatbike Day! Here's to shorts in December! #globalfatbikeday #lovestarbicyclebags #cycling #bikechi #ElNino is Spanish for #TheNino</small>
                           </div>
                           <img src="../lsphotos/image000144_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000145.jpg" title="Quick & early ride this morning with good friends. Fog & mist made for a chilly ride...but not to shabby considering it's almost a week into December. #lovestarfactoryteam #cycling #moots #cx #cyclocross #bikechi #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Quick & early ride this morning with good friends. Fog & mist made for a chilly ride...but not to shabby considering it's almost a week into December. #lovestarfactoryteam #cycling #moots #cx #cyclocross #bikechi #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000145_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000631.jpg" title="Happy Holidays from the #LovestarFactoryTeam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>theandyhudson</h4>
                              <small>Happy Holidays from the #LovestarFactoryTeam</small>
                           </div>
                           <img src="../lsphotos/image000631_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000146.jpg" title="Handsome pair of #lovestarbicyclebags went out the door today. #handmade #bicyclebag #bikepackingbags #bikepacking #cycling #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Handsome pair of #lovestarbicyclebags went out the door today. #handmade #bicyclebag #bikepackingbags #bikepacking #cycling #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000146_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram16.html" class="next">Next Page</a></center>