
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000278.jpg" title="Finished up a pair of Lovestar SaddlePacks last night. #lovestarbicyclebags #handmade  #bicyclebag #bicycle #bikechi #seatbag #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Finished up a pair of Lovestar SaddlePacks last night. #lovestarbicyclebags #handmade  #bicyclebag #bicycle #bikechi #seatbag #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000278_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000279.jpg" title="Details. #handmade #lovestarbicyclebags #cycling #bicyclebag #bikepacking #bikechi #bicycle" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Details. #handmade #lovestarbicyclebags #cycling #bicyclebag #bikepacking #bikechi #bicycle</small>
                           </div>
                           <img src="../lsphotos/image000279_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000280.jpg" title="Lovestar Factory Team ride. #lovestarbicyclebags #bikechi #chiberia #chicago #bikewinter #championsystem" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Lovestar Factory Team ride. #lovestarbicyclebags #bikechi #chiberia #chicago #bikewinter #championsystem</small>
                           </div>
                           <img src="../lsphotos/image000280_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000281.jpg" title="It's been single digits for the last two weeks...#Cyclocross in shorts seems like a distant dream. Spring, you are welcome anytime. #cx #cycling #chicago #chiberia #bikechi #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>It's been single digits for the last two weeks...#Cyclocross in shorts seems like a distant dream. Spring, you are welcome anytime. #cx #cycling #chicago #chiberia #bikechi #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000281_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000282.jpg" title="Working on bags for a couple of customers during the kids nap time today. #dadlife #cycling #lovestarbicyclebags #handmade #custom #bikepacking #bikecamping #seatbag #bicycle #bikechi #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Working on bags for a couple of customers during the kids nap time today. #dadlife #cycling #lovestarbicyclebags #handmade #custom #bikepacking #bikecamping #seatbag #bicycle #bikechi #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000282_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000283.jpg" title="Custom #GravelGrinder bag set to brighten up another grey #chiberia winter ride. Custom bags and colors available! Get your orders in before gravel season hits. #gravel #bikewinter #bikepacking #bikecamping #custom #handmade #lovestarbicyclebags #bikechi #cycling #moots #bicycle #SewRad #nofilter" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Custom #GravelGrinder bag set to brighten up another grey #chiberia winter ride. Custom bags and colors available! Get your orders in before gravel season hits. #gravel #bikewinter #bikepacking #bikecamping #custom #handmade #lovestarbicyclebags #bikechi #cycling #moots #bicycle #SewRad #nofilter</small>
                           </div>
                           <img src="../lsphotos/image000283_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000284.jpg" title="Lovestar Factory Team in the pain cave at the training hub his morning. #lovestarbicyclebags #cycling #bicycle #training #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Lovestar Factory Team in the pain cave at the training hub his morning. #lovestarbicyclebags #cycling #bicycle #training #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000284_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000285.jpg" title="Finished up a very slick Black & Purple Saddle Pack for a customer. #lovestarbicyclebags #handmade #bicycle #cycling #bikepacking #bikebag #saddlebag #seatbag #bikechi #cordura #custom #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Finished up a very slick Black & Purple Saddle Pack for a customer. #lovestarbicyclebags #handmade #bicycle #cycling #bikepacking #bikebag #saddlebag #seatbag #bikechi #cordura #custom #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000285_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000286.jpg" title="Received a re-supply order of Lovestar badges just in time to start a fun customer project! #lovestarbicyclebags #handmade #bikepacking #bikebag #MUSA #Cycling #bicycle #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Received a re-supply order of Lovestar badges just in time to start a fun customer project! #lovestarbicyclebags #handmade #bikepacking #bikebag #MUSA #Cycling #bicycle #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000286_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000287.jpg" title="Snow biking! #lovestarbicyclebags #babysnub #striderbikes #futurecyclist #bikechi #chiberia #evanston #cycling #pushbike" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Snow biking! #lovestarbicyclebags #babysnub #striderbikes #futurecyclist #bikechi #chiberia #evanston #cycling #pushbike</small>
                           </div>
                           <img src="../lsphotos/image000287_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000288.jpg" title="Lovestar Factory Team's youngest member is super excited about her team Jersey. She's using the hallways for winter training. #lovestarbicyclebags #strider #championsystems #cycling #bikechi #dadlife #futurecyclist" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Lovestar Factory Team's youngest member is super excited about her team Jersey. She's using the hallways for winter training. #lovestarbicyclebags #strider #championsystems #cycling #bikechi #dadlife #futurecyclist</small>
                           </div>
                           <img src="../lsphotos/image000288_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000289.jpg" title="Lovestar Factory Team's first junior racer looks forward to crushing local push bike races in the 2-3 year old division. #lovestarbicyclebags #futurecyclist #championsystems #dadlife #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Lovestar Factory Team's first junior racer looks forward to crushing local push bike races in the 2-3 year old division. #lovestarbicyclebags #futurecyclist #championsystems #dadlife #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000289_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000290.jpg" title="Happy Valentines Day from Lovestar Bicycle Bags! #lovestarbicyclebags #handmade #valentine #cycling #bicyclebag #bicycle #bikechi #bikepacking" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Happy Valentines Day from Lovestar Bicycle Bags! #lovestarbicyclebags #handmade #valentine #cycling #bicyclebag #bicycle #bikechi #bikepacking</small>
                           </div>
                           <img src="../lsphotos/image000290_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000291.jpg" title="New fork for the #Moots. #ritchey CX Carbon disc fork really spices up the front end of this bike. Thanks @velosmith for the install and cutting work. One step closer to this year's Barry Roubaix #cyclocross #gravel #gravelgrinder #titanium #bikechi #bicycle #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>New fork for the #Moots. #ritchey CX Carbon disc fork really spices up the front end of this bike. Thanks @velosmith for the install and cutting work. One step closer to this year's Barry Roubaix #cyclocross #gravel #gravelgrinder #titanium #bikechi #bicycle #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000291_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000292.jpg" title="Re-gram o a customer's custom framebag. Lots of cargo space and kept the black/lime color way going strong #custom #lovestarbicyclebags #madeinteUSA #handmade #cycling #bicycle #bicyclebag #bikepacking #framebag" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Re-gram o a customer's custom framebag. Lots of cargo space and kept the black/lime color way going strong #custom #lovestarbicyclebags #madeinteUSA #handmade #cycling #bicycle #bicyclebag #bikepacking #framebag</small>
                           </div>
                           <img src="../lsphotos/image000292_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000293.jpg" title="January edition of the Century of the Month Club! Riding one 100+ mile ride every month for 2015. #cycling #bicycle #bikewinter #century #centuryride #moots #lovestarbicyclebags #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>January edition of the Century of the Month Club! Riding one 100+ mile ride every month for 2015. #cycling #bicycle #bikewinter #century #centuryride #moots #lovestarbicyclebags #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000293_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000294.jpg" title="Team colors. #lovestarbicyclebags #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Team colors. #lovestarbicyclebags #cycling</small>
                           </div>
                           <img src="../lsphotos/image000294_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000295.jpg" title="Snow means fatbikes & fatbikes means framebags! #lovestarbicyclebags #handmade #fatbike #bikepacking #cycling #wintercycling #SewRad #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Snow means fatbikes & fatbikes means framebags! #lovestarbicyclebags #handmade #fatbike #bikepacking #cycling #wintercycling #SewRad #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000295_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000296.jpg" title="Here at Lovestar Bicycle Bags, I mostly make cycling gear. But every once in a while I make miniature disco queen outfits for my daughter to wear at the family's annual Christmas murder mystery dinner party. #keepingItWeird #murdermysteryparty #sewRad #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Here at Lovestar Bicycle Bags, I mostly make cycling gear. But every once in a while I make miniature disco queen outfits for my daughter to wear at the family's annual Christmas murder mystery dinner party. #keepingItWeird #murdermysteryparty #sewRad #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000296_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000297.jpg" title="The pre-dawn trainer class at wheel & sprocket #Evanston is a bit lonely if anyone else wants to sign up :) #trainer #cycling #lovestarbicyclebags #bikechi #bicycle" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>The pre-dawn trainer class at wheel & sprocket #Evanston is a bit lonely if anyone else wants to sign up :) #trainer #cycling #lovestarbicyclebags #bikechi #bicycle</small>
                           </div>
                           <img src="../lsphotos/image000297_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram29.html" class="next">Next Page</a></center>