
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000567.jpg" title="It's Wednesday, time to dream up a ROUTT for the weekend. Long ride or short ride, it's all an adventure. #Repost @elliotlovestarbicycles with @repostapp.
・・・
So many cool #fog photos this morning... #cycling #moots #bicycle #lovestarfactoryteam #lakemichigan #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>mootscycles</h4>
                              <small>It's Wednesday, time to dream up a ROUTT for the weekend. Long ride or short ride, it's all an adventure. #Repost @elliotlovestarbicycles with @repostapp.
・・・
So many cool #fog photos this morning... #cycling #moots #bicycle #lovestarfactoryteam #lakemichigan #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000567_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000568.jpg" title="&quot;...The grey rain-curtain of this world rolls back, and all turns to silver glass, and then you see it...White shores, and beyond, a far green country under a swift sunrise.&quot; #cycling #tolkien #bicycle #moots #lovestarfactoryteam #lakemichigan #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>"...The grey rain-curtain of this world rolls back, and all turns to silver glass, and then you see it...White shores, and beyond, a far green country under a swift sunrise." #cycling #tolkien #bicycle #moots #lovestarfactoryteam #lakemichigan #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000568_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000058.jpg" title="Just another day at the disco with extra fog machine. PC: @elliotlovestarbicycles #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>agonz21</h4>
                              <small>Just another day at the disco with extra fog machine. PC: @elliotlovestarbicycles #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000058_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000569.jpg" title="From today's foggy sunrise ride. #lovestarfactoryteam #cycling PC: @elliotlovestarbicycles" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>theandyhudson</h4>
                              <small>From today's foggy sunrise ride. #lovestarfactoryteam #cycling PC: @elliotlovestarbicycles</small>
                           </div>
                           <img src="../lsphotos/image000569_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000570.jpg" title="Foggy Sunrise ride. #lovestarfactoryteam #cycling #bicycle #bikechi #championsystem" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Foggy Sunrise ride. #lovestarfactoryteam #cycling #bicycle #bikechi #championsystem</small>
                           </div>
                           <img src="../lsphotos/image000570_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000571.jpg" title="Lakefront riding this morning. #cycling #lakemichigan #bicycle #bikechi #moots #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Lakefront riding this morning. #cycling #lakemichigan #bicycle #bikechi #moots #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000571_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000572.jpg" title="Smiles for miles. #babySNUB #lovestarfactoryteam #cycling #bicycle #clearybikes #bikechi #adventuredad #dadlife" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Smiles for miles. #babySNUB #lovestarfactoryteam #cycling #bicycle #clearybikes #bikechi #adventuredad #dadlife</small>
                           </div>
                           <img src="../lsphotos/image000572_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000573.jpg" title="Solo Miles. #lovestarfactoryteam #cycling #bicycle #moots #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Solo Miles. #lovestarfactoryteam #cycling #bicycle #moots #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000573_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000574.jpg" title="May Flowers. #cycling #moots #bicycle #lovestarfactoryteam #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>May Flowers. #cycling #moots #bicycle #lovestarfactoryteam #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000574_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000059.jpg" title="Mid-ride break. #snacktime #adventuredad #cycling #futurecyclist #fatbike #clearybikes #therobertaxleproject #lovestarbicyclebags #bikepacking" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Mid-ride break. #snacktime #adventuredad #cycling #futurecyclist #fatbike #clearybikes #therobertaxleproject #lovestarbicyclebags #bikepacking</small>
                           </div>
                           <img src="../lsphotos/image000059_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000575.jpg" title="Great early ride with @agonz21 #cycling #bikechi #lovestarfactoryteam #bicycle" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Great early ride with @agonz21 #cycling #bikechi #lovestarfactoryteam #bicycle</small>
                           </div>
                           <img src="../lsphotos/image000575_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000576.jpg" title="Sunrise ride. #moots #parlee #cycling #lovestarfactoryteam #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Sunrise ride. #moots #parlee #cycling #lovestarfactoryteam #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000576_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000060.jpg" title="Repost from @oliviabeaty ...great shot of her custom #lovestarbicyclebags SaddlePack and all sorts of color match goodness. #handmade #bicyclebag #cycling #custom #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Repost from @oliviabeaty ...great shot of her custom #lovestarbicyclebags SaddlePack and all sorts of color match goodness. #handmade #bicyclebag #cycling #custom #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000060_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000061.jpg" title="@agonz21 crushing cafe sprints this morning. #lovestarbicyclebags #lovestarfactoryteam #cycling #parlee #parleecycles #bicycle" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>@agonz21 crushing cafe sprints this morning. #lovestarbicyclebags #lovestarfactoryteam #cycling #parlee #parleecycles #bicycle</small>
                           </div>
                           <img src="../lsphotos/image000061_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000062.jpg" title="#lovestarbicyclebags Shop apron / snack dispenser. #shoplife" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#lovestarbicyclebags Shop apron / snack dispenser. #shoplife</small>
                           </div>
                           <img src="../lsphotos/image000062_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000577.jpg" title="Stud. #lovestarfactoryteam #cycling #bicycle" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Stud. #lovestarfactoryteam #cycling #bicycle</small>
                           </div>
                           <img src="../lsphotos/image000577_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000578.jpg" title="Crazy wind and heavy wet fog this morning with @ddave12000 & @theandyhudson #lovestarfactoryteam #cycling #bicycle" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Crazy wind and heavy wet fog this morning with @ddave12000 & @theandyhudson #lovestarfactoryteam #cycling #bicycle</small>
                           </div>
                           <img src="../lsphotos/image000578_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000063.jpg" title="Finished up a fun custom #lovestarbicyclebags SaddlePack tonight. #handmade #bicyclebag #bikepacking #cycling #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Finished up a fun custom #lovestarbicyclebags SaddlePack tonight. #handmade #bicyclebag #bikepacking #cycling #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000063_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000579.jpg" title="Scenic Sunrise Solo #cycling #bicycle #moots #psychloX #lovestarfactoryteam" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Scenic Sunrise Solo #cycling #bicycle #moots #psychloX #lovestarfactoryteam</small>
                           </div>
                           <img src="../lsphotos/image000579_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000064.jpg" title="Ok, Elliot...I know you're in there somewhere!!! Go lovestarfactoryteam! #lovestarcyclingteam #lovestarbicyclebags #lovestar #cyclocrosschicago #barryroubaix #barryroubaix2016" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Ok, Elliot...I know you're in there somewhere!!! Go lovestarfactoryteam! #lovestarcyclingteam #lovestarbicyclebags #lovestar #cyclocrosschicago #barryroubaix #barryroubaix2016</small>
                           </div>
                           <img src="../lsphotos/image000064_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram9.html" class="next">Next Page</a></center>