
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000338.jpg" title="Ok...I fully admit that I am addicted to accessorizing my bike kit...but it's just so good. #cycling #cyclocross #lovestarbicycles #lovestarbicyclebags #championsystem #defeet #lazersport #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Ok...I fully admit that I am addicted to accessorizing my bike kit...but it's just so good. #cycling #cyclocross #lovestarbicycles #lovestarbicyclebags #championsystem #defeet #lazersport #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000338_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000339.jpg" title="First real ride since my injury. Ride home from work. 35 degrees, dark, and 100% delightful. #bikechi #lovestarbicyclebags #lovestarbicycles #bikecommute #nightride #moots #cyclocross #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>First real ride since my injury. Ride home from work. 35 degrees, dark, and 100% delightful. #bikechi #lovestarbicyclebags #lovestarbicycles #bikecommute #nightride #moots #cyclocross #cycling</small>
                           </div>
                           <img src="../lsphotos/image000339_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000340.jpg" title="New bike kicks! #giroempire #cycliing #cyclocross #lovestarbicycles #lovestarbicyclebags #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>New bike kicks! #giroempire #cycliing #cyclocross #lovestarbicycles #lovestarbicyclebags #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000340_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000341.jpg" title="With cross season well underway...it's easy to forget that winter is nigh. Picked up a beater set of wheels for using on the rollers... #cycling #rollers #bikechi #ineedafatbike #lovestarbicycles #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>With cross season well underway...it's easy to forget that winter is nigh. Picked up a beater set of wheels for using on the rollers... #cycling #rollers #bikechi #ineedafatbike #lovestarbicycles #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000341_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000342.jpg" title="Injury means no riding...but that ha left more time for sewing. Continuing to develop the Lovestar Shop Apron. Both solid and split bottom designs, with features like: bright interior pocket colors and a built-in magnet to hold screws and other small bits while you work. #handmade #lovestarbicycles #lovestarbicyclebags #cycling #SewRad #bikechi #madeinchicago #madeintheusa" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Injury means no riding...but that ha left more time for sewing. Continuing to develop the Lovestar Shop Apron. Both solid and split bottom designs, with features like: bright interior pocket colors and a built-in magnet to hold screws and other small bits while you work. #handmade #lovestarbicycles #lovestarbicyclebags #cycling #SewRad #bikechi #madeinchicago #madeintheusa</small>
                           </div>
                           <img src="../lsphotos/image000342_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000343.jpg" title="Got a pair of wicked awesome @defeet_international gloves today...continuing to up my accessorizing game. #cyclocross #cycling #lazersport #defeet #bikechi #lovestarbicycles #lovestarbicyclebags #championsystem" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Got a pair of wicked awesome @defeet_international gloves today...continuing to up my accessorizing game. #cyclocross #cycling #lazersport #defeet #bikechi #lovestarbicycles #lovestarbicyclebags #championsystem</small>
                           </div>
                           <img src="../lsphotos/image000343_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000344.jpg" title="Leg is still on the mend...in the meantime cleaning up the steed at home. #moots #psychloX #cyclocross #cx #recovery #lovestarbicycles #lovestarbicyclebags #cycling #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Leg is still on the mend...in the meantime cleaning up the steed at home. #moots #psychloX #cyclocross #cx #recovery #lovestarbicycles #lovestarbicyclebags #cycling #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000344_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000345.jpg" title="So...race was tough yesterday, I was feeling good, but about half way through the race I botched a barrier landing and crashed hard. I was able to grit through it and finished 34th, but my leg was killing me an felt really weak. Went to the Dr. today and turns out I have a partial tear in my right quad. Gonna miss the next couple of races...but I should be able to finish out the latter part of the season. #cyclocross #cycling #sadtrombone #therules #rulenumber5 #bikechi #lovestarbicyclebags #lovestarbicycles" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>So...race was tough yesterday, I was feeling good, but about half way through the race I botched a barrier landing and crashed hard. I was able to grit through it and finished 34th, but my leg was killing me an felt really weak. Went to the Dr. today and turns out I have a partial tear in my right quad. Gonna miss the next couple of races...but I should be able to finish out the latter part of the season. #cyclocross #cycling #sadtrombone #therules #rulenumber5 #bikechi #lovestarbicyclebags #lovestarbicycles</small>
                           </div>
                           <img src="../lsphotos/image000345_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000346.jpg" title="Ride interrupted. #cx #cyclocross #cycling #bikechi #dprt #lovestarbicycles #lovestarbicyclebags #gravel #gravelriot #gravelgrinder" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Ride interrupted. #cx #cyclocross #cycling #bikechi #dprt #lovestarbicycles #lovestarbicyclebags #gravel #gravelriot #gravelgrinder</small>
                           </div>
                           <img src="../lsphotos/image000346_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000347.jpg" title="Regram from @chateauduwaggoner of today's race at Dan Ryan Woods. Lovestar Factory Team game face at the start of the 4/5 race. #drwcx #cyclocross #cycling #cx #lovestarbicycles #lovestarbicyclebags #chicago #chicagocrosscup #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Regram from @chateauduwaggoner of today's race at Dan Ryan Woods. Lovestar Factory Team game face at the start of the 4/5 race. #drwcx #cyclocross #cycling #cx #lovestarbicycles #lovestarbicyclebags #chicago #chicagocrosscup #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000347_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000348.jpg" title="Stepped up my cat-6 game today. Long ride into work rockin the matching helmet and backpack... #cycling #bikecommute #cat6 #cyclocross #championsystem #stylesformiles #bikechi #lovestarbicycles #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Stepped up my cat-6 game today. Long ride into work rockin the matching helmet and backpack... #cycling #bikecommute #cat6 #cyclocross #championsystem #stylesformiles #bikechi #lovestarbicycles #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000348_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000349.jpg" title="Barrier & run up practice all in one. #dprt #cyclocross #cx #lovestarbicycles #lovestarbicyclebags #cycling #bikechi #moots #psychloX" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Barrier & run up practice all in one. #dprt #cyclocross #cx #lovestarbicycles #lovestarbicyclebags #cycling #bikechi #moots #psychloX</small>
                           </div>
                           <img src="../lsphotos/image000349_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000350.jpg" title="2nd day this week riding the #DPRT I love Riding in the fall. #cyclocross #cx #moots #gravel #gravelgrinder #bikechi #lovestarbicycles #lovestarbicyclebags #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>2nd day this week riding the #DPRT I love Riding in the fall. #cyclocross #cx #moots #gravel #gravelgrinder #bikechi #lovestarbicycles #lovestarbicyclebags #cycling</small>
                           </div>
                           <img src="../lsphotos/image000350_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000351.jpg" title="Moots PsychloX in the wild. #moots #cyclocross #cx #chicago #bikechi #lovestarbicycles #lovestarbicyclebags #dprt" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Moots PsychloX in the wild. #moots #cyclocross #cx #chicago #bikechi #lovestarbicycles #lovestarbicyclebags #dprt</small>
                           </div>
                           <img src="../lsphotos/image000351_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000352.jpg" title="I have to admit, the DPR Trail in the fall is pretty hard to beat. #chicago #bikechi #cyclocross #cx #gravel #gravelgrinder #moots #lovestarbicycles #lovestarbicyclebags #dprt #desplainsrivertrail" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>I have to admit, the DPR Trail in the fall is pretty hard to beat. #chicago #bikechi #cyclocross #cx #gravel #gravelgrinder #moots #lovestarbicycles #lovestarbicyclebags #dprt #desplainsrivertrail</small>
                           </div>
                           <img src="../lsphotos/image000352_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000353.jpg" title="Sampling some fine double track in the North suburbs of #chicago it's amazing what you can find If you know where to look. #cyclocross #gravel #gravelgrinder #cx #bikechi #lovestarbicycles #lovestarbicyclebags #lazersport #championsystem" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Sampling some fine double track in the North suburbs of #chicago it's amazing what you can find If you know where to look. #cyclocross #gravel #gravelgrinder #cx #bikechi #lovestarbicycles #lovestarbicyclebags #lazersport #championsystem</small>
                           </div>
                           <img src="../lsphotos/image000353_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000354.jpg" title="Helping Daddy back to the staging area : ). #elliotlovestar  #lovestarfactoryteam #lovestarbicyclebags #cycling #cyclocrosschicago #cyclocross #bestpitcrew #bikeracing #bestdadever #bikechicago #bikechi #cantwaitforatwowheeler" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>pattylouwho55</h4>
                              <small>Helping Daddy back to the staging area : ). #elliotlovestar  #lovestarfactoryteam #lovestarbicyclebags #cycling #cyclocrosschicago #cyclocross #bestpitcrew #bikeracing #bestdadever #bikechicago #bikechi #cantwaitforatwowheeler</small>
                           </div>
                           <img src="../lsphotos/image000354_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000355.jpg" title="Lovestar Factory Team today at Caldwell Woods for the start of the Chicago Cross Cup season. Ride tote race and then had a great time killing it on the course. #chicagoCX #bikechi #cyclocross #cycling #lovestarbicycles #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Lovestar Factory Team today at Caldwell Woods for the start of the Chicago Cross Cup season. Ride tote race and then had a great time killing it on the course. #chicagoCX #bikechi #cyclocross #cycling #lovestarbicycles #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000355_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000356.jpg" title="Grassy hill repeats & barrier practice for tonight's ride. #cyclocross #cycling #moots #psychloX #barriers #lovestarbicycles #lovestarbicyclebags #bikechi #bicycle" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Grassy hill repeats & barrier practice for tonight's ride. #cyclocross #cycling #moots #psychloX #barriers #lovestarbicycles #lovestarbicyclebags #bikechi #bicycle</small>
                           </div>
                           <img src="../lsphotos/image000356_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000357.jpg" title="Finished up the sister bag to last nights post. 2 custom Saddle Packs going out this week. #handmade #bikebag #bikechi #bikepacking #bicycle #madeinchicago #cycling #lovestarbicycles #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Finished up the sister bag to last nights post. 2 custom Saddle Packs going out this week. #handmade #bikebag #bikechi #bikepacking #bicycle #madeinchicago #cycling #lovestarbicycles #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000357_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram32.html" class="next">Next Page</a></center>