
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000471.jpg" title="Cold fall ride calls for coffee inside. #lovestarraceclub" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>jim_ftw</h4>
                              <small>Cold fall ride calls for coffee inside. #lovestarraceclub</small>
                           </div>
                           <img src="../lsphotos/image000471_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000461.jpg" title="New Lovestar Race Club cycling caps! #capsnothats #cycling #bicycle #champsys #LovestarRaceClub" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>New Lovestar Race Club cycling caps! #capsnothats #cycling #bicycle #champsys #LovestarRaceClub</small>
                           </div>
                           <img src="../lsphotos/image000461_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000462.jpg" title="New club kits comin'atchya #LovestarRaceClub #cycling #bicycle #champsys #kitsonfleek" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>New club kits comin'atchya #LovestarRaceClub #cycling #bicycle #champsys #kitsonfleek</small>
                           </div>
                           <img src="../lsphotos/image000462_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000472.jpg" title="Focused on his Focus. #focusbikes #lovestarraceclub #carpentercx" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>oliviabeaty</h4>
                              <small>Focused on his Focus. #focusbikes #lovestarraceclub #carpentercx</small>
                           </div>
                           <img src="../lsphotos/image000472_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000473.jpg" title="Gritty & grey this morning for today's ride. Definitely feeling like cyclocross weather. #cycling #bicycle #cyclocross #cx #bikechi #LovestarRaceClub" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Gritty & grey this morning for today's ride. Definitely feeling like cyclocross weather. #cycling #bicycle #cyclocross #cx #bikechi #LovestarRaceClub</small>
                           </div>
                           <img src="../lsphotos/image000473_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000474.jpg" title="Fast ride North this morning to meet up with  my Dad for a scenic ride home. #bicycle #cycling #bikechi #LovestarRaceClub" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Fast ride North this morning to meet up with  my Dad for a scenic ride home. #bicycle #cycling #bikechi #LovestarRaceClub</small>
                           </div>
                           <img src="../lsphotos/image000474_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000014.jpg" title="Racing stripes on a custom #LovestarBicycleBags SaddlePack. #handmade #bicyclebag #cycling #bicycle #bikechi #bikepacking #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Racing stripes on a custom #LovestarBicycleBags SaddlePack. #handmade #bicyclebag #cycling #bicycle #bikechi #bikepacking #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000014_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000475.jpg" title="Sunrise miles & smiles. #LovestarRaceClub #cycling #bicycle #bikechi #coffeeride" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Sunrise miles & smiles. #LovestarRaceClub #cycling #bicycle #bikechi #coffeeride</small>
                           </div>
                           <img src="../lsphotos/image000475_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000015.jpg" title="Custom #LovestarBicycleBags top tube bag. #bikepacking #cycling #bicyclebag #bicycle #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Custom #LovestarBicycleBags top tube bag. #bikepacking #cycling #bicyclebag #bicycle #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000015_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000016.jpg" title="Custom #LoveStarBicycleBags top tube bag in Black & Pink. #handmade #bicyclebag #cycling #bikepacking #bicycle #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Custom #LoveStarBicycleBags top tube bag in Black & Pink. #handmade #bicyclebag #cycling #bikepacking #bicycle #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000016_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000476.jpg" title="Mini epic. #LovestarRaceClub #bicycle #cx #chicrosscup #babySNUB #cyclocross" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Mini epic. #LovestarRaceClub #bicycle #cx #chicrosscup #babySNUB #cyclocross</small>
                           </div>
                           <img src="../lsphotos/image000476_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000477.jpg" title="Well, I didn't get the result I wanted today, but I'll live to fight another day. On the bright side, my bike is now clean. #lovestarraceclub #drwCX #baaw #superx" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>ddave12000</h4>
                              <small>Well, I didn't get the result I wanted today, but I'll live to fight another day. On the bright side, my bike is now clean. #lovestarraceclub #drwCX #baaw #superx</small>
                           </div>
                           <img src="../lsphotos/image000477_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000478.jpg" title="#LovestarRaceClub warmups at Chicago cross cup #3 #drwcx #chicagocrosscup #cycling #cyclocross #cx #bicycle" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#LovestarRaceClub warmups at Chicago cross cup #3 #drwcx #chicagocrosscup #cycling #cyclocross #cx #bicycle</small>
                           </div>
                           <img src="../lsphotos/image000478_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000479.jpg" title="Skills & drills. #cyclocross #cx #bicycle #cycling #LovestarRaceClub" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Skills & drills. #cyclocross #cx #bicycle #cycling #LovestarRaceClub</small>
                           </div>
                           <img src="../lsphotos/image000479_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000480.jpg" title="Chilly #LovestarRaceClub cross practice this morning. #cycling #bicycle #cx #cyclocross #crossishere" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Chilly #LovestarRaceClub cross practice this morning. #cycling #bicycle #cx #cyclocross #crossishere</small>
                           </div>
                           <img src="../lsphotos/image000480_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000017.jpg" title="Black & Lime #LovestarBicycleBags SaddlePack was today's project while the kids were napping. #dadlife #handmade #bicyclebag #cycling #bicycle #SewRad" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Black & Lime #LovestarBicycleBags SaddlePack was today's project while the kids were napping. #dadlife #handmade #bicyclebag #cycling #bicycle #SewRad</small>
                           </div>
                           <img src="../lsphotos/image000017_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000481.jpg" title="Fall sunrise ride #cycling #bicycle #lakeMichigan #ridecannondale #bikechi #coffeeride #LovestarRaceClub" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Fall sunrise ride #cycling #bicycle #lakeMichigan #ridecannondale #bikechi #coffeeride #LovestarRaceClub</small>
                           </div>
                           <img src="../lsphotos/image000481_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000482.jpg" title="Great lineup. #LovestarRaceClub #thePonyShop #ridecannondale" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Great lineup. #LovestarRaceClub #thePonyShop #ridecannondale</small>
                           </div>
                           <img src="../lsphotos/image000482_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000483.jpg" title="#LovestarRaceClub tearing up the CX course today. Nice work @casa.de.cross & @ddave12000 #bicycle #bikechi #chicagocrosscup" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>#LovestarRaceClub tearing up the CX course today. Nice work @casa.de.cross & @ddave12000 #bicycle #bikechi #chicagocrosscup</small>
                           </div>
                           <img src="../lsphotos/image000483_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000484.jpg" title="A very wet #rulenumber5 kind of ride today. Breaking in my new bike in just about the most Belgian way possible. #LovestarRaceClub #ridecannondale #bikechi #cycling #bicycle #toolsnotjewels" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>A very wet #rulenumber5 kind of ride today. Breaking in my new bike in just about the most Belgian way possible. #LovestarRaceClub #ridecannondale #bikechi #cycling #bicycle #toolsnotjewels</small>
                           </div>
                           <img src="../lsphotos/image000484_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram2.html" class="next">Next Page</a></center>