
<div class="container">
    <div class="row">
        <div class="instagram-items ig-items">

          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000417.jpg" title="Sometimes you learn more about yourself in defeat than in victory. I had planned on racing the 63 mile route today but I just wasn't prepared mentally for the race today. Punishing winds broke me open & I just couldn't finish my planned route. I finished the shorter 35 mile route, but felt brutalize the entire way. i had debated about even racing today - it had been a long weekend away from my family, and that isn't a great place to be when you step up to the start line. overall it was a great learning experience and a humbling ride. #wind #gravel #gravelgrinder #lovestarbicyclebags #vbscx #toughmuddr #moots" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Sometimes you learn more about yourself in defeat than in victory. I had planned on racing the 63 mile route today but I just wasn't prepared mentally for the race today. Punishing winds broke me open & I just couldn't finish my planned route. I finished the shorter 35 mile route, but felt brutalize the entire way. i had debated about even racing today - it had been a long weekend away from my family, and that isn't a great place to be when you step up to the start line. overall it was a great learning experience and a humbling ride. #wind #gravel #gravelgrinder #lovestarbicyclebags #vbscx #toughmuddr #moots</small>
                           </div>
                           <img src="../lsphotos/image000417_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000418.jpg" title="Loaded and off to the Dirty Muddr Gravel road race...Which is looking like it will live up to its name. #gravel #moots #lovestarbicyclebags #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Loaded and off to the Dirty Muddr Gravel road race...Which is looking like it will live up to its name. #gravel #moots #lovestarbicyclebags #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000418_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000419.jpg" title="Lovestar Ride Wallet prototype 3.0. Added some elastic bands that can be used to secure a micro pump to the bag and keep your jersey pocket organized. So close to the final design...watch for these on my etsy shop sometime in May! #handmade #lovestarbicyclebags #cycling #bikechi #essentials" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Lovestar Ride Wallet prototype 3.0. Added some elastic bands that can be used to secure a micro pump to the bag and keep your jersey pocket organized. So close to the final design...watch for these on my etsy shop sometime in May! #handmade #lovestarbicyclebags #cycling #bikechi #essentials</small>
                           </div>
                           <img src="../lsphotos/image000419_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000420.jpg" title="Giant square of upholstery grade foam...beginnings of a custom padded case. #whatsinthecase #handmade #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Giant square of upholstery grade foam...beginnings of a custom padded case. #whatsinthecase #handmade #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000420_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000421.jpg" title="@shenanigans1313 yep! Should fit all that no problem. Fits in a jersey pocket...loaded up with 2 levers, a multi-tool, a CO2, a snack, my ID & cards, and the biggest patch kit that I could find. I hope to have these available on my Etsy shop starting in May. #lovestarbicyclebags #cycling #rideessentials #bikechi #handmade" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>@shenanigans1313 yep! Should fit all that no problem. Fits in a jersey pocket...loaded up with 2 levers, a multi-tool, a CO2, a snack, my ID & cards, and the biggest patch kit that I could find. I hope to have these available on my Etsy shop starting in May. #lovestarbicyclebags #cycling #rideessentials #bikechi #handmade</small>
                           </div>
                           <img src="../lsphotos/image000421_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000422.jpg" title="Spring flowers. #moots #bikechi #springride #flowerpower #cycling  #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Spring flowers. #moots #bikechi #springride #flowerpower #cycling  #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000422_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000423.jpg" title="Hard to believe this is Chicago. Easter ride. #bikechi #cycling #lovestarbicyclebags #moots #lakemichigan #3rdcoast" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Hard to believe this is Chicago. Easter ride. #bikechi #cycling #lovestarbicyclebags #moots #lakemichigan #3rdcoast</small>
                           </div>
                           <img src="../lsphotos/image000423_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000424.jpg" title="Lots of solo riding today. Lovestar ride wallet & double espresso action shot. #bikechi #lovestarbicyclebags #cycling #coffedoping" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Lots of solo riding today. Lovestar ride wallet & double espresso action shot. #bikechi #lovestarbicyclebags #cycling #coffedoping</small>
                           </div>
                           <img src="../lsphotos/image000424_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000425.jpg" title="Sometimes a quiet solo ride home with some unplanned stops is best. #bikechi #cycling #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Sometimes a quiet solo ride home with some unplanned stops is best. #bikechi #cycling #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000425_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000426.jpg" title="Designing Lovestar team kits in MS paint... #lovestarbicyclebags #imaynotbefastbutilookgood" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Designing Lovestar team kits in MS paint... #lovestarbicyclebags #imaynotbefastbutilookgood</small>
                           </div>
                           <img src="../lsphotos/image000426_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000427.jpg" title="Waffle Ride! 60 miles, 1 tricky flat, 4 killer waffles. #delbescorner #cycling #bikechi #bikeevanston #lovestarbicyclebags #waffles" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Waffle Ride! 60 miles, 1 tricky flat, 4 killer waffles. #delbescorner #cycling #bikechi #bikeevanston #lovestarbicyclebags #waffles</small>
                           </div>
                           <img src="../lsphotos/image000427_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000428.jpg" title="New tires...#gravelgrinder #clement #moots #lovestarbicyclebags #psychloX" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>New tires...#gravelgrinder #clement #moots #lovestarbicyclebags #psychloX</small>
                           </div>
                           <img src="../lsphotos/image000428_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000429.jpg" title="Ride wallet prototype 2.0 #cycling #bikechi #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Ride wallet prototype 2.0 #cycling #bikechi #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000429_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000430.jpg" title="Finished up a custom Lovestar frame bag for a Chicago customer. Hi-vis orange XPac sidewalls, waterproof zippers, dark orange Cordura edges, yellow interior. #bikepacking #bikechi #cycling #handmade #framebag #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Finished up a custom Lovestar frame bag for a Chicago customer. Hi-vis orange XPac sidewalls, waterproof zippers, dark orange Cordura edges, yellow interior. #bikepacking #bikechi #cycling #handmade #framebag #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000430_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000431.jpg" title="Time to call it a night...made some good progress on this custom Lovestar Frame bag. #handmade #cycling #bikepacking #bikechi #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Time to call it a night...made some good progress on this custom Lovestar Frame bag. #handmade #cycling #bikepacking #bikechi #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000431_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000432.jpg" title="Finishing up a Black & Pink Lovestar Saddle Pack tonight. #handmadeisbetter #handmade #cycling #lovestarbicyclebags #bikechi #bikepacking" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Finishing up a Black & Pink Lovestar Saddle Pack tonight. #handmadeisbetter #handmade #cycling #lovestarbicyclebags #bikechi #bikepacking</small>
                           </div>
                           <img src="../lsphotos/image000432_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000433.jpg" title="Best way to recover from a hard ride...go for a ride #cycling #bikechi  #lovestarbicyclebags" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Best way to recover from a hard ride...go for a ride #cycling #bikechi  #lovestarbicyclebags</small>
                           </div>
                           <img src="../lsphotos/image000433_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000434.jpg" title="60 mile Waffle Ride. #cycling #waffles #lovestarbicyclebags #bikechi #delbescorner" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>60 mile Waffle Ride. #cycling #waffles #lovestarbicyclebags #bikechi #delbescorner</small>
                           </div>
                           <img src="../lsphotos/image000434_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000435.jpg" title="Haven't been able to get a whole lot of work done lately...so it felt good to finally sit down and make up this bag for a friend. Stealthy black with a bit of red flash on the inside. #lovestarbicyclebags #bikepacking #handmade #cycling" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>Haven't been able to get a whole lot of work done lately...so it felt good to finally sit down and make up this bag for a friend. Stealthy black with a bit of red flash on the inside. #lovestarbicyclebags #bikepacking #handmade #cycling</small>
                           </div>
                           <img src="../lsphotos/image000435_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="instagram-item">
                  <div class="hover-bg">
                      <a tabindex="1" href="../lsphotos/image000436.jpg" title="The Lovestar workbench. Every single Lovestar bag has been made using one of these two machines. The black one is a 1948 Singer featherweight 221-1 that was originally an engagement present from my grandfather to my grandmother. The white machine is a 1963 Singer Feather weight 221K and belonged to my other grandmother. When you buy a handmade product, you are able to own something that has a story all it's own before it even gets used. Every Lovestar product is Steeped in my own family history just by the nature of the tools I use. As a craftsman, these tools give me an enormous connection to the bags I make, and offers a intimate and personal touch to my work that makes every Lovestar big unique. #handmade #lovestarbicyclebags #singer #bikebpacking #cycling #bikechi" rel="lightbox" class="fancybox">
                          <div class="hover-text">
                              <h4>elliotlovestarbicycles</h4>
                              <small>The Lovestar workbench. Every single Lovestar bag has been made using one of these two machines. The black one is a 1948 Singer featherweight 221-1 that was originally an engagement present from my grandfather to my grandmother. The white machine is a 1963 Singer Feather weight 221K and belonged to my other grandmother. When you buy a handmade product, you are able to own something that has a story all it's own before it even gets used. Every Lovestar product is Steeped in my own family history just by the nature of the tools I use. As a craftsman, these tools give me an enormous connection to the bags I make, and offers a intimate and personal touch to my work that makes every Lovestar big unique. #handmade #lovestarbicyclebags #singer #bikebpacking #cycling #bikechi</small>
                           </div>
                           <img src="../lsphotos/image000436_small.jpg" class="img-responsive lazy" alt="">
                      </a>
                  </div>
              </div>
          </div>
<div class="scroll"><center><a href="instagram36.html" class="next">Next Page</a></center>